<ion-view hide-back-button="true">
    <ion-nav-title>
        {{ "lbl_picking" | translate }} <div class="sub-title"> Shipment 238<div class="arrow-down"></div></div>
    </ion-nav-title>
    
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goTo('app.picking-downloaded','slideDown')">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear button-done" ng-click="vm.goTo('app.picking-downloaded','slideDown')">
            {{ 'btn_done' | translate }}
        </button>
		
		<button class="button button-icon" ng-click="">
            <mxi-icon icon="icon-nav-grid"></mxi-icon>
        </button>
		
        <button class="button button-icon" ng-click="vm.goTo('app.picking-downloaded-details','none')">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
		
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <ion-content class="has-header">
        <ion-list>
            <div class="item text-center key top-bottom-padding">
                {{"to_toggle_grouping_option_tap" | translate}}
            </div>
			
            <div class="item left-counter">
            	<div class="row">
					<div class="col-20 no-border-bottom small-left-counter-title">
						&nbsp;
					</div>
            		<div class="col-40 text-left small-left-counter-title">
            			{{ 'lbl_shipment_lines' | translate }} 3
            		</div>
            		<div class="col-40 text-left small-left-counter-title">
            			{{ 'lbl_pick_lines' | translate }} 3
            		</div>
            	</div>
            </div>
			
            <a class="item left-counter" href="#">				
            	<div class="row">	                
					
					<div class="col-20 no-border-bottom">
						<span class="small-number">1</span>
					</div>
					
	                <div class="col-40">
	               		C00001
	               		<p>Description here</p>
	               		<p>{{ 'lbl_bin_no' | translate }}</p>
	               		<p>{{ 'lbl_serial_lot' | translate }}</p>
	               	</div>
					
	               	<div class="col-40">
	               		<div class="row set-absolute">
	               			<div class="col text-base center left">
	               				<span class="medium-count">5</span>
								<span class="medium-count-text">{{ 'lbl_pick' | translate }} ({{ 'lbl_ea' | translate }})</span>
								
	               			</div>
	               			<div class="col text-base center right">
								<span class="medium-count">5</span>
								<span class="medium-count-text">{{ 'lbl_pull' | translate }} ({{ 'lbl_ea' | translate }})</span>								
	               			</div>
	               		</div>
	               	</div>
					
               </div>
            </a>
			
			<a class="item left-counter" href="#">				
            	<div class="row">	                
					
					<div class="col-20 no-border-bottom">
						<span class="small-number">1</span>
					</div>
					
	                <div class="col-40">
	               		C00001
	               		<p>Description here</p>
	               		<p>{{ 'lbl_bin_no' | translate }}</p>
	               		<p>{{ 'lbl_serial_lot' | translate }}</p>
	               	</div>
					
	               	<div class="col-40">
	               		<div class="row set-absolute">
	               			<div class="col text-base center left">
	               				<span class="medium-count">5</span>
								<span class="medium-count-text">{{ 'lbl_pick' | translate }} ({{ 'lbl_ea' | translate }})</span>
								
	               			</div>
	               			<div class="col text-base center right">
								<span class="medium-count">5</span>
								<span class="medium-count-text">{{ 'lbl_pull' | translate }} ({{ 'lbl_ea' | translate }})</span>								
	               			</div>
	               		</div>
	               	</div>
					
               </div>
            </a>
			
			<a class="item left-counter" href="#">				
            	<div class="row">
					
					<div class="col-20 no-border-bottom">
						<span class="small-number">1</span>
					</div>
					
	                <div class="col-40">
	               		C00001
	               		<p>Description here</p>
	               		<p>{{ 'lbl_bin_no' | translate }}</p>
	               		<p>{{ 'lbl_serial_lot' | translate }}</p>
	               	</div>
					
	               	<div class="col-40">
	               		<div class="row set-absolute">
	               			<div class="col text-base center left">
	               				<span class="medium-count">5</span>
								<span class="medium-count-text">{{ 'lbl_pick' | translate }} ({{ 'lbl_ea' | translate }})</span>
								
	               			</div>
	               			<div class="col text-base center right">
								<span class="medium-count">5</span>
								<span class="medium-count-text">{{ 'lbl_pull' | translate }} ({{ 'lbl_ea' | translate }})</span>								
	               			</div>
	               		</div>
	               	</div>
					
               </div>
            </a>
			
			
			
        </ion-list>
    </ion-content>
</ion-view>