<ion-view>
    <ion-nav-title>
        {{ "lbl_submit_picking" | translate }}
    </ion-nav-title>

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear">
            {{ 'btn_submit' | translate }}
        </button>
        <button class="button button-icon" ng-click="vm.pickingOption($event,'printer')">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <ion-content class="has-header">
            <div class="item text-center key">
                {{ "select_location_and_press_send_to_submit" | translate }}
            </div>
            <ion-checkbox>
                <div class="row">
                <div class="icon scale">
                    <div class="full"></div> <!-- full / half / empty -->
                </div>
                	<div class="col">
                		Shipment 238 <br />
                		<p>CHRIS 1 - FILL STOCK</p>
                	</div>
                	<div class="col col-33 text-right text-middle">
                		3
                	</div>
                </div>
	        </ion-checkbox>
            <ion-checkbox>
                <div class="row">

	                <div class="icon scale">
	                    <div class="empty"></div> <!-- full / half / empty -->
	                </div>
                	<div class="col">
                		Shipment 238 <br />
                		<p>CHRIS 1 - FILL STOCK</p>
                	</div>
                	<div class="col col-33 text-right text-middle">
                		2
                	</div>
                </div>
	        </ion-checkbox>
            <div class="item text-center key clearkey left top-border-gray no-border-bottom">
                {{"lbl_send_options" | translate}}
            </div>
			<ion-list class="ui-radio no-borders">
				<ion-radio>
					{{ 'lbl_save_release_and_print' | translate }}
				</ion-radio>
				<ion-radio>
					{{ 'lbl_save_release_and_print' | translate }}
				</ion-radio>
			</ion-list>
    </ion-content>
</ion-view>