<ion-view hide-back-button="true">
    <ion-nav-title>
    	{{ 'lbl_enter_inventory_location' | translate }}
	</ion-nav-title>    

    <ion-nav-buttons side="left">

        <button class="button button-icon" ng-click="vm.goTo('app.picking')">
            <mxi-icon icon="icon-check"></mxi-icon>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
			<div class="item text-center key clearkey">{{ 'select_inventory_location' | translate }}</div>
            <a class="item" href="#/app/issues-change-company">
        		<div class="row">
        			<div class="col">
	    				{{ 'lbl_company' | translate }}
        			</div>
        			<div class="col">
        				9500 - Hospital Entity
        			</div>
        		</div>
            </a>
            <a class="item" href="#/app/issues-change-location">
        		<div class="row">
        			<div class="col">
	    				{{ 'lbl_location' | translate }}
        			</div>
        			<div class="col">
        				1 - Location 1 Transfer
        			</div>
        		</div>        	
            </a>
			<div class="item text-center key clearkey">{{ 'lbl_select_requesting' | translate }}</div>
            <a class="item" href="#/app/issues-change-company">
        		<div class="row">
        			<div class="col">
	    				{{ 'lbl_company' | translate }}
        			</div>
        			<div class="col">
        				9500 - Hospital Entity
        			</div>
        		</div>
            </a>
            <a class="item" href="#/app/issues-change-location">
        		<div class="row">
        			<div class="col">
	    				{{ 'lbl_location' | translate }}
        			</div>
        			<div class="col">
        				1 - Location 1 Transfer
        			</div>
        		</div>        	
            </a>
        </ion-list>
    </ion-content>
</ion-view>