
<ion-view hide-back-button="true">

    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
         {{ 'lbl_picking' | translate }}
         <div class="sub-title">
         	{{ 'lbl_loc_type' | translate }}: All - {{ 'lbl_assignment' | translate }}: NOT ASSIGNED
     	</div>
   </ion-nav-title>
   <!-- END Title header --> 
   
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-icon">
            <mxi-icon icon="icon-refresh"></mxi-icon>
        </button>
        <button class="button button-icon" ng-click="vm.pickingOption($event,'picking')">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->
   <!-- START View content --> 
  <ion-content class="has-header">
			<form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="vm.searchText" placeholder="Search Locations">
                    </label>
                    <button class="button button-small" ng-show="vm.searchText.length">SEARCH</button>
                </div>
				
				<div class="item text-center key">
					{{ 'select_item_to_download' | translate }}
				</div>
				
            </form>
          

         <ion-list class="ui-radio">
            <ion-checkbox ng-click="vm.goTo('app.picking-downloaded');">
            	<div class="row">
					<div class="col-10">
						<mxi-icon icon="icon-small-user" class="picking-user-icon"></mxi-icon>            			
						<mxi-icon icon="icon-round-blue-rl" class="icon-round-blue"></mxi-icon>
            		</div>
            		<div class="col">
            			Shipment 238 <br />
            			<span class="item-subtitle">CHRIS 1 - FILL STOCK</span> 
            		</div>
            		<div class="col col-33 text-right">
            			<span class="right-count">3</span>
            			<mxi-icon icon="icon-small-info" class="icon-small-info"></mxi-icon>
            		</div>
            	</div>
            </ion-checkbox>
            
			<ion-checkbox>
            	<div class="row">
					<div class="col-10">
						<mxi-icon icon="icon-small-user" class="picking-user-icon"></mxi-icon>
            			<mxi-icon icon="icon-round-blue-rl" class="icon-round-blue"></mxi-icon>
            		</div>
            		<div class="col">
            			Shipment 45 <br />
            			<span class="item-subtitle">CHRIS 1 - FILL STOCK</span> 
            		</div>
            		<div class="col col-33 text-right">
            			<span class="right-count">2</span>
            			<mxi-icon icon="icon-small-info" class="icon-small-info"></mxi-icon>
            		</div>
            	</div>
            </ion-checkbox>
			
			 <ion-checkbox>
            	<div class="row">
					<div class="col-10">
            			<mxi-icon icon="icon-round-blue-pl" class="icon-round-blue"></mxi-icon>
            		</div>
            		<div class="col">
            			Shipment 45 <br />
            			<span class="item-subtitle">CHRIS 1 - FILL STOCK</span> 
            		</div>
            		<div class="col col-33 text-right">
            			<span class="right-count">2</span>						
            			<mxi-icon icon="icon-small-info" class="icon-small-info"></mxi-icon>
            		</div>
            	</div>
            </ion-checkbox>
			
			 <ion-checkbox>
            	<div class="row">
					<div class="col-10">
						<mxi-icon icon="icon-small-user" class="picking-user-icon"></mxi-icon>            			
						<mxi-icon icon="icon-round-blue-rl" class="icon-round-blue"></mxi-icon>
            		</div>
            		<div class="col">
            			Shipment 45 <br />
            			<span class="item-subtitle">CHRIS 1 - FILL STOCK</span> 
            		</div>
            		<div class="col col-33 text-right">
            			<span class="right-count">2</span>						
            			<mxi-icon icon="icon-small-info" class="icon-small-info"></mxi-icon>
            		</div>
            	</div>
            </ion-checkbox>
			
        </ion-list>
  </ion-content>
  <!-- END View content --> 
</ion-view>

