
<ion-view>

    <!-- START Title header -->
   <ion-nav-title>
         {{ 'lbl_picking' | translate }}
   </ion-nav-title>
   <!-- END Title header --> 
   
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
		
      <div class="ui-button-bar">        
		<!--<button class="button button-icon" ng-click="vm.pickingOption($event,'refresh')">
            <mxi-icon icon="icon-refresh"></mxi-icon>
        </button>-->		
        <button class="button button-icon" ng-click="vm.pickingOption($event,'edit')">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <ion-nav-buttons side="left">
        <ion-bar-header style="background-color:#317C73" class="bar bar-energized bar-shadowed" ng-show="vm.showOptionToDelete">
	        <button side="left" class="button button-icon" ng-click="vm.clearAll(); vm.showOptionToDelete = false;">
	            <mxi-icon icon="icon-nav-close"></mxi-icon>
	        </button>

	        <h1 class="title title-left" style="left: 52px; text-align:left;">{{ "lbl_selected" | translate }}</h1>
	        <div class="buttons pull-right">
	            <button class="button button-clear" ng-click="vm.deleteParForms()" ng-disabled="">{{ "btn_delete" | translate }}</button> 
	            <button class="button button-icon" ng-click="vm.optionMore($event,'select-clear');">
	                <mxi-icon icon="icon-nav-more"></mxi-icon>
	            </button>
	        </div>
       </ion-bar-header>
	</ion-nav-buttons>


   <!-- START View content --> 
  <ion-content class="has-header">
          <div class="item text-center key">
            {{ 'select_item_to_download' | translate }}
          </div>

         <ion-list show-delete="vm.showOptionToDelete">
			<ion-item class="item-icon-left no-border" ng-click="vm.goTo('app.picking-downloaded-details','slideUp')" href="#" collection-repeat="item in vm.pickingItems">
                <ion-delete-button class="ui-checkbox{{ (item.val)  ? '' : '-blank' }}"  ng-click="item.val = !item.val;" >
					<i class="checkbox-icon"></i>
                </ion-delete-button>
                <input type="checkbox" ng-model="item.val" style="display:none;" />   

                <div class="icon scale">
                    <div class="empty"></div> <!-- full / half / empty -->                    
                </div>
                 <!-- <div class="item-user"></div> -->
                 <div class="row">
                 	<div class="col">
		                	{{ item.name }}
		                <p class="item-subtitle">{{ item.det }}</p>
		            </div>
		            <div class="col text-right col-33 text-middle">
		            	<span>{{ item.qty }}</span>
		            </div>
		        </div>
		        
            </ion-item>
        </ion-list>
  </ion-content>
  <!-- END View content --> 
</ion-view>

