<ion-view hide-back-button="true">
    <!-- START Title header -->
   <ion-nav-title>
         {{ 'lbl_picking' | translate }}
   </ion-nav-title>
   <!-- END Title header --> 
   
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goTo('app.picking-downloaded','slideDown')">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear button-done" ng-click="vm.goTo('app.picking-downloaded','slideDown')">
            {{ 'btn_done' | translate }}
        </button>
        <button class="button button-icon" ng-click="vm.goTo('app.picking-downloaded-details-list','none')">
            <mxi-icon icon="icon-nav-list"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->


   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item text-center key top-bottom-padding" ng-if="vm.localStorShowHelp != '0'">
            Enter Pick Items
        </div>
        <div class="item text-center counter">{{ "shipment_line_number" | translate }} 1 of 1</div>
		<ion-slide-box show-pager="false" on-slide-changed="vm.slideChanged($index)">
			<ion-slide>
		        <ion-list>
		            <ion-item class="item-icon-left item-detail no-border">
		                <i class="icon"><span class="thumb">A</span></i>
		                <div class="ac-container">
	                		C00001
							<div class="icons-tu">
								<mxi-icon icon="icon-small-orange-t"></mxi-icon>
								<mxi-icon icon="icon-small-green-u"></mxi-icon>
							</div>
	                		<p>Description Here</p>
		                </div>
		            </ion-item>
					
					<ion-item class="reset-margin">              
		                	<div class="row">
		                		<div class="col-80">
		                			<div class="row bottom-margin">
				                    	<div class="col-30 valign-text">
											{{ 'lbl_pulled' | translate }}
										</div>
				                    	<div class="col-50">
											<div class="row no-padding-sides">
												<div class="col no-padding-sides margin-right">
													<label class="item item-input">
														<input type="text" />
													</label>
												</div>
												<div class="col no-padding-sides">
													<label class="item-input item-select small">
														<select class="dropdown">
															<option>EA</option>
															<option>BG</option>
															<option>BX</option>
														</select>
													</label>
												</div>
											</div>											
				                    	</div>
				                    </div>
				                    <div class="row bottom-margin">
				                    	<div class="col-33 valign-text">
				                    		{{ 'lbl_tracking' | translate }}
				                    	</div>
				                    	<div class="col no-padding-sides">
				                    		<label class="item item-input max140">
				                    			<input type="text" placeholder="{{ 'lbl_required' | translate }}" />
				                    		</label>
				                    	</div>
				                    </div>
									
			                    </div>
			                    <div class="col-20 text-center">
			                    	<button class="button button-clear add-plus-button">
			                    		+
			                    	</button>
			                    </div>
		                	</div>
							<div class="row bottom-margin">								
				                <div class="col-33 valign-text">
				                    Pick
				                </div>
								<div class="col-66 valign-text no-padding-sides text-right">
				                 	5 EA
				                </div>				                
							</div>
	                		<button class="button button-clear button-left blue-button">
	                			PULL ALL
	                		</button>
		            </ion-item>

		                <ion-item class="reset-margin">
		                	<div class="row">
		                		<div class="col">
		                			Pick Line Details
		                		</div>
		                		<div class="col text-right">
		                			0/5
		                		</div>
		                	</div>
		           	 	</ion-item>

						<div class="item text-center key clearkey left no-border-bottom">
				            {{ "lbl_additional_options" | translate }}
				        </div>
				        <ion-toggle class="no-border last-item-in-list">
				        	{{ 'lbl_void_kill' | translate }}
					    </ion-toggle>
		        </ion-list>
			</ion-slide>
		</ion-slide-box>

	</ion-content>
  <!-- END View content --> 

    <ion-footer-bar align-title="left">
        <div class="buttons xi-nav">
            <button class="button button-icon icon-left" ng-click="vm.slidePrevious()">
                <mxi-icon icon="icon-previous"></mxi-icon>
                <span class="btn-text">{{ 'btn_previous' | translate }}</span>
            </button>
        </div>
        <div class="buttons xi-nav pull-right">
            <button class="button button-icon icon-right" ng-click="vm.slideNext()">
                <span class="btn-text">{{ 'btn_next' | translate }}</span>
                <mxi-icon icon="icon-next"></mxi-icon>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

