<ion-view>
	<ion-nav-bar class="bar {{setNavColor}}">
	    <ion-nav-title>
	    	{{"title_change_company_and_location" | translate}}
		</ion-nav-title>    

	    <ion-nav-buttons side="left">
	        <button class="button button-icon" ng-click="vm.goBack()">
	            <mxi-icon icon="icon-nav-close"></mxi-icon>
	        </button>
	    </ion-nav-buttons>
	</ion-nav-bar>

    <ion-content>
        <ion-list>
            <a class="item" href="#/app/pick-for-par-change-company" nav-direction="forward">
                <div class="row">
                    <div class="col col-33">{{"lbl_company" | translate}}</div>
                    <div class="col ui-text-secondary text-right">Makati Medical Center</div>
                </div>
            </a>
            <a class="item" href="#/app/pick-for-par-change-location" nav-direction="forward">
                <div class="row">
                    <div class="col col-33">{{"lbl_location" | translate}}</div>
                    <div class="col ui-text-secondary text-right">AGN - 1st Floor North Wing Bldg A</div>
                </div>
            </a>
        </ion-list>
    </ion-content>
</ion-view>