<ion-view hide-back-button="true"  hide-nav-bar="true">    
	<ion-nav-bar>
	</ion-nav-bar>
    <ion-content>
    	<div style="text-align: center; padding: 50px 30px;">
    		<img src="assets/motion/img/infor-logo-128x128.png">

    		<h1>pou</h1>
    		<br /><br /><br />

    		<label class="item item-input" style="padding: 3px 10px;">
			  <i class="icon ion-person placeholder-icon" style="border-right: 1px solid #c1c1c1; height: 23px;"></i>
			  <input type="text" placeholder="Username" style="padding: 10px;">
			</label>
			<br />
    		<label class="item item-input" style="padding: 3px 10px;">
			  <i class="icon ion-locked placeholder-icon" style="border-right: 1px solid #c1c1c1; height: 23px;"></i>
			  <input type="password" placeholder="Password" style="padding: 10px;">
			</label>
			<br />
    		<button class="button button-full" style="background-color: #12a3f4; color: #fff;" ng-click="vm.doLogin()">Sign In</button>
    		<button class="button button-clear" style="color: #12a3f4;">Profile</button>
    	</div>

    </ion-content>
</ion-view>
