
<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar {{setNavColor}}">
                <ion-nav-back-button class="button button-icon" nav-direction="back" nav-transition="android">
                     <mxi-icon icon="icon-nav-back"></mxi-icon>
                </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menu-content"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="dark">
        <ion-content>
            <ion-list>
                <div class="bar-header user-section">
                    <mxi-icon icon="icon-user-avatar" class="avatar"></mxi-icon>
                    <div class="user-name">Aivy Torres</div>
                    <div class="job-title">(u8519)</div>
                </div>

                <ion-item menu-close  nav-direction="forward" ui-sref="app.welcome" ui-sref-active="current">
                    <mxi-icon icon="icon-menu-home"></mxi-icon> 
                    <span class="title">{{"title_home" | translate}}</span>
                </ion-item>
                <ion-item ng-if="Modules.indexOf('Par Count') != -1" menu-close nav-direction="forward" ui-sref="app.my-par-forms" ui-sref-active="current" ng-click="vm.firstEnter('Parcount')">
                    <mxi-icon icon="icon-menu-par-count"></mxi-icon> 
                    <span class="title">{{"menu_par_count" | translate}}</span>
                </ion-item>
                <ion-item ng-if="Modules.indexOf('Pick For Par') != -1" menu-close nav-direction="forward" ui-sref="app.pick-for-par" ui-sref-active="current" ng-click="vm.firstEnter('PickForPar')">
                    <mxi-icon icon="icon-menu-pick-for-par"></mxi-icon> 
                    <span class="title">{{"pick_for_par" | translate}}</span>
                </ion-item>
                <ion-item ng-if="Modules.indexOf('Cycle Count') != -1" menu-close ui-sref="app.cycle-count" ui-sref-active="current" ng-click="vm.firstEnter('CycleCount')">
                    <mxi-icon icon="icon-menu-cycle-count"></mxi-icon> 
                    <span class="title">{{"cycle_count" | translate}}</span>
                </ion-item>

                <ion-item menu-close class="bar-footer" href="#/app/settings" ui-sref="app.settings" ui-sref-active="current">{{"settings" | translate}}</a></ion-item>
                <ion-item class="bar-footer" href="#" ng-click="vm.signOutConfirmation()">{{"signoff" | translate}}</a></ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>