<ion-view title='{{"title_home" | translate}}'>
    <ion-nav-title>
        {{"title_home" | translate}}
    </ion-nav-title>
    
   
    <ion-content class="has-header has-tabs" has-header="true" has-tabs="true">
        <!--ion-refresher
          pulling-text='{{ "lbl_pull_to_refresh" | translate }}'
          on-refresh="vm.doRefresh()">
        </ion-refresher -->
        
        
    </ion-content>
</ion-view>