<div class="svg-icons">
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icons" style="display: none;">
        
        <!-- MPC MENU ICONS -->
        <symbol id="icon-menu-home" viewBox="0 0 32 32"><circle fill="#6AA43C" cx="16" cy="16" r="16"/><path fill="#fff" d="M26.366 15.974c.388 0 .468-.21.179-.47l-10.085-9.831c-.289-.259-.758-.259-1.047 0l-10.208 9.831c-.287.26-.208.47.179.47h1.914c.385 0 .702.316.702.704v7.621c0 .386.317.701.703.701h4.587c.386 0 .703-.315.703-.701v-5.625c0-.387.316-.701.703-.701h2.604c.386 0 .702.314.702.701v5.625c0 .386.318.701.703.701h4.575c.387 0 .704-.315.704-.701v-7.621c0-.388.318-.704.703-.704h1.679z"/></symbol>
        
        <symbol id="icon-menu-par-count" viewBox="0 0 32 32"><circle fill-rule="evenodd" clip-rule="evenodd" fill="#EFA836" cx="16" cy="16" r="16"/><path fill="#FFFEFD" d="M27.066 16.666l-3.713 5.979c-.205.36-.437.343-.669.343l-16.992.01c-.358 0-.688-.293-.688-.65l-.004-8.661c0-.359.33-.65.688-.65l.632-.014c.358 0 .68.291.68.65v1.298l-.01.029 15.01.031v-1.493c0-.328.314-.538.654-.538h1.125l.088-.021c.154 0 .245.047.391.192l2.725 2.284c.39.397.386.653.083 1.211"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFEFD" d="M10.994 12.423v1.573h-2.916v-1.573c0-.196.189-.375.387-.375h2.168c.197 0 .361.179.361.375M15.99 10.438v3.559h-3.928v-3.559c0-.196.138-.375.335-.375h3.243c.198-.001.35.178.35.375M20.994 7.454v6.521h-3.932v-6.521c0-.197.15-.376.346-.376h3.185c.197 0 .401.179.401.376"/></symbol>
        
        <symbol id="icon-menu-pick-for-par" viewBox="0 0 32 32"><circle fill="#317C73" cx="16" cy="16" r="16"/><path fill="#fff" d="M11.008 21.998c-1.073 0-1.945.896-1.945 2 0 1.105.872 2.002 1.945 2.002s1.945-.896 1.945-2.002c0-1.103-.872-2-1.945-2m-.01 3.027c-.546 0-.991-.443-.991-.99s.445-.99.991-.99.991.443.991.99-.446.99-.991.99M25.523 20.023l-17.461.024c-.081 0-.082-.098-.082-.18v-.4l-.011-9.957v-.456c0-.823-.6-1.39-1.423-1.39h-.383c-.367.001-.663.309-.663.675s.296.653.663.653h.726c.092 0 .152-.052.152.04v.456l-.02 9.763v.4c0 .723.6 1.301 1.322 1.301h17.125c.322 0 .602-.143.602-.463 0-.321-.224-.466-.547-.466M24.861 14.473l-2.605 4.257c-.145.254-.307.242-.471.242h-12.266c-.252 0-.456-.205-.456-.457v-6.083c0-.252.204-.457.456-.457h.4c.252 0 .457.205.457.457v.594l.002.021h11.618v-.67c.021-.229.216-.41.454-.41h.105l.062.001c.107 0 .172.041.273.144l1.914 1.508c.274.277.27.462.057.853M22.008 21.998c-1.082 0-1.961.896-1.961 2 0 1.105.879 2.002 1.961 2.002 1.081 0 1.961-.896 1.961-2.002 0-1.103-.88-2-1.961-2m-.01 3.027c-.547 0-.991-.443-.991-.99s.444-.99.991-.99c.545 0 .99.443.99.99s-.445.99-.99.99"/></symbol>
        
        <symbol id="icon-menu-cycle-count" viewBox="0 0 32 32"><circle fill="#6E5282" cx="16" cy="16" r="16"/><path fill="#fff" d="M27.368 17.986l-3.353 5.675c-.185.325-.394.31-.604.31h-15.807c-.324 0-.587-.263-.587-.587v-8.808c0-.324.263-.587.587-.587h.79c.324 0 .587.263.587.587v1.4l.003.026h14.012v-1.485c.027-.296.277-.528.584-.528h.821l.079.002c.139 0 .221.053.352.184l2.461 2.711c.353.359.348.596.075 1.1M13.835 10.421c.396 0 .619.346.38.655l-1.485 2.807c-.203.316-.569.345-.76.098l-1.485-2.904c-.24-.31-.017-.655.379-.655h2.971m4.868 1.305c-.396 0-.621-.343-.38-.654l1.484-2.808c.204-.316.568-.344.76-.097l1.485 2.904c.24.311.016.654-.38.654h-2.969M17.027 8.662c-.006.396-.354.613-.66.369l-2.784-1.527c-.314-.207-.336-.574-.086-.762l2.927-1.44c.312-.235.654-.007.648.39l-.045 2.97m-1.459 4.854c.006-.396.354-.616.66-.37l2.785 1.527c.313.208.336.572.086.761l-2.927 1.441c-.314.235-.655.006-.649-.39l.045-2.969M18.766 13.327l1.009.562c.609-.768.965-1.709.97-2.787h-1.104v-.027c0 .863-.346 1.652-.875 2.252"/><path fill="#fff" d="M16.143 14.472c-.819-.015-1.566-.32-2.146-.819l-.537 1.017c.742.569 1.664.916 2.666.936l.017-1.134zM12.846 11.483c-.022-.063-.034-.281-.034-.443 0-.897.35-1.695.92-2.304l-1.015-.548c-.646.783-1.034 1.755-1.034 2.847 0 .162.009.385.025.448h1.138zM15.891 7.693l.321-.016c.876 0 1.675.332 2.277.878l.542-1.024c-.773-.616-1.753-.986-2.817-.986l-.307.012-.016 1.136zM20.745 11.075l-.001.021h.001v-.021"/></symbol>
        
        <!-- App Nav -->
        <symbol id="icon-user-avatar" viewBox="0 0 32 32"><rect fill="#DDDDDD" width="32" height="32"></rect><g><circle fill="#666666" cx="16" cy="11.4" r="6.4"></circle><path fill="#666666" d="M26.3,32c0.2-0.4,0.3-0.9,0.3-1.5l-1-8.3c-0.2-1.4-1.4-2.5-2.8-2.5H9.2c-1.4,0-2.7,1.1-2.8,2.5l-1,8.3 c-0.1,0.6,0,1.1,0.3,1.5H26.3z"></path></g>
        </symbol>

        <!-- Search Results -->
        <symbol id="icon-business-object" viewBox="0 0 32 32"><path fill="#6DC80D" d="M21,7c-4.9,0-9,4-9,9c0,4.9,4,9,9,9c4.9,0,9-4,9-9C30,11,26,7,21,7z M21,21.4c-3,0-5.4-2.4-5.4-5.4 c0-3,2.4-5.4,5.4-5.4c3,0,5.4,2.4,5.4,5.4C26.5,19,24,21.4,21,21.4z"></path><path fill="#1C9A17" d="M10.7,21.4c-2.9-0.1-5.2-2.5-5.2-5.4s2.3-5.3,5.2-5.4c0.9-1.2,2.2-2.2,3.7-2.9C13.3,7.2,12.1,7,10.9,7 C6,7,2,11,2,16c0,4.9,4,9,9,9c1.2,0,2.4-0.2,3.4-0.7C12.9,23.6,11.7,22.6,10.7,21.4z"></path>
        </symbol>
        
        <symbol id="icon-nav-menu" viewBox="4 0 18 18"><path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M0 3v2h18v-2h-18zm0 7h18v-2h-18v2zm0 5h18v-2h-18v2z"/></symbol>
        
        <symbol id="icon-nav-back" viewBox="5 1 18 18"><path fill="#fff" d="M16 8.016h-11.565l4.332-4.289c.391-.388.396-1.021.008-1.414-.39-.393-1.021-.396-1.415-.008l-6.062 6c-.394.387-.398 1.021-.01 1.414l6 6.062c.196.198.455.297.712.297.254 0 .508-.097.704-.289.394-.388.397-1.021.008-1.414l-4.317-4.375h11.605c.553 0 1-.433 1-.984s-.447-1-1-1"/></symbol>
        
        <symbol id="icon-nav-close" viewBox="6 0 18 18"><path fill="#fff" d="M10.414 9l5.293-5.293c.391-.391.391-1.022 0-1.414-.391-.391-1.023-.391-1.414 0l-5.293 5.293-5.293-5.293c-.391-.391-1.022-.391-1.414 0-.391.392-.391 1.023 0 1.414l5.293 5.293-5.293 5.293c-.391.391-.391 1.023 0 1.414.195.195.451.293.707.293.256 0 .512-.098.707-.293l5.293-5.293 5.293 5.293c.195.195.451.293.707.293s.512-.098.707-.293c.391-.391.391-1.023 0-1.414l-5.293-5.293"/></symbol>
        
        <symbol id="icon-search-close" viewBox="0 0 18 18"><path fill="#747474" d="M10.414 9l5.293-5.293c.391-.391.391-1.022 0-1.414-.391-.391-1.023-.391-1.414 0l-5.293 5.293-5.293-5.293c-.391-.391-1.022-.391-1.414 0-.391.392-.391 1.023 0 1.414l5.293 5.293-5.293 5.293c-.391.391-.391 1.023 0 1.414.195.195.451.293.707.293.256 0 .512-.098.707-.293l5.293-5.293 5.293 5.293c.195.195.451.293.707.293s.512-.098.707-.293c.391-.391.391-1.023 0-1.414l-5.293-5.293"/></symbol>
        
        <symbol id="icon-nav-grid" viewBox="0 0 18 18"><path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M4 1h-2c-.553 0-1 .447-1 1v2c0 .552.447 1 1 1h2c.553 0 1-.448 1-1v-2c0-.553-.447-1-1-1zm6 0h-2c-.553 0-1 .447-1 1v2c0 .552.447 1 1 1h2c.553 0 1-.448 1-1v-2c0-.553-.447-1-1-1zm6 0h-2c-.553 0-1 .447-1 1v2c0 .552.447 1 1 1h2c.553 0 1-.448 1-1v-2c0-.553-.447-1-1-1zm-12 6h-2c-.553 0-1 .447-1 1v2c0 .552.447 1 1 1h2c.553 0 1-.448 1-1v-2c0-.553-.447-1-1-1zm6 0h-2c-.553 0-1 .447-1 1v2c0 .552.447 1 1 1h2c.553 0 1-.448 1-1v-2c0-.553-.447-1-1-1zm6 0h-2c-.553 0-1 .447-1 1v2c0 .552.447 1 1 1h2c.553 0 1-.448 1-1v-2c0-.553-.447-1-1-1zm-12 6h-2c-.553 0-1 .447-1 1v2c0 .552.447 1 1 1h2c.553 0 1-.448 1-1v-2c0-.553-.447-1-1-1zm6 0h-2c-.553 0-1 .447-1 1v2c0 .552.447 1 1 1h2c.553 0 1-.448 1-1v-2c0-.553-.447-1-1-1zm6 0h-2c-.553 0-1 .447-1 1v2c0 .552.447 1 1 1h2c.553 0 1-.448 1-1v-2c0-.553-.447-1-1-1z"/></symbol>
        
        <symbol id="icon-nav-list" viewBox="0 0 18 18"><path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M17.01 8h-12.02c-.548 0-.99.443-.99.99v.02c0 .547.442.99.99.99h12.02c.547 0 .99-.443.99-.99v-.02c0-.547-.443-.99-.99-.99zm0-5h-12.02c-.548 0-.99.443-.99.99v.02c0 .547.442.99.99.99h12.02c.547 0 .99-.443.99-.99v-.02c0-.547-.443-.99-.99-.99zm-15.99 0h-.02c-.547 0-.99.443-.99.99v.02c0 .547.443.99.99.99h.02c.546 0 .99-.443.99-.99v-.02c0-.547-.445-.99-.99-.99zm0 5h-.02c-.547 0-.99.443-.99.99v.02c0 .547.443.99.99.99h.02c.546 0 .99-.443.99-.99v-.02c0-.547-.445-.99-.99-.99zm15.99 5h-12.02c-.548 0-.99.443-.99.99v.02c0 .547.442.99.99.99h12.02c.547 0 .99-.443.99-.99v-.02c0-.547-.443-.99-.99-.99zm-15.99 0h-.02c-.547 0-.99.443-.99.99v.02c0 .547.443.99.99.99h.02c.546 0 .99-.443.99-.99v-.02c0-.547-.445-.99-.99-.99z"/></symbol>
        
        <symbol id="icon-nav-more" viewBox="-6 0 8 18"><path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M4 5c1.104 0 2-.896 2-2s-.896-2-2-2-2 .896-2 2 .896 2 2 2zm0 2c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm0 6c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2z"/></symbol>
        
        <symbol id="icon-nav-search" viewBox="0 0 18 18"><path fill="#737373" d="M17.707 16.293l-5.107-5.109c.875-1.168 1.4-2.615 1.4-4.184 0-3.86-3.141-7-7-7s-7 3.14-7 7c0 3.859 3.141 7 7 7 1.569 0 3.016-.525 4.186-1.402l5.107 5.109c.195.195.451.293.707.293s.512-.098.707-.293c.391-.391.391-1.023 0-1.414zm-10.707-4.293c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/></symbol>
        
        <symbol id="icon-nav-refresh" viewBox="0 0 18 18"><path fill="#fff" d="M16.936 5.917l-2.962-4.47c-.255-.599-.914-.544-1.221.031l-.702 1.328c-1.134-.666-2.397-1.006-3.663-1.006v-.004c-.688 0-1.351.104-1.981.287l-.143.037-.442.159-.255.096-.319.152-.351.174-.205.125-.423.263-.096.075c-.354.253-.693.535-1.009.86-.316.326-.592.677-.839 1.042l-.068.095-.26.438-.118.208-.172.366-.144.322-.098.273-.15.443-.04.163c-.051.188-.099.376-.135.57l-.002.013c-.088.467-.138.948-.138 1.441 0 .487.049.961.135 1.422l.005.035.131.553.045.182.145.422.104.295.133.295.185.395.099.17.281.475.024.037c.256.385.545.756.878 1.096.33.342.687.637 1.06.898l.04.029.461.289.169.104.38.188.289.141.283.104.414.15.17.045.544.137.024.002c.449.087.912.138 1.389.138.469 0 .926-.049 1.371-.137l.045-.008.52-.129.195-.053.386-.139.313-.117.253-.119.417-.209.121-.074c.573-.332 1.115-.74 1.603-1.242l-.003-.002c1.337-1.377 2.166-3.277 2.166-5.374l-2.111-.001c.001 1.703-.779 3.205-1.974 4.201l-.366.309c-.163.113-.345.197-.521.291l-.395.213c-.17.072-.354.117-.532.17l-.46.141c-.258.053-.523.068-.792.082l-.49-.002c-.263-.014-.523-.029-.776-.08l-.462-.143c-.179-.053-.359-.096-.53-.168l-.41-.223c-.169-.092-.344-.172-.503-.281-.162-.111-.31-.256-.461-.389-.209-.182-.401-.377-.58-.59-.14-.168-.29-.332-.407-.514-.094-.145-.162-.303-.24-.455-.085-.162-.183-.318-.25-.488l-.135-.441c-.058-.193-.129-.385-.166-.582l-.046-.468c-.04-.388-.04-.775 0-1.162l.046-.469c.037-.198.108-.388.166-.581l.134-.442c.067-.168.165-.326.25-.488l.24-.455c.121-.187.274-.358.422-.532.159-.188.331-.364.513-.529.17-.151.335-.309.518-.433.139-.097.293-.166.441-.248.158-.087.311-.188.475-.256l.427-.136c.188-.062.374-.134.567-.173l.45-.046c1.104-.125 2.228.105 3.214.695l-.572 1.079c-.306.578.009 1.177.633 1.074l5.118.067c.605-.042.928-.552.726-1.027"/></symbol>
        
        <symbol id="icon-list-alert" viewBox="0 0 14 14"><path fill="#EFA836" d="M13.787 11.568l-5.451-10.265c-.6-1.103-2.084-1.084-2.684.019l-5.451 10.238c-.603 1.11.144 2.44 1.342 2.44h10.901c1.199 0 1.946-1.32 1.343-2.432zm-5.81-.076c0 .28-.175.508-.462.508h-1.038c-.287 0-.462-.228-.462-.508v-1.016c0-.28.175-.509.462-.509h1.038c.287 0 .462.229.462.509v1.016zm-.004-3.009c0 .275-.174.501-.46.501h-1.034c-.287 0-.461-.226-.461-.501v-4.013c0-.276.174-.501.461-.501h1.034c.286 0 .46.225.46.501v4.013z"/></symbol>
        
        <symbol id="icon-list-handle" viewBox="0 0 18 18"><path fill-rule="evenodd" clip-rule="evenodd" fill="#BFBFBF" d="M0 2v2h18v-2h-18zm0 6h18v-2h-18v2zm0 4h18v-2h-18v2zm0 4h18v-2h-18v2z"/></symbol>
        
        <symbol id="icon-list-user" viewBox="0 0 14 14"><path fill-rule="evenodd" clip-rule="evenodd" fill="#BCBCBC" d="M7.5 7c-3.038 0-5.5 2.508-5.5 5.612 0 0 0 1.388 1.571 1.388h7.857c1.572 0 1.572-1.388 1.572-1.388 0-3.104-2.463-5.612-5.5-5.612zm0-1.214c1.52 0 2.75-1.295 2.75-2.893 0-1.597-1.23-2.893-2.75-2.893s-2.75 1.296-2.75 2.893c0 1.598 1.23 2.893 2.75 2.893z"/></symbol>
    
       <symbol id="icon-next" viewBox="0 0 12 12"><path fill="#5C5C5C" d="M3-.01c.257 0 .514.098.708.293l5.007 5.005c.393.392.393 1.023 0 1.415l-5.007 5.003c-.392.392-1.024.392-1.416 0s-.392-1.023 0-1.415l4.299-4.296-4.299-4.298c-.392-.391-.392-1.024 0-1.414.195-.196.452-.293.708-.293"/></symbol>
        
        <symbol id="icon-previous" viewBox="0 0 12 12"><path fill="#5C5C5C" d="M8.008 12c-.257 0-.514-.098-.708-.293l-5.008-5.005c-.392-.391-.392-1.023 0-1.415l5.008-5.003c.392-.392 1.024-.392 1.416 0s.392 1.023 0 1.415l-4.299 4.296 4.299 4.298c.392.391.392 1.023 0 1.414-.195.195-.452.293-.708.293"/></symbol>
        
        <symbol id="icon-nav-check" viewBox="0 0 18 18"><path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M7.062 14.898c-.254 0-.508-.096-.703-.289l-5.062-5c-.394-.388-.398-1.021-.009-1.413.387-.393 1.021-.396 1.414-.008l4.353 4.298 9.235-9.292c.391-.391 1.023-.393 1.414-.006.393.391.395 1.023.004 1.416l-9.938 10c-.195.195-.453.294-.708.294"/></symbol>
        
        <symbol id="icon-lst-check" viewBox="0 0 18 18"><path fill-rule="evenodd" clip-rule="evenodd" fill="#5F5F5F" d="M6.563 15c-.254 0-.508-.096-.703-.289l-5.063-5.001c-.393-.388-.397-1.021-.008-1.414.387-.393 1.021-.396 1.414-.008l4.353 4.3 9.235-9.293c.391-.39 1.023-.393 1.414-.005.393.39.395 1.023.004 1.415l-9.937 10c-.196.195-.453.295-.709.295"/></symbol>
        
        <symbol id="icon-nav-plus" viewBox="0 0 18 18"><path fill="#fff" d="M17 8h-7v-7c0-.552-.448-1-1-1s-1 .448-1 1v7h-7c-.552 0-1 .448-1 1s.448 1 1 1h7v7c0 .552.448 1 1 1s1-.448 1-1v-7h7c.552 0 1-.448 1-1s-.448-1-1-1"/></symbol>
        
        <symbol id="icon-list-send" viewBox="0 0 18 18"><path fill="#737474" d="M15.013 7.998c-.544 0-.986.441-.986.986v4.625c0 .383-.442.395-.493.395h-11.094c-.045 0-.444-.011-.444-.355v-7.246c0-.244.199-.444.444-.444h.678c.49 0 .889-.491.889-.982s-.399-.89-.889-.89h-.896c-1.225 0-2.222.996-2.222 2.222v7.558c0 1.195.976 2.133 2.222 2.133h11.556c1.246 0 2.222-.938 2.222-2.133v-4.883c0-.545-.442-.986-.987-.986m-9.503 1.869 0 0c.245 0 .444-.16.495-.371.489-2.082 1.612-3.142 4.036-3.465v1.238c0 .604.621.948 1.072.58l4.281-3.269c.358-.292.352-.867-.008-1.159l-4.27-3.27c-.451-.367-1.076-.024-1.076.581v1.404c-3.086.646-4.85 3.059-5.043 7.268-.01.25.228.463.513.463"/></symbol>
        
        <!-- Settings Icons -->
        <symbol id="icon-about-mpc" viewBox="0 0 22 22"><path fill-rule="evenodd" clip-rule="evenodd" fill="#747474" d="M11 0c-6.076 0-11 4.924-11 11 0 6.075 4.924 11 11 11 6.075 0 11-4.925 11-11 0-6.076-4.925-11-11-11zm.611 7.333h-1.223c-.337 0-.611-.273-.611-.61v-1.223c0-.337.274-.611.611-.611h1.223c.338 0 .611.274.611.611v1.223c.001.337-.273.61-.611.61zm0 9.778h-1.223c-.337 0-.611-.273-.611-.611v-6.111c0-.337.274-.611.611-.611h1.223c.338 0 .611.274.611.611v6.111c.001.338-.273.611-.611.611zm0 0"/></symbol>
        
        <symbol id="icon-barcode-scan-sound" viewBox="0 0 22 22"><path fill-rule="evenodd" clip-rule="evenodd" fill="#747474" d="M13.338 20.866c-.131.078-.276.134-.438.134-.498 0-.9-.413-.9-.923 0-.511.402-.924.9-.924v-.071c3.605-.841 6.3-4.142 6.3-8.097 0-3.954-2.694-7.255-6.3-8.096v-.013c-.498 0-.9-.414-.9-.923 0-.51.402-.924.9-.924v-.028c4.608.869 8.1 5.005 8.1 9.984 0 4.819-3.274 8.839-7.662 9.881zm-4.338-.866c-.553 0-1-.448-1-1l-4-4h-2c-1.104 0-2-.896-2-2v-4c0-1.104.896-2 2-2h2l4-4c0-.552.447-1 1-1s1 .448 1 1v16c0 .552-.447 1-1 1zm6.6-9.015c0 2.234-1.546 4.097-3.6 4.525v-9.05c2.054.429 3.6 2.292 3.6 4.525z"/></symbol>
        
        <symbol id="icon-cycle-count-default" viewBox="0 0 22 22"><g fill="#747474"><path d="M21.809 13.936l-3.428 6.742c-.189.33-.402.314-.617.314h-17.164c-.331 0-.6-.266-.6-.594v-9.822c0-.328.269-.594.6-.594h.808c.331 0 .601.266.601.594v1.387l.003.026h15.046v-1.473c.027-.299.283-.534.598-.534h1.121l.08.002c.143 0 .227.053.359.186l2.517 2.65c.359.364.355.604.076 1.116M7.516 6.277c.404 0 .633.351.389.664l-1.52 2.84c-.207.32-.582.35-.777.1l-1.518-2.94c-.246-.314-.018-.664.388-.664h3.038m4.977 1.322c-.405 0-.635-.348-.388-.663l1.518-2.841c.209-.32.581-.349.776-.099l1.519 2.939c.246.314.017.663-.389.663h-3.036M10.779 4.498c-.006.399-.361.62-.674.373l-2.847-1.546c-.321-.21-.344-.581-.088-.771l2.992-1.458c.32-.238.67-.007.664.395l-.047 3.007m-1.491 4.912c.006-.401.361-.624.675-.375l2.848 1.546c.32.211.344.579.088.771l-2.992 1.459c-.322.238-.67.006-.664-.395l.045-3.006M12.557 9.219l1.032.569c.623-.777.986-1.73.991-2.821h-1.129v-.027c0 .873-.353 1.671-.894 2.279"/><path d="M9.875 10.377c-.838-.015-1.602-.324-2.195-.829l-.549 1.028c.76.576 1.701.928 2.727.947l.017-1.146zM6.959 7.353c-.022-.064-.035-.285-.035-.449 0-.908-.096-1.716.486-2.332l-1.037-.554c-.66.792-.602 1.775-.602 2.881 0 .164.009.39.026.454h1.162zM9.617 3.516l.328-.016c.896 0 1.713.336 2.33.889l.554-1.037c-.791-.623-1.793-.998-2.882-.998l-.312.012-.018 1.15zM15.036 6.94l-.001.021h.001v-.021"/></g></symbol>
        
        <symbol id="icon-logging" viewBox="0 0 22 22"><g fill-rule="evenodd" clip-rule="evenodd" fill="#747474"><path d="M7 0c.552 0 1 .447 1 1v5c0 .553-.448 1-1 1s-1-.447-1-1v-5c0-.553.448-1 1-1zM15 0c.553 0 1 .447 1 1v5c0 .553-.447 1-1 1s-1-.447-1-1v-5c0-.553.447-1 1-1zM18 3h-14c-1.104 0-2 .896-2 2v15c0 1.104.896 2 2 2h14c1.104 0 2-.896 2-2v-15c0-1.104-.896-2-2-2zm-2 11h-10c-.552 0-1 .447-1 1s.448 1 1 1h10c.553 0 1-.447 1-1s-.447-1-1-1zm0-3h-10c-.552 0-1-.447-1-1s.448-1 1-1h10c.553 0 1 .447 1 1s-.447 1-1 1z"/></g></symbol>
        
        <symbol id="icon-par-count-default" viewBox="0 0 22 22"><path fill-rule="evenodd" clip-rule="evenodd" fill="#747474" d="M0 9.64c0-.361.325-.653.678-.653l.622-.015c.353 0 .669.293.669.653v1.335l-.01.029h15.062v-1.468c0-.329.309-.54.645-.54h.826l.086-.021c.152 0 .242.047.385.192l2.684 2.263c.385.398.381.656.082 1.216l-3.656 6.003c-.201.362-.43.344-.658.344l-10.246.006-.152.016h-5c-1.104 0-2-.896-2-2m11.986-13.618c0-.198.147-.378.341-.378h3.26c.195 0 .396.18.396.378v6.548h-3.997v-6.548zm-4.986 2.995c0-.197.136-.376.33-.376h3.287c.194 0 .344.179.344.376v3.573h-3.961v-3.573zm-3.986 1.993c0-.196.187-.376.381-.376h2.228c.194 0 .356.18.356.376v1.58h-2.965v-1.58z"/></symbol>
        
        <symbol id="icon-pick-for-par-default" viewBox="0 0 22 22"><g fill-rule="evenodd" clip-rule="evenodd" fill="#747474"><path d="M21.889 8.473l-2.605 5.258c-.145.254-.307.242-.471.242h-13.361c-.252 0-.456-.205-.456-.457v-7.084c0-.252.204-.457.456-.457h.494c.252 0 .456.205.456.457v.595l.002.021h12.618v-.672c.021-.229.216-.41.454-.41h.105l.062.001c.107 0 .172.041.273.144l1.914 1.508c.275.277.272.462.059.854zm.111 7.547c0 .553-.447 1-1 1h-18c-.553 0-1-.447-1-1v-13h-1c-.553 0-1-.447-1-1s.447-1 1-1h.136l.054-.012h.383l.071.012h1.356c.553 0 1 .447 1 1v13h17c.553 0 1 .447 1 1zm-15.965 1.978c1.072 0 1.945.896 1.945 2 0 1.106-.873 2.002-1.945 2.002-1.073 0-1.945-.896-1.945-2.002 0-1.103.872-2 1.945-2zm12 0c1.081 0 1.961.896 1.961 2 0 1.105-.88 2.002-1.961 2.002-1.082 0-1.961-.896-1.961-2.002 0-1.103.879-2 1.961-2zM6 5.02c.553 0 1 .447 1 1v2c0 .553-.447 1-1 1s-1-.447-1-1v-2c0-.553.447-1 1-1z"/></g></symbol>
        
        <symbol id="icon-printer-default" viewBox="0 0 22 22"><g fill-rule="evenodd" clip-rule="evenodd" fill="#747474"><path d="M16.938 1.222c0-.674-.547-1.222-1.223-1.222h-9.461c-.676 0-1.223.548-1.223 1.222v3.698h11.906v-3.698M19.556 7.052h-17.112c-1.348 0-2.444 1.096-2.444 2.445v6.392c0 1.348 1.096 2.445 2.444 2.445h1.556v-4.497c0-1.013.821-1.833 1.833-1.833h10.354c1.012 0 1.834.82 1.834 1.833v4.497h1.534c1.347 0 2.444-1.098 2.444-2.445v-6.392c.001-1.349-1.097-2.445-2.443-2.445M14.729 14.01h-7.489c-.676 0-1.222.547-1.222 1.223v5.545c0 .674.546 1.222 1.222 1.222h7.489c.676 0 1.223-.548 1.223-1.223v-5.545c-.001-.675-.548-1.222-1.223-1.222"/></g></symbol>
        
        <symbol id="icon-reset-default" viewBox="0 0 22 22"><g fill-rule="evenodd" clip-rule="evenodd" fill="#747474"><path d="M7.261 9.571c.831 0 1.176.686 1.004 1.429l-3.324 6.123c-.51.752-1.192.755-1.594.212l-3.324-6.335c-.172-.596.174-1.429 1.004-1.429h6.234M19.254 11c0-3.938-3.082-7.143-6.868-7.143-3.787 0-6.868 2.856-6.868 7.143h-2.747c0-5.714 4.314-10 9.615-10s9.614 4.486 9.614 10c0 5.515-4.12 10-9.614 10v-2.857c4.12 0 6.868-3.205 6.868-7.143"/></g></symbol>
        
        <symbol id="icon-server" viewBox="0 0 22 22"><path fill-rule="evenodd" clip-rule="evenodd" fill="#747474" d="M18.977 22h-15.852c-1.104 0-2-.896-2-2v-4h19.852v4c0 1.104-.897 2-2 2zm-17.852-14h19.852v6h-19.852v-6zm0-6c0-1.104.896-2 2-2h15.852c1.104 0 2 .896 2 2v4h-19.852v-4z"/></symbol>
        
        <symbol id="icon-show-help" viewBox="0 0 22 22"><path fill="#747474" d="M11 0c-6.078 0-11 4.923-11 11s4.922 11 11 11 11-4.923 11-11-4.922-11-11-11zm1.1 18.7h-2.2v-2.2h2.2v2.2zm2.271-8.519l-.984 1.012c-.791.791-1.287 1.457-1.287 3.107h-2.2v-.55c0-1.216.494-2.315 1.287-3.113l1.369-1.386c.397-.396.644-.946.644-1.551 0-1.216-.985-2.2-2.2-2.2s-2.2.984-2.2 2.2h-2.2c0-2.431 1.969-4.4 4.4-4.4s4.4 1.97 4.4 4.4c0 .968-.39 1.843-1.029 2.481z"/></symbol>
        
        <symbol id="icon-location" viewBox="0 0 18 18"><path fill="#649B2D" d="M8.966-.001c-3.885 0-7.034 3.135-7.034 7.001 0 4.028 4.565 9.061 6.341 10.728.389.364.986.363 1.373-.003 1.765-1.668 6.354-6.7 6.354-10.725 0-3.866-3.149-7.001-7.034-7.001zm0 10.001c-1.665 0-3.015-1.344-3.015-3 0-1.657 1.35-3.001 3.015-3.001 1.666 0 3.015 1.344 3.015 3.001-.001 1.656-1.349 3-3.015 3z"/></symbol>
    
    </svg>
</div>