<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>



        <ion-bar-header style="background-color:#806594" class="bar {{setNavColor}} bar-shadowed" ng-show="vm.showOptionToDelete">
            <button side="left" class="button button-icon" ng-click="vm.clearAll();">
                <mxi-icon icon="icon-nav-close"></mxi-icon>
            </button>
            <h1 class="title title-left" style="left: 52px; text-align:left;">{{ vm.totalSelected }} {{ "lbl_selected" | translate }}</h1>
            <div class="buttons pull-right">
                <button class="button button-clear" ng-click="vm.deleteTrackingNumber()" ng-disabled="!vm.totalSelected">{{ "btn_delete" | translate }}</button>
                <button class="button button-icon" ng-click="vm.miscReceivingOption($event,'clearOrSelectAll')">
                    <mxi-icon icon="icon-nav-more"></mxi-icon>
                </button>
            </div>
        </ion-bar-header>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
         {{ 'lbl_misc_receiving' | translate }}<div class="sub-title">{{ vm.selectedCompanyID }} - {{ vm.selectedCompanyName }}</div>
   </ion-nav-title>
   <!-- END Title header --> 

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear" ng-click="vm.goTo('app.misc-receiving-delivery')">
            {{ 'btn_details' | translate }}
        </button>
        <button class="button button-icon" ng-click="vm.miscReceivingOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->
    
   <!-- START View content --> 
  <ion-content class="has-header">
  <div class="list">
            <div class="item text-center key">
                {{ 'scan_barcode_or_enter_tracking_misc_rec' | translate }}
            </div>
            <!--div class="item text-center counter">
                {{ vm.selectedLocationID }} - {{ vm.selectedLocationName }} | {{ vm.printerName }}
            </div-->
            <div class="item text-center counter ctr">
                <!--span class="txt-value ng-binding" style="padding-right: 15px;">
                {{ vm.selectedLocationID }} - {{ vm.selectedLocationName }}</span>
                <span style="color:#bebebe;">|</span>
                <span style="padding-left:15px;">
                     {{ vm.printerName }}
                </span-->
                
                <div class="row">
                    <div class="col" style="text-align:center;">
                        {{ vm.selectedLocationCode }} - {{ vm.selectedLocationName }}
                    </div>
                </div>
                   
            </div>

            <div class="item no-border">
                <div class="row">
                    <div class="col">
                        {{ "lbl_carrier" | translate }}
                    </div>
                    <div class="col text-right blue">
                        {{ vm.vendorName }} <div ng-if="!vm.vendorName.length">{{ "lbl_add_vendor" | translate }}</div>
                    </div>
                </div>
            </div>
            
             <div class="row log-box item">
            <div class="col">
                <div class="text-center upperCase" style="  font-size: 9px;line-height: 10px;">
                    <div class="ui-counter"> {{ vm.miscRec.length }}</div>
                    {{ 'lbl_count' | translate }}
                </div>
            </div>
            <div class="col input-text">
               
             <input type="text" ng-model="vm.modTrackingNum" placeholder="{{ 'lbl_tracking_number' | translate }}" max-length="50">
                
            </div>
            <div class="col">
              <button class="button button-icon ion-plus-round" ng-click="vm.addTrackingNumber();" ng-disabled="!vm.modTrackingNum"></button>
            </div>
        </div>

        <ion-list show-delete="vm.showOptionToDelete" class="log-list">
            <ion-item collection-repeat="item in vm.miscRec" class="item-icon-left">
                <ion-delete-button class="ui-checkbox{{ (item.val)  ? '' : '-blank' }}" ng-click="item.val = !item.val; vm.checkboxClicked();" >
                    <i class="checkbox-icon"></i>
                </ion-delete-button>
                <input type="checkbox" ng-model="item.val" style="display:none;" />  
                {{ item.TrackingNumber  }} 
                <p>{{ item.CarrierName  }}</p>
            </ion-item>
        </ion-list>
  </ion-content>
  <!-- END View content --> 
</ion-view>

