
<ion-view hide-back-button="true">
	<ion-nav-bar class="bar {{setNavColor}}">

	    <!-- START Left header buttons -->
	    <ion-nav-buttons side="left">
	      <button class="button button-icon" ng-click="vm.goTo('app.misc-receiving','slideDown')">
	        <mxi-icon icon="icon-nav-check"></mxi-icon>
	      </button>
	    </ion-nav-buttons>
	    <!-- END Left header buttons -->

	    <!-- START Title header -->
	   <ion-nav-title>
	        {{ 'lbl_misc_receipt_summary' | translate }}
	   </ion-nav-title>
	</ion-nav-bar>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
          <div class="item text-center key clearkey text-left">
            {{ 'lbl_received' | translate }}
          </div>

          <div class="row default-padding-left-right">
			<div class="col20 uppercase text-center">
				<span class="big-green-number">3</span>
				{{ 'lbl_count' | translate }}
			</div>
          	<div class="col40 graytxt">{{ 'lbl_tracking_number' | translate }}</div>
          	<div class="col40">Multiple</div>
          </div>
		  
          <div class="row gray-border-bottom default-padding-left-right">
          	<div class="col40 left-empty-col graytxt">{{ 'lbl_carrier' | translate }}</div>
          	<div class="col40">Multiple</div>
          </div>

          <div class="item text-center key clearkey text-left">
            	{{ 'lbl_deliver_to' | translate }}
          </div>

          <div class="row default-padding-left-right-bottom">
          	<div class="col40 left-empty-col graytxt">{{ 'lbl_company' | translate }}</div>
          	<div class="col40">1 - Hospital Entity</div>
          </div>


          <div class="row default-padding-left-right-bottom">
          	<div class="col40 left-empty-col graytxt">{{ 'lbl_location' | translate }}</div>
          	<div class="col40">1 - 1st Floor East Par Cart</div>
          </div>


          <div class="row gray-border-bottom default-padding-left-right">
          	<div class="col40 left-empty-col graytxt">{{ 'lbl_print_delivery_documents' | translate }}</div>
          	<div class="col40">Yes</div>
          </div>


          <div class="item text-center key clearkey text-left">
             {{ 'lbl_reference' | translate }}
          </div>

          <div class="row default-padding-left-right">
          	<div class="col40 left-empty-col graytxt">{{ 'lbl_vendor' | translate }}</div>
          	<div class="col40">1 - Owens & Minor</div>
          </div>

  </ion-content>
  <!-- END View content --> 
</ion-view>

