<ion-view>
    <ion-nav-title>
		{{ 'lbl_select_vendor' | translate }}
	</ion-nav-title>
    <ion-content>
        <ion-list class="ui-radio-checkmark">
            <form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="vm.searchText" placeholder="{{'search_a_vendor' | translate}}">
                    </label>
                    <button class="button button-small" ng-show="vm.searchText.length">{{ 'btn_cancel' | translate }}</button>
                </div>
            </for>

            <div class="item text-center key">{{"lbl_selected" | translate}}: </div>
            <ion-radio>
               1 - Owens & Minor
            </ion-radio>
            <ion-radio>
               2 - Allgiance Healthcare
            </ion-radio>
            <ion-radio>
               3 - Staples
            </ion-radio>
            <ion-radio>
               4 - Cushman Wakefield
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>