<ion-view>
    <!-- START Title header -->
    <ion-nav-title>
        {{ 'lbl_delivery_details' | translate }}
    </ion-nav-title>
    <!-- END Title header --> 

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
        <div class="ui-button-bar">
            <button class="button button-clear" ng-click="vm.goTo('misc-receiving-receipt','slideUp')">
                {{ 'btn_send' | translate }}
            </button>
        </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START View content --> 
    <ion-content class="has-header">
    <div class="item text-center key">
      {{ 'select_company_and_delivery_location' | translate}}
    </div>

    <ion-list>
        <ion-item class="no-border">
            <div class="row">
                <div class="col col-60 label">
                    {{ 'lbl_delivery_options' | translate }}
                </div>
                <div class="col">
                    <label class="item-input item-select">
                        <select class="dropdown">
                            <option>{{ "lbl_deliver" | translate }}</option>
                            <option>{{ "lbl_reject" | translate }}</option>
                        </select>
                    </label>
                </div>
            </div>
        </ion-item>
        <a class="item no-border" href="#/app/misc-receiving-change-company">
            {{"lbl_company" | translate}}
            <div class="item-note-right blue">{{ 'lbl_select_company' | translate }}</div>
        </a>
        <a class="item no-border" href="#/app/misc-receiving-change-location">
            {{"lbl_location" | translate}}
            <div class="item-note-right blue">{{ 'lbl_select_location' | translate }}</div>
        </a>
        <ion-toggle ng-model="vm.modTogPrinter">
            {{ 'lbl_print_delivery_documents' | translate }}
        </ion-toggle>
        <a class="item no-border" href="#/app/misc-receiving-printer-list" ng-show="vm.modTogPrinter">
            {{"lbl_label_printer" | translate}}
            <div class="item-note-right blue">{{ 'lbl_select_printer' | translate }}</div>
        </a>
        <a class="item no-border" href="#/app/misc-receiving-printer-list" ng-show="vm.modTogPrinter">
            {{"lbl_report_printer" | translate}}
            <div class="item-note-right blue">{{ 'lbl_select_printer' | translate }}</div>
        </a>

  		<div class="item text-center key">
  			{{ 'lbl_select_delivery_vendor_and_reference' | translate }}
  		</div>
        <a class="item no-top-border" href="#/app/misc-receiving-vendor">
            {{ 'lbl_vendor' | translate }}</div>
            <div class="item-note-right blue">{{ 'lbl_select_vendor' | translate }}</div>
        </a>

        <ion-item class="item-no-border-bottom no-top-bottom-padding">
            <ul class="list inset">
                <li class="item">
                    <div class="row">
                        <div class="col col-60 label">{{ 'lbl_po_number' | translate }}</div>
                        <div class="col input-text">
                            <input type="text">
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="row">
                        <div class="col col-60 label">{{ 'lbl_packing_slip' | translate }}</div>
                        <div class="col input-text">
                            <input type="text">
                        </div>
                    </div>
                </li>
            </ul>
        </ion-item>
    
        
        <div class="item text-center key">
            {{ 'lbl_add_code_and_delivery_note' | translate }}
        </div>
        
        <ion-item class="no-border">
            <div class="row">
                <div class="col col-60 label">
                    {{ 'lbl_note_code' | translate }}
                </div>
                <div class="col">
                    <label class="item-input item-select">
                        <select class="dropdown">
                            <option>A001</option>
                            <option>A002</option>
                        </select>
                    </label>
                </div>
            </div>
        </ion-item>
        <a class="item no-border" href="#/app/misc-receiving-change-company">
            {{ 'lbl_description' | translate }}
            <div class="item-note-right blue">Description Here</div>
        </a>
        <ion-item>
            {{ 'lbl_info' | translate }}
            <textarea style="width: 100%; height: 150px; border: 1px solid #bebebe; height: 100px;padding: 4px 8px;"></textarea>
        </ion-item>
        
    </ion-list>
    
    </ion-content>
  <!-- END View content --> 
</ion-view>

