<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-close"></mxi-icon>
		</button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear" ng-click="vm.goBack()">
            {{ 'btn_ok' | translate }}
        </button>
	</div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	Filter
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
	<ion-content class="has-header">
		<div class="item text-center key graytxt big">Enter case details</div>  
		
		<div class="subheader outside-row">Date</div>
		
		<div class="row full-width">
			<div class="col">
	
				<div class="row gray-border-bottom">
					<div class="col label">From</div>
					<div class="col text-right">						
						<input type="date" value="2016-01-19" class="date-picker-clean align-right">						
					</div>
				</div>
				<div class="row gray-border-bottom">
					<div class="col label">To</div>
					<div class="col text-right">						
						<input type="date" value="2016-01-19" class="date-picker-clean align-right">						
					</div>
				</div>
	
			</div>
		</div>
		
		<div class="subheader outside-row">Details</div>  
		<div class="row full-width">
			<div class="col">
	
				<div class="row">
					<div class="col label">Patient Name</div>
					<div class="col">
						<label class="item item-input">
							<input type="text" placeholder="" class="button-after-input">
							<button class="button button-icon input-search-button" ng-click="vm.goTo('')">							
								<mxi-icon icon="icon-build-case-searchdetails"></mxi-icon>
							</button>
						</label>
					</div>
				</div>
				
				<div class="row">
					<div class="col label">Practitioner</div>
					<div class="col">
						<label class="item item-input">
							<input type="text" placeholder="" class="button-after-input">
							<button class="button button-icon input-search-button" ng-click="vm.goTo('')">							
								<mxi-icon icon="icon-build-case-searchdetails"></mxi-icon>
							</button>
						</label>
					</div>
				</div>
				
				<div class="row">
					<div class="col label">Personnel</div>
					<div class="col">
						<label class="item item-input">
							<input type="text" placeholder="" class="button-after-input">
							<button class="button button-icon input-search-button" ng-click="vm.goTo('')">							
								<mxi-icon icon="icon-build-case-searchdetails"></mxi-icon>
							</button>
						</label>
					</div>
				</div>
				
				<div class="row">
					<div class="col label">Procedure</div>
					<div class="col">
						<label class="item item-input">
							<input type="text" placeholder="" class="button-after-input">
							<button class="button button-icon input-search-button" ng-click="vm.goTo('')">							
								<mxi-icon icon="icon-build-case-searchdetails"></mxi-icon>
							</button>
						</label>
					</div>
				</div>
				
				<div class="row">
					<div class="col label">Room</div>
					<div class="col">
						<label class="item item-input">
							<input type="text" placeholder="" class="button-after-input">
							<button class="button button-icon input-search-button" ng-click="vm.goTo('')">							
								<mxi-icon icon="icon-build-case-searchdetails"></mxi-icon>
							</button>
						</label>
					</div>
				</div>
				
				<div class="row">
					<div class="col label">Item</div>
					<div class="col">
						<label class="item item-input">
							<input type="text" placeholder="" class="button-after-input">
							<button class="button button-icon input-search-button" ng-click="vm.goTo('')">							
								<mxi-icon icon="icon-build-case-searchdetails"></mxi-icon>
							</button>
						</label>
					</div>
				</div>
	
				<div class="row top-padding20">	
					<div class="col">
						<button class="button button-clear button-left blue-button">CLEAR FILTER</button>		
					</div>
				</div>
	
			</div>
		</div>
		
	</ion-content>
  <!-- END View content --> 
</ion-view>



