<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" menu-toggle="left">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
		<button class="button button-icon" ng-click="vm.goTo('app.build-case-load-case')">
            <mxi-icon icon="icon-build-case-searchlist"></mxi-icon>
        </button>
		<button class="button button-icon" ng-click="vm.goTo('app.build-case-new-case')">
            <mxi-icon icon="icon-build-case-add"></mxi-icon>
        </button>
        <button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title class="hassub">
    	{{ 'build_title' | translate }}
		<div class="sub-title">PGH I --</div>
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item text-center key graytxt big">
		Tap "new" to build case or "search" to hold existing
		</div>
		<div class="item text-center key clearkey left no-border-bottom">Select Case: 0</div>
		
		
		<ion-list>
			
			<div class="row gray-border-bottom no-margin">
            	<div class="col higher-line-height">				
            		<span class="text-big">123456</span>
            		<span class="item-content">
						PATIENT11001-LaCroix, Johannes<br>
						01/18/2016, 10:30am<br>
						RM02<br>
						0 procedure<br>
						Saved
					</span>
            	</div>
            	<div class="col col-20 text-right padding-top10">
					<button class="button button-icon align-absmiddle" ng-click="vm.showactionsheet()">
                        <mxi-icon icon="icon-nav-small-more"></mxi-icon>
                    </button>					
            	</div>
            </div>
			
			<div class="row gray-border-bottom no-margin">
            	<div class="col higher-line-height">				
            		<span class="text-big">123456</span>
            		<span class="item-content">
						PATIENT11001-LaCroix, Johannes<br>
						01/18/2016, 10:30am<br>
						RM02<br>
						0 procedure<br>
						Saved
					</span>
            	</div>
            	<div class="col col-20 text-right padding-top10">
					<button class="button button-icon align-absmiddle" ng-click="vm.showactionsheet()">
                        <mxi-icon icon="icon-nav-small-more"></mxi-icon>
                    </button>					
            	</div>
            </div>
			
			<div class="row gray-border-bottom no-margin">
            	<div class="col higher-line-height">				
            		<span class="text-big">123456</span>
            		<span class="item-content">
						PATIENT11001-LaCroix, Johannes<br>
						01/18/2016, 10:30am<br>
						RM02<br>
						0 procedure<br>
						Saved
					</span>
            	</div>
            	<div class="col col-20 text-right padding-top10">
					<button class="button button-icon align-absmiddle" ng-click="vm.showactionsheet()">
                        <mxi-icon icon="icon-nav-small-more"></mxi-icon>
                    </button>					
            	</div>
            </div>
			
			<div class="row gray-border-bottom no-margin">
            	<div class="col higher-line-height">				
            		<span class="text-big">123456</span>
            		<span class="item-content">
						PATIENT11001-LaCroix, Johannes<br>
						01/18/2016, 10:30am<br>
						RM02<br>
						0 procedure<br>
						Saved
					</span>
            	</div>
            	<div class="col col-20 text-right padding-top10">
					<button class="button button-icon align-absmiddle" ng-click="vm.showactionsheet()">
                        <mxi-icon icon="icon-nav-small-more"></mxi-icon>
                    </button>					
            	</div>
            </div>
			
			
			
			
		</ion-list>
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

