<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
        <mxi-icon icon="icon-nav-close"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear">
            OK
        </button>
		<button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
	<ion-nav-title class="hassub">
    	ANGIOSDH
		<div class="sub-title">Charge Code: 53782 | CPT: 53782</div>
	</ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
	<ion-content class="has-header">	
		<form>
			<div class="item text-center key">
				Scan or search item to add
			</div>
			
			<div class="item text-center counter">
				Total Items: 2
			</div>
			<div class="row gray-border-bottom">
			<div class="col">
			<div class="row">
				<div class="col label col-30">Item Code</div>
				<div class="col col-50">
					<label class="item item-input">
						<input type="text" placeholder="">
					</label>					
				</div>
				<div class="col text-center">					
					<button class="button button-icon ion-plus-round"></button>
				</div>
			</div>
			</div>
			</div>
			
			
		</form>	
		
		
  
		<ion-list>
			<div class="row gray-border-bottom no-margin" ng-click="vm.goTo('app.build-case-procedure-item-edit')">
            	<div class="col higher-line-height">
            		<div class="text-big cap">000001 - For Combined PO</div>
					<div class="item-content text-mini red hidden">Item expired. Please scan another</div>
					
            		<div class="item-content text-mini">
						<div class="row no-padding-sides">
							<div class="col no-padding-sides">Actual: 1 EA</div>
							<div class="col">Used: 1 EA</div>
							<div class="col">Template: --</div>
						</div>
						<div class="row no-padding-sides">
							<div class="col no-padding-sides">Added: --</div>
							<div class="col">Return: --</div>
							<div class="col"></div>
						</div>
					</div>
					
            	</div>
            </div>
			
			<div class="row gray-border-bottom no-margin" ng-click="vm.goTo('app.build-case-procedure-item-edit')">
            	<div class="col higher-line-height">
            		<div class="text-big cap">000001 - For Combined PO</div>
					<div class="item-content text-mini red">Item expired. Please scan another</div>
					
            		<div class="item-content text-mini">
						<div class="row no-padding-sides">
							<div class="col no-padding-sides">Actual: 1 EA</div>
							<div class="col">Used: 1 EA</div>
							<div class="col">Template: --</div>
						</div>
						<div class="row no-padding-sides">
							<div class="col no-padding-sides">Added: --</div>
							<div class="col">Return: --</div>
							<div class="col"></div>
						</div>
					</div>
					
            	</div>
            </div>
			
			
		</ion-list>
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

