<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
        <mxi-icon icon="icon-nav-back"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	Select Practitioner
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
   	<ion-content class="has-header">
		<form>
			<div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
				<label class="item-input-wrapper">
					<input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='Search' ng-model="vm.searchText" maxlength="32">					
				</label>				
            </div>
			<div class="item text-center key">
				Selected: RM01
			</div>
		</form>
		
		<div class="item text-center key clearkey left no-border-bottom">Practitioners: 4</div>
		
		<ion-list class="full-width">			
			
            	<div class="row gray-border-bottom" ng-click="vm.goBack()">					
            		<div class="col">
            			<strong>167959981</strong><br />
            			<span class="item-content">
							Alterrano, Fabio MD<br>
							Radiologist, Cardiovascular, PT
						</span>
            		</div>
            	</div>
				
				<div class="row gray-border-bottom" ng-click="vm.goBack()">					
            		<div class="col higher-line-height">
            			<strong>167959981</strong><br />
            			<span class="item-content">
							Alterrano, Fabio MD<br>
							Radiologist, Cardiovascular, PT
						</span>
            		</div>            		
            	</div>
            
		
		</ion-list>
		
  </ion-content>
  
	
  <!-- END View content --> 
</ion-view>

