<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
        <mxi-icon icon="icon-nav-back"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
        <button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	Additional case Details		
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item text-center key graytxt big">
			Tap inputfield to enter Role and Name
		</div>
		<div class="item text-center key clearkey left no-border-bottom">Total: 0</div>
		
		
		<div class="row full-width">
			<div class="col">	
				<div class="row label-small">
					<div class="col col-30 label">Name</div>
					<div class="col label text-right blue">
						<label class="item item-input">							
							<input type="text" placeholder="Name..." ng-model="vm.namedd" class="has-clear-button" />							
						</label>
						<button ng-if="vm.namedd.length" class="input-button button button-icon ion-android-close end" ng-click="vm.namedd=''"></button>
					</div>
					<div class="col-20"></div>
				</div>
				<div class="plus-between-input">
					<button class="button button-icon ion-plus-round align-right"></button>
				</div>
				<div class="row label-small gray-border-bottom">
					<div class="col col-30 label">Role</div>
					<div class="col label text-right blue">
						<label class="item item-input">
							<input type="text" placeholder="Rolo..." ng-model="vm.role" class="has-clear-button" />							
						</label>
						<button ng-if="vm.role.length" class="input-button button button-icon ion-android-close end" ng-click="vm.role=''"></button>
					</div>
					<div class="col-20"></div>
				</div>
	
			</div>
		</div>
		
		<ion-list class="plus-minus-list">
			<div class="row no-margin">					
            	<div class="col higher-line-height">
            		<span class="text-big">Pablito Sarmiento</span>				
            		<span class="item-content">
						Comedian
					</span>
            	</div>
            </div>
			<div class="row no-margin">					
            	<div class="col higher-line-height">
            		<span class="text-big">Pablito Sarmiento</span>				
            		<span class="item-content">
						Comedian
					</span>
            	</div>
            </div>
			<div class="row no-margin">					
            	<div class="col higher-line-height">
            		<span class="text-big">Pablito Sarmiento</span>				
            		<span class="item-content">
						Comedian
					</span>
            	</div>
            </div>
		</ion-list>
		
		
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

