<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-back"></mxi-icon>
		</button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear" ng-click="vm.goBack()">
            {{ 'btn_save' | translate }}
        </button>
	</div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	New/Edit Case
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
	<ion-content class="has-header">
		<div class="item text-center key graytxt big">Enter or scan details and tap OK to continue</div>  
		
		<div class="subheader outside-row">Case Info</div>
		
		<div class="row full-width">
			<div class="col">
	
				<div class="row gray-border-bottom" ng-click="vm.goTo('app.build-case-change-procedure-room')">
					<div class="col label">Procedure Room</div>
					<div class="col label text-right blue">						
						RM01
					</div>
				</div>
				<div class="row gray-border-bottom" ng-click="vm.goTo('app.build-case-select-practitioner')">
					<div class="col label">Practitioner</div>
					<div class="col label text-right blue">
						Terra, November Anabella MD
					</div>
				</div>
	
			</div>
		</div>
		
		<div class="row full-width gray-border-bottom">
			<div class="col">
	
				<div class="row">
					<div class="col label">Case ID</div>
					<div class="col">
						<label class="item item-input">
							<input type="text" placeholder="">
						</label>
					</div>
				</div>
				
				<div class="row">
					<div class="col label">Date</div>
					<div class="col">					
						<label class="item-input item-select">
							<select class="dropdown">
								<option>01/18/2016</option>
								<option>01/18/2016</option>
							</select>
						</label>
					</div>
				</div>
				
				<div class="row">
					<div class="col label">Time</div>
					<div class="col">
						<label class="item-input item-select">
							<select class="dropdown">
								<option>10:30:00 AM</option>
								<option>10:30:00 AM</option>								
							</select>
						</label>
					</div>
				</div>
				
				
	
				<!--<div class="row top-padding20">	
					<div class="col">
						<button class="button button-clear button-left blue-button">CLEAR FILTER</button>		
					</div>
				</div>-->
	
			</div>
		</div>
		
		<div class="subheader outside-row">Patient Info</div>
		
		<div class="row full-width">
			<div class="col">
	
				<div class="row gray-border-bottom ">
					<div class="col label">Patient</div>
					<div class="col label text-right blue">						
						PATIENT11001-LaCroix, Johannes
					</div>
				</div>
				
				<div class="row label-small padding-top20">
					<div class="col label-small">Status</div>
					<div class="col label-small text-right">						
						New
					</div>
				</div>
				
				<div class="row label-small">
					<div class="col label-small">Birthday</div>
					<div class="col label-small text-right">						
						03/12/1979
					</div>
				</div>
				
				<div class="row label-small">
					<div class="col label-small">Account Number</div>
					<div class="col label-small text-right">						
						123654987654
					</div>
				</div>
				
				<div class="row label-small gray-border-bottom">
					<div class="col label-small">Patient Class</div>
					<div class="col label-small text-right">						
						In-Patient
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="row full-width">
			<div class="col">	
				
				<div class="row gray-border-bottom" ng-click="vm.goTo('app.build-case-additional-case-details')">
					<div class="col label">Other Case Details</div>
					<div class="col label text-right blue">
						1
					</div>
				</div>
	
			</div>
		</div>
		
	</ion-content>
  <!-- END View content --> 
</ion-view>



