<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
        <mxi-icon icon="icon-nav-back"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear">
            OK
        </button>
		<button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	Select Procedures
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
	<ion-content class="has-header">  
		
			<div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
				<label class="item-input-wrapper">
					<input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='Search Procedures' ng-model="vm.searchText" maxlength="32">					
				</label>
            </div>			
		
		<div class="item text-center counter">
			Procedure(s): 4
		</div>
  
		<ion-list class="ui-radio">
		
			<ion-checkbox class="half-border-bottom">
            	<div class="row">
            		<div class="col higher-line-height">
            			<strong>ANGIOSDH</strong><br />
            			<span class="item-content">
						<div class="row">
							<div class="col col-30">Description:</div>
							<div class="col">Angiodysplasia of Stomach and Duodenum with hemmorhage</div>
						</div>
						<div class="row">
							<div class="col col-30">Charge Code:</div>
							<div class="col">53782</div>
						</div>
						<div class="row">
							<div class="col col-30">CPT:</div>
							<div class="col">53782</div>
						</div>
						</span>
            		</div>
            	</div>
            </ion-checkbox>
			
			<ion-checkbox class="half-border-bottom">
            	<div class="row">
            		<div class="col higher-line-height">
            			<strong>ANGIOSDH</strong><br />
            			<span class="item-content">
						<div class="row">
							<div class="col col-30">Description:</div>
							<div class="col">Angiodysplasia of Stomach and Duodenum with hemmorhage</div>
						</div>
						<div class="row">
							<div class="col col-30">Charge Code:</div>
							<div class="col">53782</div>
						</div>
						<div class="row">
							<div class="col col-30">CPT:</div>
							<div class="col">53782</div>
						</div>
						</span>
            		</div>
            	</div>
            </ion-checkbox>
			
			<ion-checkbox class="half-border-bottom">
            	<div class="row">
            		<div class="col higher-line-height">
            			<strong>ANGIOSDH</strong><br />
            			<span class="item-content">
						<div class="row">
							<div class="col col-30">Description:</div>
							<div class="col">Angiodysplasia of Stomach and Duodenum with hemmorhage</div>
						</div>
						<div class="row">
							<div class="col col-30">Charge Code:</div>
							<div class="col">53782</div>
						</div>
						<div class="row">
							<div class="col col-30">CPT:</div>
							<div class="col">53782</div>
						</div>
						</span>
            		</div>
            	</div>
            </ion-checkbox>
			
			<ion-checkbox class="half-border-bottom">
            	<div class="row">
            		<div class="col higher-line-height">
            			<strong>ANGIOSDH</strong><br />
            			<span class="item-content">
						<div class="row">
							<div class="col col-30">Description:</div>
							<div class="col">Angiodysplasia of Stomach and Duodenum with hemmorhage</div>
						</div>
						<div class="row">
							<div class="col col-30">Charge Code:</div>
							<div class="col">53782</div>
						</div>
						<div class="row">
							<div class="col col-30">CPT:</div>
							<div class="col">53782</div>
						</div>
						</span>
            		</div>
            	</div>
            </ion-checkbox>
			
			
			
		</ion-list>
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

