<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
        <mxi-icon icon="icon-nav-back"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-icon" ng-click="vm.refreshcaselist">
            <mxi-icon icon="icon-build-case-refresh"></mxi-icon>
        </button>
        <button class="button button-clear">
            OK
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	Load Case
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
	<ion-content class="has-header">  
		<form>
			<div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
				<label class="item-input-wrapper">
					<input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='Search' ng-model="vm.searchText" maxlength="32">					
				</label>				
				<button ng-click="vm.goTo('app.build-case-load-case-filter');" class="button button-icon ion-android-funnel"></button>
            </div>
			<div class="item text-center key">
				Select case and press "OK" to load
			</div>
		</form>		
		<div class="item text-center counter">
			Cases: 2
		</div>
  
		<ion-list class="ui-radio">
		
			<ion-checkbox class="half-border-bottom">
            	<div class="row">					
            		<div class="col higher-line-height">
            			<strong>654098</strong><br />
            			<span class="item-content">
							PATIENT4367-Romnuald, Christoff<br>
							01/11/16, 10:00am<Br>
							RM02<br>
							1 procedure<br>
							New
						</span>
            		</div>            		
            	</div>
            </ion-checkbox>
			
			<ion-checkbox class="half-border-bottom">
            	<div class="row">					
            		<div class="col higher-line-height">
            			<strong>654098</strong><br />
            			<span class="item-content">
							PATIENT4367-Romnuald, Christoff<br>
							01/11/16, 10:00am<Br>
							RM02<br>
							1 procedure<br>
							Saved
						</span>
            		</div>            		
            	</div>
            </ion-checkbox>
			
		</ion-list>
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

