<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
        <mxi-icon icon="icon-nav-close"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
		<button class="button button-clear">
            CONFIRM
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	Summary		
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item text-center key graytxt big">
			Review activity and press "CONFIRM" to release
		</div>

		<div class="subheader outside-row bold">Case Header</div>
		
		<ion-list class="list">
			<ion-item ng-click="vm.toggleGroup(2)" class="ripple">
				<div class="row">					
            		<div class="col higher-line-height">
						Case ID
            		</div>
					<div class="col higher-line-height">
						123456
            		</div>
					<div class="col col-10 higher-line-height text-right">
						<i class="icon ion-chevron-down"></i>
            		</div>
            	</div>
			</ion-item>
			<ion-item ng-show="vm.isGroupShown(2)" class="item-accordion item-no-border-top">
				<div class="row">
            		<div class="col text-small">Date and Time</div>
					<div class="col label">1/18/2006, 10:30 AM</div>					
            	</div>
				<div class="row">
            		<div class="col text-small">Procedure Room</div>
					<div class="col label">RM02</div>					
            	</div>
				<div class="row">
            		<div class="col text-small">Patient</div>
					<div class="col label">Patient11001 - Lacroix, Johannes</div>					
            	</div>
				<div class="row">
            		<div class="col text-small">Account Number</div>
					<div class="col label">1765634567</div>					
            	</div>
				<div class="row">
            		<div class="col text-small">Patient Class</div>
					<div class="col label">In - Patient</div>					
            	</div>
				<div class="row">
            		<div class="col text-small">Practitioner</div>
					<div class="col label">DR. Anabella Terra</div>					
            	</div>
				
			</ion-item>			
		</ion-list>
		
		<div class="subheader outside-row bold">Procedure and Items</div>
		<br>
		<ion-list class="list">
			<ion-item class="no-border-top">
				<div class="noellipsis">Angiodysplasia of Stomach and Duodenum with hemmorhage.</div>				
				<div class="higher-line-height text-semismall padding-top10">
					0000001 - For Combined PO<br>
					1 EA<br>
					0000002 - Dressing, ABD, Binder 46-6<br>
					1 EA
				</div>
			</ion-item>
			<ion-item>
				<div class="noellipsis">Angiodysplasia of Stomach and Duodenum with hemmorhage.</div>				
				<div class="higher-line-height text-semismall padding-top10">
					0000001 - For Combined PO<br>
					1 EA<br>
					0000002 - Dressing, ABD, Binder 46-6<br>
					<div class="text-semismall red">1 ERROR Detected</div>
				</div>
			</ion-item>
		</ion-list>
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

