<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-back"></mxi-icon>
		</button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
		<button class="button button-clear" ng-click="vm.goBack()">
            SAVE
        </button>
        <button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title class="hassub">
    	Add Procedure		
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item text-center key graytxt big">
		Enter procedure or tap icon to search then press "OK" to add
		</div>
		<div class="item text-center key clearkey left no-border-bottom">Procedures: 2</div>
		
		
		<ion-list>
			
			<div class="row gray-border-bottom no-margin">
            	
				<div class="col higher-line-height">				
            		<span class="text-big">ANGIOSDH</span>					
            		<span class="item-content">
						Angiodysplasia of stomach and duoden...<br>
						Charge Code: 53782<br>
						CPT Code: 53782 - CPT Modifier: <a class="blue" ng-click="vm.goTo('app.build-case-add-procedure-modifier')">ADD MODIFIER</a><br>
						Items: 0
					</span>
            	</div>
				
            	<div class="col col-10 text-right padding-top10 valign-text">
					<button class="button button-icon valign" ng-click="vm.goTo('app.build-case-add-procedure-item')">
                        <mxi-icon icon="icon-build-case-add-items-black"></mxi-icon>
                    </button>					
            	</div>
            </div>
			
			<div class="row gray-border-bottom no-margin">
            	
				<div class="col higher-line-height">				
            		<span class="text-big">ANGIOSDH</span>					
            		<span class="item-content">
						Angiodysplasia of stomach and duoden...<br>
						Charge Code: 53782<br>
						CPT Code: 53782 - CPT Modifier: <a class="blue" ng-click="vm.goTo('app.build-case-add-procedure-modifier')">ADD MODIFIER</a><br>
						Items: 0
					</span>
            	</div>
				
            	<div class="col col-10 text-right padding-top10 valign-text">
					<button class="button button-icon valign" ng-click="vm.goTo('app.build-case-add-procedure-item')">
                        <mxi-icon icon="icon-build-case-add-items-black"></mxi-icon>
                    </button>					
            	</div>
            </div>	
			
		</ion-list>
		
  </ion-content>
  
  <div class="bar bar-footer">
		<div class="col">
			<button ng-click="vm.goTo('app.build-case-select-procedures');" class="button button-clear button-azure center">ADD PROCEDURES</button>
		</div>
	</div>
  <!-- END View content --> 
</ion-view>

