<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
        <mxi-icon icon="icon-nav-close"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->
	
	 <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear">
            OK
        </button>		
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header --> 
   	<ion-nav-title class="hassub">
    	Select CPT Modifier
		<div class="sub-title">ANGIOSDH</div>
	</ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
   	<ion-content class="has-header">
		<form>
			<div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
				<label class="item-input-wrapper">
					<input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='Search modifier' ng-model="vm.searchText" maxlength="32">					
				</label>				
            </div>
			<div class="item text-center key">
				Selected: RM01
			</div>
		</form>
		
		<ion-list class="ui-radio-checkmark">
			
			<label class="item item-radio">
				<input type="radio" name="group1">
				<span class="item-content">
					<span class="text-big">Modifier 1000001</span>
				</span>
				<i class="radio-icon ion-checkmark middle"></i>
			</label>
			
			<label class="item item-radio">
				<input type="radio" name="group1">
				<span class="item-content">
					<span class="text-big">Modifier 2000002</span>
				</span>
				<i class="radio-icon ion-checkmark middle"></i>
			</label>
			
			<label class="item item-radio">
				<input type="radio" name="group1">
				<span class="item-content">
					<span class="text-big">Modifier 3000003</span>
				</span>
				<i class="radio-icon ion-checkmark middle"></i>
			</label>
		
		</ion-list>
		
  </ion-content>
  
	
  <!-- END View content --> 
</ion-view>

