<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
        <mxi-icon icon="icon-nav-back"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear">
            OK
        </button>
		<button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
	<ion-nav-title class="hassub">
    	000001
		<div class="sub-title">For Combined PO</div>
	</ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
	<ion-content class="has-header">		
		<div class="item graytxt big text-center key">
			Enter or scan details and tap OK to continue
		</div>
		
		<div class="row gray-border-bottom no-margin">
            <div class="col">            		
				<div class="row">
					<div class="col label">Manufacturing Number</div>					
					<div class="col text-right">MANUFACTURER</div>
				</div>
				<div class="row">					
					<div class="col label">Department-Loc</div>
					<div class="col ">
						<button ng-click="vm.selectlocationpopup()" class="button button-azure button-clear align-right">Location</button>
					</div>
				</div>
				<div class="row">
					<div class="col label">Expiration</div>
					<div class="col">
						<input type="date" value="2016-01-19" class="date-picker-clean align-right">
					</div>
				</div>
				<div class="row">
					<div class="col col-50 label">QTY</div>
					<div class="col">
						<label class="item item-input show-ea">
							<input type="text" placeholder="">
						</label>						
					</div>
					<div class="col col-20 text-center">
						<button class="button button-icon ion-plus-round martop5"></button>
					</div>
				</div>
			</div>					
		</div>
        
		
		<div class="subheader outside-row bold">Item Quantity</div>
		
		<ion-list>
			<div class="row gray-border-bottom no-margin">
				<div class="col normal-line-height">				
            		
						<div class="row">
							<div class="col no-padding-sides">Dept Loc: CATH MTKSL</div>
							<div class="col text-right">1</div>
						</div>
						<div class="row">
							<div class="col no-padding-sides">Expiration: --</div>
							<div class="col text-right">QTY</div>
						</div>
            	</div>            	
            </div>
			
			<div class="row gray-border-bottom no-margin">
				<div class="col normal-line-height">				
            		
						<div class="row">
							<div class="col no-padding-sides">Dept Loc: CATH MTKSL</div>
							<div class="col text-right">1</div>
						</div>
						<div class="row">
							<div class="col no-padding-sides">Expiration: --</div>
							<div class="col text-right">QTY</div>
						</div>
            	</div>
				<div class="col col-20 text-right">
				<button class="button button-clear button-right red-button align-bottom bottom-margin10">DELETE</button>
				</div>
            </div>
						
		</ion-list>
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

