<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
        <mxi-icon icon="icon-nav-back"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	Change Procedure Room
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
   	<ion-content class="has-header">
		<form>
			<div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
				<label class="item-input-wrapper">
					<input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='Search' ng-model="vm.searchText" maxlength="32">					
				</label>				
            </div>
			<div class="item text-center key">
				Selected: {{vm.selectedprocedureroom}}
			</div>
		</form>
		
		<ion-list class="ui-radio-checkmark">
			
			<label class="item item-radio" ng-click="vm.selectedprocedureroom='RM01';">
				<input type="radio" name="group1">
				<span class="item-content">
					<span class="text-big">RM01</span>
				</span>
				<i class="radio-icon ion-checkmark middle"></i>
			</label>
			
			<label class="item item-radio" ng-click="vm.selectedprocedureroom='RM02';">
				<input type="radio" name="group1">
				<span class="item-content">
					<span class="text-big">RM02</span>					
				</span>
				<i class="radio-icon ion-checkmark middle"></i>
			</label>
		
		</ion-list>
		
  </ion-content>
  
	
  <!-- END View content --> 
</ion-view>

