/*******************************
    Navigational Drawer
 *******************************/
.dark.menu {
    background-color: #313236;
}
.dark.menu .bar {
    background-color: #313236;
    background-image: none;
    color: #abaeb7;
}
.dark.menu .item {
    border-color: #3b3d40;
    background-color: transparent;
    padding: 9px 10px 9px 40px;
    font-size: 18px;
}

.menu .has-header {
    top: 180px;
}
.menu .has-footer {
    bottom: 88px;
}
.menu .bar-header {
    height: 180px;
    text-align: center;
    border-bottom-width: 0;
}
.menu .user-section {
    width: 100%;
    margin-bottom: 20px;
}
.menu .icon.avatar {
    margin: 18px 0 10px 0;
    border-radius: 35px;
    height: 70px;
    width: 70px;
}
.menu svg.icon {
    height: 50px;
    vertical-align: middle;
}
.menu .user-name {
    margin: 15px 0 10px;
    font-size: 20px;
    color: #ffffff;
}
.menu .job-title {
    font-size: 15px;
    color: #ffffff;
}
.menu .item {
    background: transparent;
    border-width: 1px;
}
.menu .item a {
    color: #ffffff;
    display: block;
    text-decoration: none;
}
.menu .item a .title {
    margin-left: 12px;
}

.menu .item-complex .item-content {
    padding: 0;
    background-color: transparent;
}

.menu .bar-footer.bar {
    height: 88px;
}
.menu .bar-footer.list {
    padding-top: 0;
}
.menu .bar-footer.item {
    font-size: 14px;
    padding: 8px 10px 8px 40px;
    border-color: transparent;
}
.menu .bar-footer.item:nth-last-child(2) {
    margin-top: 40px;
}
.menu .bar-footer.item a {
    color: #b3b3b3;
}

/*******************************
    Navigation Bar
 *******************************/
.platform-android .bar .title {
    font-size: 18px;
    line-height: 56px;
}
.bar {
    color: #fff;
    height: 56px;
    padding: 0 1rem;
    background-color: #fafafa;
}
.bar .title {
    height: 56px;
    margin: 0 10px 0 17px;
}
.bar .sub-title {
    font-size: 12px;
    position: absolute;
    top: 34px;
    left: 0;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.bar .button.button-clear {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
.has-header {
    top: 56px;
}

/*******************************
    Contextual Action Bar
 *******************************/
.bar-shadowed.ng-animate {
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.bar-shadowed.ng-hide {
    z-index: 0;
    top: -58px;  
}
.bar-shadowed {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 10;
    top: 0;
}

/*******************************
    Navigation Bar Button
 *******************************/
.bar .button {
    padding: 0;
    border-width: 0;
}
.bar .buttons > .button {
    min-height: 46px;
}
.bar .title + .buttons {
    right: 10px;
}

/*******************************
    Navigation Bar Button Icon
 *******************************/
.button .icon {
    vertical-align: text-top;
}
    
/*******************************
    Icon
 *******************************/
.icon {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 32px;
}

/*******************************
    Search Input with Button
 *******************************/
.item-input-wrapper {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.item-input-inset .item-input-wrapper input {
    background: #ffffff url('../img/search.png') no-repeat 14px 50%;
    border-color: #bebebe;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    color: #999999;
    padding-left: 56px;
    padding-right: 40px;
}
.item-input-inset {
    background: #f0f0f0;
    padding: 18px 16px;
}
.item-input-inset .button-small {
    color: #5f96CA;
    font-size: 14px;
    font-weight: bold;
}
.item-input-inset .button {
    border-width: 0;
    background-color: transparent;
}
.item-input-inset .button.activated, .popover .button.activated {
    border-color: transparent;
    box-shadow: none;
}
.item-input-inset.item {
    border-width: 0;
    padding: 18px 16px;
}
.item-input-inset + .item.key {
    margin-top: -14px;
}

/*******************************
    Input Field
 *******************************/
.item.item-input {
    padding: 0 8px;
}
.item-input input {
    padding-right: 0;
    font-size: 20px;
    line-height: 20px;
}

/*******************************
    Checkbox
 *******************************/
.platform-android .checkbox-platform input:before, 
.platform-android .checkbox-platform .checkbox-icon:before, 
.checkbox-square input:before, .checkbox-square .checkbox-icon:before {
    border-width: 1px;
}
.checkbox input:before, .checkbox .checkbox-icon:before {
    border-color: #666;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #4c87bf;
    border-color: #4c87bf;
}

/*******************************
    Radiobutton
 *******************************/
.ui-radio .item.item-radio, .ui-radio-checkmark .item.item-radio {
    padding: 0;
}
.ui-radio .item-radio .item-content, .ui-radio-checkmark .item-radio .item-content {
    padding-right: 16px;
    padding-left: 72px;
    background-color: transparent;
}
.ui-radio .item-radio input:checked ~ .item-content, .ui-radio-checkmark .item-radio input:checked ~ .item-content {
    background: transparent;
}
.ui-radio-checkmark .ion-checkmark:before {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    left: 8px;
    background-size: contain;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path fill-rule="evenodd" clip-rule="evenodd" fill="#5F5F5F" d="M6.563 15c-.254 0-.508-.096-.703-.289l-5.063-5.001c-.393-.388-.397-1.021-.008-1.414.387-.393 1.021-.396 1.414-.008l4.353 4.3 9.235-9.293c.391-.39 1.023-.393 1.414-.005.393.39.395 1.023.004 1.415l-9.937 10c-.196.195-.453.295-.709.295"/></svg>') no-repeat 50% 50%;
}

.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:before {
    background-color: #368ac0;
    border-color: #368ac0;
}
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:before {
    border: 1px solid #368ac0;
}
.ui-radio .item-radio input[type="radio"]:not(:checked) ~ i.ion-checkmark:after {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0);
}
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:after {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}
.ui-radio .item-radio input[type="radio"]:not(:checked) ~ i.ion-checkmark:before, 
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:before {
    border: 1px solid #737373;
    border-radius: 50%;
    content: '';
    height: 18px;
    margin-left: -31px;
    width: 18px;
}
.ui-radio .item-radio input[type="radio"]:not(:checked) ~ i.ion-checkmark:after, 
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:after {
    border: 2px solid #f0f0f0;
    border-radius: 50%;
    content: '';
    height: 10px;
    left: .34em;
    position: absolute;
    top: 1.02em;
    transition: all 0.2s ease 0s;
    width: 10px;
}
.ui-radio .item-radio input[type="radio"]:not(:checked) ~ i.ion-checkmark, 
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark {
    cursor: pointer;  
    padding-left: 35px;
    left: 16px;
}
.ui-radio .item-radio input[type="radio"]:checked:focus ~ i.ion-checkmark:before,
.ui-radio .item-radio input[type="radio"]:not(:checked):focus ~ i.ion-checkmark:before {
  box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 3px #368ac0; 
}
.ui-radio .ion-checkmark:before, .ui-radio-checkmark .ion-checkmark:before {
    content: "";
}
.ui-radio .item-radio .radio-icon {
    visibility: visible;
}
.ui-radio-checkmark .item-radio .radio-icon {
    left: 16px;
}

/*******************************
    List
 *******************************/
.item {
    border-width: 1px;
    border-color: #bebebe;
    font-size: 18px;
    color: #1a1a1a;
    padding: 18px 16px;
}
.item p {
    color: #1a1a1a;
}
.item .row, .item .col {
    padding: 0;
}
.item.item-checkbox, .ui-radio .item.item-radio, .ui-radio-checkmark .item.item-radio, .item.item-icon-left {
    background: linear-gradient(to right, rgba(250,250,250,0) 0%,rgba(250,250,250,0.96) 72px,rgba(190,190,190,1) 72px,rgba(190,190,190,1) 100%); /* W3C */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(250,250,250,0)), color-stop(72px,rgba(250,250,250,0.96)), color-stop(72px,rgba(190,190,190,1)), color-stop(100%,rgba(190,190,190,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(250,250,250,0) 0%,rgba(250,250,250,0.96) 72px,rgba(190,190,190,1) 72px,rgba(190,190,190,1) 100%); /* Chrome10+,Safari5.1+ */
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    border-width: 0;
}
.item-checkbox, .item-icon-left, .item-align-left {
    padding-left: 72px;
    padding-left: 4.5rem;
}

/*******************************
    Key holder & Item counter
 *******************************/
.item.item-input-inset.with-key {
    padding: 14px 16px 2px;
}
.item.key {
    font-size: 13px;
    color: #1a1a1a;
    background: #f0f0f0;
    border-width: 0;
    padding: 8px 40px;
    white-space: normal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.item.counter {
    font-size: 13px;
    color: #1a1a1a;
    background: transparent;
    border-width: 0;
    padding: 10px 72px 4px;
}

/*******************************
    PopOver
 *******************************/
.platform-android .popover .item {
    padding: 0;
}
.popover {
    height: auto;
    width: 200px;
}
.popover .button-full {
    background-color: transparent;
    border-width: 0;
    color: #1a1a1a;
}
.popover .button.button-full {
    line-height: 33px;
    padding: 0 20px;
    text-align: left;
    min-height: inherit;
    border-radius: 2px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.popover .item-radio .radio-icon {
    padding: 10px 14px;
}
.popover .item-radio input:checked ~ .item-content {
    background: transparent;
}
.popover .item-radio .item-content span {
    font-size: 16px;
}

.popover .item-radio .item-content {
    padding-right: 0;
    padding-left: 64px;
}
.popover .item-radio .item-content,
.popover .item-radio input:checked + .radio-content .item-content{
    background-color: transparent;
    margin: 5px 0;
    padding: 0 16px 0 49px;
    line-height: 33px;
}

.platform-android .popover .item,
.platform-android .popover .item.item-radio {
    padding: 0;
    background: transparent;
}

.popover .item-radio .radio-icon {
    left: 0;
    font-size: 18px;
}

/*******************************
    ??
 *******************************/
.pane, .view {
    background-color: #fff;
}
.item-note {
    float: none;
    text-align: right;
}
.link {
    color: #4a85c2;
    font-weight: bold;
    font-size: 15px;
    display: block;
    text-decoration: none;
    line-height: 30px;
}
.thumb {
    background-color: #c1b0d4;
    border-radius: 16px;
    color: #ffffff;
    font-size: 24px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}
.wrap {
    padding: 6px 0 0;
    display: flex;
    align-items: flex-end;
}
.wrap > div {
    color: #5c5c5c;
    font-size: 30px;
    line-height: 34px;
    width: 80px;
}
.wrap .label {
    font-size: 12px;
    line-height: 19px;
}
.item-detail .col {
    color: #5c5c5c;
    font-size: 14px;
    padding-left: 0;
    padding: 5px 0;
}
.item-detail .col + .col {
    color: #1a1a1a;
    font-size: 16px;
    padding-right: 0;
    padding-left: 5px;
}

.ui-list {
    font-size: 14px;
}
.ui-list li {
    padding: 4px 0;
}
.ui-list p {
    font-size: 18px;
}


/*******************************
    Indicator: Scale
 *******************************/
.item-icon-left .icon.scale {
    width: auto;;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 16px;
    text-align: center;
    max-width: 34px;
    min-width: 32px;
}
.scale .full, .scale .half, .scale .empty {
    width: 14px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}
.full {
    background-color: #56922e;
}
.half {
    background-color: #e5882b;
    border: 1px solid #e5882b;
}
.half:before {
    content: '';
    background-color: #ffffff;
    height: 20px;
    display: block;
}
.empty {
    background-color: transparent;
    border: 1px solid #c1c1c1;
}
.count {
    font-size: 12px;
}
.icon.index, .item-detail.item-icon-left .icon {
    font-size: 12px;
    left: 16px;
    align-items: baseline;
    padding-top: 14px;
}

/*******************************
    Spinner
 *******************************/
.spinner {
    stroke: #6ca1d5;
    fill: #444;
}
.spinner svg {
    width: 80px;
    height: 80px;
}
.spinner-lines g {
    stroke-linecap: square;
}
.loading-active .backdrop {
    background-color: #ffffff;
}
.loading-container .loading {
    background-color: #ffffff;
}

/*******************************
    Text: Alignment
 *******************************/
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/*******************************
    General Style
 *******************************/
body, .ionic-body {
    font-family: 'RobotoRegular', arial, sans-serif;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.ac-container label, .ac-container2 label{
    position: relative;
    z-index: 20;
    display: block;
    font-size: 24px;
    color: #1a1a1a;
    padding-bottom: 20px;
}

.ac-container label:hover{
    background: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    color: #1a1a1a;
}
.ac-container label:after,
.ac-container input:checked + label:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    right: 0;
    top: 7px;
    /*background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#5C5C5C" d="M0 9.001c0-.257.098-.514.293-.708l5.005-5.008c.392-.393 1.023-.393 1.415 0l5.003 5.007c.392.392.392 1.024 0 1.416s-1.023.392-1.415 0l-4.297-4.299-4.298 4.3c-.391.392-1.023.392-1.414 0-.195-.195-.292-.452-.292-.708"/></svg>') no-repeat 50% 50%;*/
    background-size: 15px;
    
    transition: all 0.2s ease-in-out;
    transform:rotate3d(0,0,1,-180deg);
}
.ac-container input:checked + label:after{
    transition: all 0.2s ease-in-out;
    transform: rotate3d(0,0,1,0deg);
}
.ac-container input{
    display: none;
}

.ac-container section{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -5px;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;
}
.ac-container input:checked ~ section{
    transition: height 0.5s ease-in-out;
}

.ac-container input:checked ~ section.ac-small{
    height: 100px;
}

.ac-container .col, .ac-container2 .col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
}

.cold {
    position: absolute;
    top: 13px;
    top: 0.8125rem;
    left: 16px;
    left: 1rem;
    line-height: normal;
}
.num, .cold1 span {
    font-size: 34px;
    line-height: 34px;
}
.label.sm, .cold1 .label {
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.cass .label {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 22px;
    line-height: 1.375rem;
}
.cass .col {
    padding: 0;
    padding-right: 5px;
    padding-right: 0.3125rem;
}
.cass .col + .col {
    padding: 0;
    padding-left: 5px;
    padding-left: 0.3125rem;
}

.item-detail + .item-align-left {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    padding-top: 16px;
    padding-top: 1rem;
}

.cass.row {
    padding-bottom: 16px;
    padding-bottom: 1rem;
    
}

.item-user {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path fill-rule="evenodd" clip-rule="evenodd" fill="#BCBCBC" d="M7.5 7c-3.038 0-5.5 2.508-5.5 5.612 0 0 0 1.388 1.571 1.388h7.857c1.572 0 1.572-1.388 1.572-1.388 0-3.104-2.463-5.612-5.5-5.612zm0-1.214c1.52 0 2.75-1.295 2.75-2.893 0-1.597-1.23-2.893-2.75-2.893s-2.75 1.296-2.75 2.893c0 1.598 1.23 2.893 2.75 2.893z"/></svg>') no-repeat;
    content: '';
    position: absolute;
    width: 12px;
    width: 0.75rem;
    height: 12px;
    height: 0.75rem;
    left: 48px;
    left: 3rem;
    top: 36px;
    top: 1.15rem;
    background-size: contain;
}
.pfp {
    background-color: #317C73;
    position: absolute;
    left: 2.8rem;
    font-size: 9px;
    color: #fff;
    border-radius: 6px;
    top: 2.25rem;
    height: 16px;
    line-height: 18px;
    padding: 0 2px;
}

.bar-header .row, .bar-header .col {
    padding: 0;
}

.bar .button-bar .button {
    min-width: 50px;
    line-height: 42px;
}
.bar-energized .button {
    border-color: transparent;
    border-width: 0;
    background-color: transparent;
}


.ui-button-bar {
    align-items: stretch;
    justify-content: space-between;
    display: flex;
    width: auto;
}

.ui-button-bar .button {
    min-height: 47px;
}

.ui-button-bar .button.left-space {
    padding-left: 14px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    display: inline-block;
    vertical-align: middle;
}

.sub-title .arrow-down {
    margin-left: 10px;
    margin-top: -3px;
}

.ui-select {
    position: relative;
    display: flex;
}
.ui-select select{
    border: 1px solid #bebebe;
    font-size: 14px;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0 40px 0 8px;
    border-radius: 1px;
    height: 36px;
    /*width: 100%;*/
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ui-select:after {
    content: ''; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #bebebe;
    position: absolute;
    right: 16px;
    top: 15px;
}

.col {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ui-text-secondary {
    font-size: 14px;
    color: #5c5c5c;
}

/*******************************
    Color Palettes: Fonts
 *******************************/
.ui-amethyst-8 {
    color: #6E5282;
}
.ui-turquoise-8 {
    color: #317C73;
}
.ui-emerald-6 {
    color:#76b051;
}

/*******************************
    Color Palettes: Navigation Bar
 *******************************/
.bar.bar-amber-7 ion-header-bar {
    background-color: #EE9A36;
    background-image: linear-gradient(0deg, #e6b400, #e6b400 50%, transparent 50%);
}
.bar.bar-amethyst-8 ion-header-bar{
    background-color: #6E5282;
    background-image: linear-gradient(0deg, #6E5282, #6E5282 50%, transparent 50%);
}
.bar.bar-emerald-7 ion-header-bar{
    background-color: #66A140 ;
    background-image: linear-gradient(0deg, #66A140 , #66A140 50%, transparent 50%);
}
.bar.bar-turquoise-8 ion-header-bar {
    background-color: #317C73;
    background-image: linear-gradient(0deg, #317C73, #317C73 50%, transparent 50%);
}
.bar.bar-slate-6 ion-header-bar {
    background-color: #50535A;
    background-image: linear-gradient(0deg, #50535A, #50535A 50%, transparent 50%);
}

.button:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

.list-with-icon .icon {
    width: 22px;
}
.list-with-icon .item-icon-left .icon {
    left: 16px;
}
.list-with-icon h2 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
}
.list-divider {
    border-width: 5px 0;
    border-color: #dddddd;
    border-style: solid;
}
.item.item-no-background {
    background: transparent;
}
.item.item-no-border {
    border-width: 0;
}
.item.item-no-border-top {
    border-top-width: 0;
}
.item.item-no-border-bottom, .list h3.header + a.item.item-no-border-bottom {
    border-bottom-width: 0;
}
.padding {
    padding: 16px;
}

.inset-list .item {
    border-width: 0;
    /*margin: 31px 0 0;*/
    padding: 0;
}
.inset-list .item-note {
    float: right;
    text-align: right;
}
.setting-list h2 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
}
.inset-list .item .toggle {
    right: 0;
}
.setting-list .item {
    border-bottom-width: 0;
}
.ui-select .input-label {
    font-size: 18px;
    color: #1a1a1a;
    padding: 0 10px 0 0;
}
.item-select select {
    right: 1px;
}
.item-note-right {
    float: right;
    color: #666;
    font-size: 14px;
}

.toggle input:checked + .track .handle{
     background-color: #368ac0;
}
.toggle .handle {
    background-color: #50535A;
}
.toggle input:checked + .track {
    border-color: #c8e9f4;
    background-color: #c8e9f4;
}

.toggle .track {
    background-color: #ccc;
    border: none;
}

.inset-list .item .ui-select {
    padding: 0;
    line-height: 40px;
    position: relative;
}
.inset-list .ui-toggle {
    /*margin: 26px 0 0;*/
    overflow: visible;
}
.inset-list .item-toggle {
    padding: 4px 0;
}
.item-toggle .toggle {
    /*top: 0;*/
}

.list h2, h3 {
    padding: 0 0 25px 0;
}

/*******************************
    List with icons: e.g. Main Settings Page
 *******************************/
.list.with-icons h2 {
    font-size: 14px;
    font-weight: bold;
    color: #1a1a1a;
    padding: 0.75rem 1rem 1.875rem 1rem;
    margin: 0;
}
.list.with-icons .item-icon-left .icon {
    left: 1rem;
}

/*******************************
    Inset List: e.g. Settings Page
 *******************************/
.list.inset .item {
    border-width: 0;
    padding: 16px 0;
}
.list.inset .item-dropdown {
    padding: 0;
}
.list.inset .item-dropdown .item-select {
    padding-left: 0;
}
.list.inset .item-dropdown .item-select select {
    border: 1px solid #bebebe;
    font-size: 14px;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 40px 0 0px;
    border-radius: 1px;
    height: 36px;
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    top: 7px;
    right: 0;
}
.list.inset .item-dropdown .input-label {
    color: #1a1a1a;
    font-size: 18px;
}
.list.inset .item-toggle {
    padding: 0;
    position: relative;
    overflow: visible;
}
.list.inset .item-toggle .toggle {
    top: -5px;
    right: 0;
}
.item-value {
    font-size: 14px;
    color: #5c5c5c;
}
.item h3 {
    font-weight: bold;
    color: #1a1a1a;
    margin: 0;
}

.item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: 0.09s all linear;
  -moz-transition: 0.09s all linear;
  transition: 0.09s all linear;
}
.item.item-accordion.ng-hide {
  line-height: 0px;
}
.item.item-accordion.ng-hide-add,
.item.item-accordion.ng-hide-remove {
  display: block !important;
}

.col.label {
    line-height: 2;
}
.col.input-text { 
    border: 1px solid #bebebe;
    border-radius: 1px;
    width: 99%;
}

.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.list h3.header {
    font-size: 14px;
    font-weight: bold;
    color: #1a1a1a;
    margin: 0;
    padding: 14px 16px;
}

.list h3.header + a.item {
    border-top-width: 0;
    border-top: 1px solid #fff;
}

.list.dashboard h2 {
    padding: 0.75rem 1rem 0.1rem 1rem;
    font-size: 14px;
    font-weight: bold;
    color: #1a1a1a;
    margin: 0; 
}

.list.dashboard .item {
    border-width: 0;
    padding: 14px 16px;
}

.list.dashboard .item h1{
    font-size: 28px;
    color: #66A140;
    margin-bottom: 2px;
}

.list.dashboard p.label {
    text-transform: uppercase;
}

.list.dashboard .item.item-accordion {
    line-height: 18px;
    border-width: 1px;
}

.list.dashboard .item.location {
    background-color: #ccc;
    text-align: center;
    padding: 3px 0;
    line-height: 48px;
    font-size: 14px;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating:not(:hover) input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
/*::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}*/

.item-complex.item-icon-left .item-content {
    padding-left: 72px;
    padding-left: 4.5rem;
}

ion-delete-button .item-checkbox .checkbox {
    padding-left: 0;
}

.item-complex.item-icon-left .item-content {
      top: 0;
  background-color: transparent;
}

.item-left-edit .item-checkbox {
  padding-right: 0px;
  padding-left: 50px;
}

.current{
  background: #368ac0!important;
}


/*
    Checkbox
*/
 
.ui-checkbox {
    width: 34px;
}
 
.ui-checkbox .checkbox-icon,
.ui-checkbox-blank .checkbox-icon {
    border: 1px solid #666;
    height: 20px;
    border-radius: 3px;
    width: 20px;
}
 
.ui-checkbox .checkbox-icon {
    border-color: #4c87bf;
}
 
.ui-checkbox-blank .checkbox-icon:before {
    border: 0;
    border-radius: 2px;
}
 
.ui-checkbox .checkbox-icon:before {
    background: #4c87bf;
    border-color: #4c87bf;
    border-radius: 0;
    border-width: 2px;
}
 
.ui-checkbox-blank .checkbox-icon:after {
    left: 15%;
    top: 19%;
    border-radius: 3px;
}
 
.ui-checkbox .checkbox-icon:after {
    opacity: 1;
    border-width: 2px;
    top: 19%;
    left: 15%;
    width: 13px;
    height: 7px;
}

.item-complex.item-left-editable {
    margin: 0;
    padding: 0;
}
.item-complex .item-content {
    padding: 18px 16px 18px 72px; 
}

.col-27 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 27%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 27%;
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
    max-width: 27%;
}
.padding-left-70 {
    padding-left: 70px;
}

.input-btn {
    position: absolute;
    right: 0;
}


.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-title {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
}
.popup-head {
    text-align: left;
    padding: 24px;
    border-bottom-width: 0;
}
.popup-body {
    padding: 4px 24px;
    font-size: 15px;
    color: #5c5c5c;
}

.popup-container .popup {
      background-color: rgba(255, 255, 255, 1);
}

.popup-buttons {
    text-align: right;
    display: block;
}

.popup-buttons .button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

.popup-buttons .button.button-default {
    background-color: transparent;
    color: #666666;
}

.popup-buttons .button.button-positive {
      background-color: transparent;
    color: #5f96ca;
}

.ui-radio-checked .radio-icon {
    visibility: visible;
}

.badge {
    position: absolute;
    margin: -7px -0px -0 -15px;
    background-color: #f9a431;
    color: #fff;
    padding: 1px;
    border-radius: 2px;
    font-size: 11px;
}
/*
	RIPPLE EFFECT DASHBOARD
*/
ion-item.item.ripple.activated{
  border-color:transparent;
  background-color:transparent;
}
ion-item.item.ripple{
	background-color:transparent;
    position: relative;
    overflow: hidden;
    outline: none !important;
}
ion-item.item.ripple:after {
    content: "";
    /*background: rgba(234,22,30,0.3);*/
    /*background: rgba(234,22,30,0.5);*/
	background: rgba(102,161,64,0.5);
	background: rgba(217,217,217,0.5);	
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left:360%;	
    margin-top: -120%;
	margin-bottom: -120%;
    margin-left: -120%;
	margin-right: -120%;	
    opacity: 0;    
	transition:all 1s ease 0s;
}
ion-item.item.ripple.activated:after{
    padding-top: 0;
    padding-left: 0;    
	margin-top:0;
    margin-left:45%;
    opacity: 1;
    transition: 0s;
}

.item-input {
    padding: 0;
}
.item-select .dropdown {
    position: relative;
  top: 0;
  width: 100%;
  max-width: 100%;
  direction: ltr;

  border: 1px solid #bebebe;
  font-size: 14px;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 40px 0 0px;
  border-radius: 1px;
  height: 36px;
  background-color: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  right: 0;
}

.button.button-azure.button-clear {
    color: #368ac0;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 4px;
}

.custom-popup .popup-head {
    display: none;
}

.custom-popup .popup-body {
    padding-top: 26px;
}


/*
    Temporary style
    looking forward update by Larry 
*/

.no-image {
    background: url('../img/default-no-image.png') no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
}

.item-left-edit.visible.active,
.item-delete .button.icon {
    width: 100%;
} 

.spinner.md svg {
    width: 40px;
}

.edit-parlevel-popup .popup-body {
    padding: 4px 16px;
}

.edit-parlevel-popup .popup-head {
  padding: 16px;
}

.edit-parlevel-popup .list h3.header {
    padding: 14px 0;
}

.edit-parlevel-popup .ui-radio-checkmark .item-radio .radio-icon {
  left: 0;
}

 .edit-parlevel-popup .ui-radio-checkmark .item-radio .item-content {
  padding-left: 38px;
 }

.edit-parlevel-popup .ui-radio-checkmark .item.item-radio {
  background: linear-gradient(to right, rgba(250,250,250,0) 0%,rgba(250,250,250,0.96) 38px,rgba(190,190,190,1) 38px,rgba(190,190,190,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(250,250,250,0)), color-stop(38px,rgba(250,250,250,0.96)), color-stop(38px,rgba(190,190,190,1)), color-stop(100%,rgba(190,190,190,1)));
  background: -webkit-linear-gradient(left, rgba(250,250,250,0) 0%,rgba(250,250,250,0.96) 38px,rgba(190,190,190,1) 38px,rgba(190,190,190,1) 100%);
  background-size: 100% 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  border-width: 0;
}

.popup-buttons {
  border-top: 1px solid #bebebe;
}

.edit-parlevel-popup .item-radio input:checked + .radio-content .item-content {
  background: transparent;
}
/*
    List indicator  
*/
.item-icon-left .icon.scale .empty{
                position:relative;
}
.item-icon-left .icon.scale .empty .innerscale{
                position:absolute;
                bottom:0;            
                left:0;
                right:0;
                background-color: $orange-color;
                /* ANIMATE */ 
                animation: scaleanim 1s;               
                height:0;
}
@keyframes scaleanim {
    0% {height:0;}
}
.item-icon-left .icon.scale .empty .innerscale.green{
                background-color:#56922E;
}
.item-icon-left .icon.scale .empty .innerscale.orange{
                background-color:#E5882B;
}
