<ion-view view-title="{{'change_company' | translate}}">
    <ion-nav-title>
		{{ 'lbl_change_company' | translate }}
	</ion-nav-title>
    <ion-content>
      <ion-refresher
          pulling-text='{{ "lbl_pull_to_refresh" | translate }}'
          on-refresh="vm.doRefresh()">
      </ion-refresher>
        <ion-list class="ui-radio-checkmark">
            <form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="vm.searchText" placeholder="{{'search_companies' | translate}}" max-length="32">
                    </label>
                    <button type="reset" class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch()">{{ 'btn_cancel' | translate }}</button>
                </div>
            </for>

            <div class="item text-center key">{{"lbl_selected" | translate}}: {{ vm.selectedCompanyID }} - {{vm.selectedCompanyDesc}}</div>
            <ion-radio ng-class="{true: 'ui-radio-checked'}[vm.selectedCompanyID == item.CompanyID]" ng-model="vm.selectedCompanyID" ng-click="vm.saveCompanySelected()" collection-repeat="item in vm.companyList | filter:vm.searchText" value="{{ item.CompanyID }}">
            {{ item.CompanyID }} - {{ item.CompanyDesc }}
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>