<ion-view>
    <ion-nav-title>
        {{ 'lbl_select_item' | translate }}
    </ion-nav-title>
    <ion-content>
        <ion-list class="ui-radio-checkmark">
            <form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="vm.searchText" placeholder="{{'search_items' | translate}}">
                    </label>
                    <button class="button button-small" ng-show="vm.searchText.length">{{ 'btn_cancel' | translate }}</button>
                </div>
            </for>

            <div class="item text-center key">{{"lbl_selected" | translate}}: </div>
            <ion-radio>
               C00001
            </ion-radio>
            <ion-radio>
               C00002
            </ion-radio>
            <ion-radio>
               C00003
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>