<ion-view>
    <ion-nav-title>
		{{ 'lbl_change_location' | translate }}
	</ion-nav-title>
    <ion-content>
      <ion-refresher
          pulling-text='{{ "lbl_pull_to_refresh" | translate }}'
          on-refresh="vm.doRefresh()">
      </ion-refresher>
        <ion-list class="ui-radio-checkmark">
            <form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="vm.searchText" placeholder="{{'search_a_location' | translate}}" max-length="32">
                    </label>
                    <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch()">{{ 'btn_cancel' | translate }}</button>
                </div>
            </form>

            <div class="item text-center key">{{"lbl_selected" | translate}}: {{ vm.selectedLocationCode }} - {{ vm.selectedLocationName }} </div>
            <ion-radio ng-class="{true: 'ui-radio-checked'}[vm.selectedLocationID == item.LocationID]" ng-model="vm.selectedLocationID" ng-click="vm.saveLocationSelected()" collection-repeat="item in vm.locationList | filter:vm.searchText" value="{{ item.LocationID }}">
            {{ item.LocationCode }} - {{ item.LocationName }}
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>