<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar {{setNavColor}}">
                <ion-nav-back-button class="button button-icon" nav-direction="back" nav-transition="android">
                     <mxi-icon icon="icon-nav-back"></mxi-icon>
                </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menu-content"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="dark">
        <ion-content>
            <ion-list>
                <div class="bar-header user-section">
                    <mxi-icon icon="icon-user-avatar" class="avatar"></mxi-icon>
                    <div class="user-name">Jason Bourne</div>
                    <div class="job-title">User Experience Designer</div>
                </div>

                <ion-item menu-close href="#welcome">
                    <mxi-icon icon="icon-menu-home"></mxi-icon> 
                    <span class="title">{{ 'lbl_home' | translate }}</span>
                </ion-item>
                <ion-item menu-close href="#/app/dock-log" nav-direction="forward">
                    <mxi-icon icon="icon-dock-logging"></mxi-icon> 
                    <span class="title">{{ 'lbl_dock_logging' | translate }}</span>
                </ion-item>
                <ion-item menu-close href="#app/misc-receiving" nav-direction="forward">
                    <mxi-icon icon="icon-misc-receiving"></mxi-icon> 
                    <span class="title">{{ 'lbl_misc_receiving' | translate }}</span>
                </ion-item>
                <ion-item menu-close href="#app/po-receiving" nav-direction="forward">
                    <mxi-icon icon="icon-po-receiving"></mxi-icon> 
                    <span class="title">{{ 'lbl_po_receiving' | translate }}</span>
                </ion-item>
                <ion-item menu-close href="#app/issues">
                    <mxi-icon icon="icon-issues"></mxi-icon> 
                    <span class="title">{{ 'lbl_issues' | translate }}</span>
                </ion-item>
                <ion-item menu-close href="#app/picking">
                    <mxi-icon icon="icon-picking"></mxi-icon>
                    <span class="title">{{ 'lbl_picking' | translate }}</span>
                </ion-item>
                <ion-item menu-close href="#">
                    <mxi-icon icon="icon-delivery"></mxi-icon> 
                    <span class="title">{{ 'lbl_delivery' | translate }}</span>
                </ion-item>

                <ion-item menu-close class="bar-footer" href="#/app/settings">{{ 'lbl_settings' | translate }}</a></ion-item>
                <ion-item menu-close class="bar-footer" href="#">{{ 'lbl_signout' | translate }}</a></ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>