<ion-popover-view>

    <div ng-if="vm.popUpType == 'clearOrSelectAll'">
        <a href='#' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.selectAll(); vm.popover.hide();" ng-show="vm.showSelectAll">{{"lbl_select_all" | translate}}</a>
        <a href='#' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.clearAll(); vm.popover.hide();" ng-hide="vm.showSelectAll">{{"lbl_clear_all" | translate}}</a>
    </div>

    <!--<div ng-if="vm.popUpType == 'vendor'">
        <ion-list>
            <div class="ui-radio-checkmark" >
                <ion-radio ng-repeat="item in vm.vendorList"  ng-class="{true: 'ui-radio-checked'}[vm.vendorID == item.VendorID]" ng-click="vm.selectVendor(item.VendorID,item.VendorName); vm.popover.hide();">{{ item.VendorName }}</ion-radio>
            </div>
        </ion-list>
    </div> -->

    <div ng-if="vm.popUpType == 'printer'">
        <a href='#/app/misc-receiving-printer-list' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();">{{"lbl_select_printer" | translate}}</a>
    </div>

	<div ng-if="vm.popUpType == 'dock-logging'">
        <a href='#' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.changeCompanyOrLoc('app.dock-log-change-company'); vm.popover.hide();">{{"lbl_change_company" | translate}}</a>
        <a href="#" class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.changeCompanyOrLoc('app.dock-log-change-location'); vm.popover.hide();">{{"lbl_change_location" | translate }}</a>
        <a href="#/app/dock-log-change-printer" class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();" ng-if="vm.dockLogAutoPrint == 'Y'">{{"lbl_select_printer" | translate }}</a>
        <a href='#' class="button button-full" ng-click="vm.showOptionToDelete = true; vm.popover.hide(); vm.showSelectAll = true;" ng-if="vm.dockLog.length > 0">Edit</a>
    </div>

	<div ng-if="vm.popUpType == 'misc-receiving'">
        <a href='#/app/misc-receiving-change-company' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();">{{"lbl_change_company" | translate}}</a>
        <a href="#/app/misc-receiving-change-location" class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();">{{"lbl_change_location" | translate }}</a>
        <a href='#' class="button button-full" ng-click="vm.showOptionToDelete = true; vm.popover.hide(); vm.showSelectAll = true;" ng-if="vm.miscRec.length > 0">Edit</a>
    </div>

    <div ng-if="vm.popUpType == 'po-receiving'">
        <a href='#/app/po-receiving-change-company' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();">{{"lbl_change_po_company" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'issues'">
        <a href='#/app/issues-change-comp-and-loc' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();">{{"lbl_change_comp_and_loc" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'picking'">
        <a href='#/app/picking-inventory-location' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();">{{"lbl_change_comp_and_loc" | translate}}</a>

        <a href='#' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();">{{"lbl_location_type" | translate}}</a>

        <a href='#' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();">{{"lbl_assignment" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'edit'">
        <a href='#' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide(); vm.editMode()">{{"lbl_edit" | translate}}</a>
    </div>

</ion-popover-view>