<div ng-if="vm.popUpMsg == 'tracking-exist'">
	{{ "lbl_tracking_already_exist" | translate }}
</div>

<div ng-if="vm.popUpMsg == 'com-clear-tracking'">
	{{ "lbl_changing_com_clear_tracking" | translate }}
</div>

<div ng-if="vm.popUpMsg == 'loc-clear-tracking'">
	{{ "lbl_changing_loc_clear_tracking" | translate }}
</div>