<ion-view>
    <ion-nav-title>
        {{ 'lbl_select_printer' | translate }}
    </ion-nav-title>
    <ion-content>
      <ion-refresher
          pulling-text='{{ "lbl_pull_to_refresh" | translate }}'
          on-refresh="vm.doRefresh()">
      </ion-refresher>
        <ion-list class="ui-radio-checkmark">
            <form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="vm.searchText" placeholder="{{'search_a_printer' | translate}}" max-length="32">
                    </label>
                    <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">{{ 'btn_cancel' | translate }}</button>
                </div>
            </form>

            <div class="item text-center key">{{"lbl_selected" | translate}}: {{ vm.selectedPrinterName }}</div>
            <ion-radio ng-class="{true: 'ui-radio-checked'}[vm.selectedPrinterID == item.PrinterID]" ng-model="vm.selectedPrinterID" ng-click="vm.savePrinter()" collection-repeat="item in vm.printerList | filter:vm.searchText" value="{{ item.PrinterID }}">
               {{ item.PrinterName }}
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>