<ion-view title="RAD" hide-back-button="true" >

  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon">
			<mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding = "true">
    <p>Welcome to latest RAD Application</p>
  </ion-content>
</ion-view>