
<ion-view hide-back-button="true">
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear" ng-show="vm.showSendButton" ng-click="vm.SendFormToServer()">{{ "lbl_send_btn" | translate }}</button>
        <button class="button button-icon" ng-click="vm.goToAddParCount()" ng-disabled="vm.isDisabled">
          <mxi-icon icon="icon-nav-plus"></mxi-icon>
        </button>
        <button class="button button-icon" ng-click="vm.cycleCountOption($event);">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      
      <button menu-toggle="left" class="button button-icon">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>
      <!--START Hide and Show header -->
      <ion-bar-header style="background-color:#6E5282" class="bar bar-shadowed" ng-show="vm.showOptionToDelete">
        <button side="left" class="button button-icon" ng-click="vm.clearAll(); vm.showOptionToDelete = false;" id="closeOption">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
        <h1 class="title title-left" style="left: 52px; text-align:left;color:#fff">{{ vm.selectedParCount() }} {{ "lbl_selected" | translate }}</h1>
        <div class="buttons pull-right">
            <button class="button button-clear" ng-click="vm.deleteParForms()" ng-disabled="!vm.selectedParCount()">{{ "btn_delete" | translate }}</button> 
            <button class="button button-icon" ng-click="vm.optionMore($event,'add-par-form-settings');">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </div>
       </ion-bar-header>
       <!--END Hide and Show header  -->
    </ion-nav-buttons>
    <!-- END Left header buttons -->
    <!-- START Title header -->
   <ion-nav-title>
         {{"cycle_count" | translate}}<div class="sub-title">{{vm.companyHeaderID }} - {{vm.companyHeader}}</div>
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
      <ion-refresher
          pulling-text='{{ "lbl_pull_to_refresh" | translate }}'
          on-refresh="vm.doRefresh()">
      </ion-refresher>
      <ion-list show-delete="vm.showOptionToDelete">
          <form>
              <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
               <label class="item-input-wrapper">
                <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{"type_select_id" | translate}}' ng-model="vm.searchText" maxlength="32">
                   <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                        <mxi-icon icon="icon-search-close"></mxi-icon>
                    </button>
               </label>
                <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">{{ "btn_cancel" | translate }}</button>
              </div>
            </form>
          
          <div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
          	{{"text_tap_to_add_select_id" | translate}}
          </div>
          <div class="item text-center counter"> {{"lbl_total" | translate}} ({{vm.cycleCount.length}})</div>
         <!-- <ion-item class="item item-icon-left" href="#/app/downloaded-cycle-count-details/{{item.CountFormID}}" collection-repeat="item in vm.cycleCount | filter:vm.searchText"> -->
         <ion-item class="item item-icon-left" href="#" ng-click="CycleCountService.currentCycleCount=undefined;vm.goTo('app.downloaded-cycle-count-details',item.CountFormID,item.SelectID,item.LocationCodeList)" collection-repeat="item in vm.cycleCount | filter:vm.searchText">

          <ion-delete-button class="ui-checkbox{{ (item.val)  ? '' : '-blank' }}"  ng-click="item.val = !item.val;" >
              <i class="checkbox-icon"></i>
            </ion-delete-button>
            <input type="checkbox" ng-model="item.val" style="display:none;" />  
            <div class="icon scale">
               <item-loading item-param="{{item}}"  item-module="cycle-count"></item-loading>
              <!--div ng-if="item.TotalItemCounted == 0 || item.TotalItemCounted.trim < 1"  class="empty"></div> <!-- full / half / empty 
              <div ng-if="item.TotalItemCounted < item.ItemCount && item.TotalItemCounted > 0"  class="half"></div>
              <div ng-if="item.TotalItemCounted == item.ItemCount"  class="full"></div>
              <div class="count">{{item.TotalItemCounted}} / {{item.ItemCount}}</div -->
            </div>
              {{ item.SelectID }}
              <p>{{ item.LocationCodeList }}</p>
          </ion-item>

      </ion-list>
  </ion-content>
  <!-- END View content --> 
</ion-view>

