<ion-view hide-back-button="true">

	    <ion-nav-title>
			{{"title_count_form_item" | translate}} <div class="sub-title">{{ vm.SelectID }} - {{ vm.LocationCodeList }}</div></div>   
	    </ion-nav-title>

	    <ion-nav-buttons side="left">
	        <button class="button button-icon" ng-click="vm.CheckForDirtyItemCounts()">
	            <mxi-icon icon="icon-nav-close"></mxi-icon>
	        </button>
	    </ion-nav-buttons>
	    <ion-nav-buttons side="right">
			<div class="ui-button-bar">
				<button class="button button-clear" ng-click="vm.clickedDoneBtn()">{{ "btn_done" | translate }}</button>
				<button class="button button-icon left-space" ng-click="vm.goTo('app.downloaded-cycle-count-details-list',vm.CountFormID,vm.SelectID,vm.LocationCodeList)">
					<mxi-icon icon="icon-nav-list"></mxi-icon>
				</button>
			</div>
	    </ion-nav-buttons>



	<ion-content class="has-header">
		<div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
            {{ "text_enter_count_for_each_item" | translate }}
        </div>
        <div class="item text-center counter">{{ vm.currentSlideNumber }} of {{ vm.cycleCount.length }}</div>

		<ion-slide-box  show-pager="false" on-slide-changed="vm.slideHasChanged($index)">
			<ion-slide ng-repeat="item in vm.slideCycleCount" style="-webkit-transform: translate(320px, 0px) translateZ(0px);">
		        <ion-list>
		            <ion-item class="item-icon-left item-detail">
		                <i class="icon">
		                	<span class="no-image"></span>
		                </i>
		                <div class="ac-container2">
		                    <label>
		                        {{item.ItemNo}}
		                        <p>{{item.ItemDesc}}</p>
		                    </label>

		                    <p>
		                        {{item.LocationCode}} - {{item.LocationName}}
		                    </p>
		                    <div class="row" ng-show="item.BinNumber !== ''">
		                        <div class="col col-33">{{"lbl_bin_no" | translate}}</div>
		                        <div class="col"> {{ item.BinNumber }} </div>
		                    </div>
		                    <div class="row">
		                        <div class="col col-33">{{"lbl_mfr_no" | translate}}</div>
		                        <div class="col">{{ vm.getMfgDisplayString(item.ManufacturerCatalogueNumber) }}</div>
		                    </div>
		                    <div class="row" ng-show="vm.getDisplayHibcGtin(item.HIBC,item.GTIN) !== ''">
		                    	<div class="col col-33">{{ "lbl_gtin" | translate }}/{{ "lbl_hibc" | translate }}</div>
		                    	<div class="col">{{ vm.getDisplayHibcGtin(item.HIBC,item.GTIN) }}</div>
		                    </div>
		                    <div class="row" ng-show="item.SerialNumber !== ''">
		                    	<div class="col col-33">{{ "lbl_serial_no" | translate }}</div>
		                    	<div class="col">{{ item.SerialNumber }}</div>
		                    </div>
		                    <div class="row" ng-show="item.LotNumber !== ''">
		                    	<div class="col col-33">{{ "lbl_lot_no" | translate }}</div>
		                    	<div class="col">{{ item.LotNumber }}</div>
		                    </div>
		                </div>
		            </ion-item>
			            <div class="row item-icon-left">
		                    <div class="col col-33 text-center" style="padding: 5px 0;" ng-show="!vm.isBlindCount">
		                        <span class="ui-emerald-6 num">{{item.StockQuantityOnHand}}</span> <div class="label sm">{{"freeze_qty" | translate}}</div>
		                    </div>
		                    <div class="col col-33 col-offset-33">
		                        <label class="item item-input">
		                            <input type="number" placeholder='{{"qty" | translate}}' name="quantity-from-details" ng-click="vm.highlightField($event);" valid-number ng-blur="vm.checkValidInput(item,$event,vm.isBlindCount,vm.isValidateFreeze);" value="{{item.ItemQuantity}}"  data-decimal='{{"decimal_places" | translate}}' data-round='{{"round_up" | translate}}'>
		                        </label>
		                        <div class="label sm">{{"lbl_count_ea" | translate}} ({{ item.UnitOfMeasure }})</div>
		                    </div>
		                </div>
		            </ion-item>
		        </ion-list>
			</ion-slide>
		</ion-slide-box>

	</ion-content>
	
    <ion-footer-bar align-title="left">
        <div class="buttons xi-nav">
            <button class="button button-icon icon-left" ng-click="vm.slidePrevious()" ng-disabled="vm.currentSlideNumber == 1">
                <mxi-icon icon="icon-previous"></mxi-icon>
                <span class="btn-text">{{"lbl_previous" | translate}}</span>
            </button>
        </div>
        <div class="buttons xi-nav pull-right">
            <button class="button button-icon icon-right" ng-click="vm.slideNext()">
                <span class="btn-text">{{"lbl_next" | translate}}</span>
                <mxi-icon icon="icon-next"></mxi-icon>
            </button>
        </div>
    </ion-footer-bar>
 </ion-view>
