<ion-view nav-direction="slideUp" hide-back-button="true">
  
    <ion-nav-title>
         <div>{{"cycle_count" | translate}}</div> <div class="sub-title">{{vm.companyHeaderID }} - {{vm.companyHeader}}</div>
    </ion-nav-title>
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
        <button side="left" class="button button-icon" ng-click="vm.goTo('app.cycle-count')" href="">
              <mxi-icon icon="icon-nav-back"></mxi-icon>
          </button>
          
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="ui-button-bar">
            <button class="button button-clear" >{{ "lbl_send_btn" | translate }}</button>
            <button class="button button-icon" ng-click="vm.downloadedCycleCountOption($event);">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
                {{"text_tap_to_start_pick_for_par" | translate}}
            </div>
            <a class="item item-icon-left" href="#/app/downloaded-cycle-count-details">
                <!--span class="item-note">11-Aug 8:21 AM</span-->
                <div class="icon scale">
                    <div class="half"></div> <!-- full / half / empty -->
                <!--    <div class="count">4 / 10</div> -->
                </div>
                     GCYC
                <p>1st Floor North Witn Bldg A</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>