<ion-view hide-back-button="true">

        <ion-nav-title>
            {{"lbl_title_cycle_count" | translate}} <div class="sub-title">{{vm.SelectID}} - {{vm.LocationCodeList}}</div>   
        </ion-nav-title>
        
        <ion-nav-buttons side="left">
            <button class="button button-icon" ng-click="vm.CheckForDirtyItemCounts()">
                <mxi-icon icon="icon-nav-close"></mxi-icon>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div class="ui-button-bar">
                <button class="button button-clear" ng-click="vm.clickedDoneBtn()">{{ "btn_done" | translate }}</button>
                <button class="button button-icon left-space" ng-click="vm.goTo('app.downloaded-cycle-count-details',vm.CountFormID,vm.SelectID,vm.LocationCodeList)">
                    <mxi-icon icon="icon-nav-grid"></mxi-icon>
                </button>
            </div>
        </ion-nav-buttons>


    <ion-content class="has-header">
        <ion-list>
            <form>
                <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
                   <label class="item-input-wrapper">
                    <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{"search_item" | translate}}' ng-model="vm.searchText" maxlength="32">
                    <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                        <mxi-icon icon="icon-search-close"></mxi-icon>
                    </button>
                   </label>
                    <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">{{ "btn_cancel" | translate }}</button>
                </div>
            </form>
            
            <div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
                {{"tap_item_to_see_cycle_details" | translate}}
            </div>
            <div class="item text-center counter"> {{"home_counted" | translate}} ( {{ vm.totalCounted }} {{ "lbl_of" | translate }} {{ vm.cycleCount.length }})</div>
            <a class="item item-icon-left" href="#" collection-repeat="item in vm.cycleCount | filter:vm.searchText">
                <i class="icon index"><span>{{ $index+1 }}</span></i>
                {{item.ItemNo}}
                <p>{{ item.ItemDesc }}</p>
                <div class="row">
                    <div class="col" style="padding-left:2px">
                        <div class="wrap">
                            <div ng-show="!vm.isBlindCount">
                                {{item.StockQuantityOnHand}} <div class="label">{{"freeze_qty" | translate}}</div>
                            </div>
                            <div>
                                <label class="item item-input">
                                    <input type="number" placeholder='{{"qty" | translate}}' item-render-buffer="24" name="quantity-from-list" ng-click="vm.highlightField($event);" valid-number value="{{item.ItemQuantity}}" ng-blur="vm.checkValidInput(item, $event, vm.isBlindCount, vm.isValidateFreeze);" data-decimal='{{"decimal_places" | translate}}' data-round='{{"round_up" | translate}}' data-serial='{{item.SerialNumber}}' item-type>
                                </label>
                                <div class="label">{{"lbl_count_ea" | translate}} ({{ item.UnitOfMeasure }})</div>
                            </div>
                        </div>
                    </div>
                </div>  
            </a>
        </ion-list>
    </ion-content>
</ion-view>