<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">      
		<button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-back"></mxi-icon>
		</button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear" disabled>
            {{ 'btn_save' | translate }}
        </button>
		<button class="button button-clear" disabled>
            {{ 'btn_done' | translate }}
        </button>		
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	{{ 'pull_title' | translate }}		
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header has-footer">
		<div class="item text-center key graytxt big">{{ 'pull_scan_or_tap_input_field_info' | translate }}</div>
		<div class="item text-center key clearkey left no-border-bottom">Charge Header</div>
		
		<div class="item item-input-inset quick-search">
            <label class="item-input-wrapper">				
				<input type="text" placeholder="Enter visit number" ng-model="search" />
				<button ng-if="search.length" class="input-button button button-icon ion-android-close" ng-click="vm.clearSearch()"></button>				
            </label>
		</div>
		<ion-list class="simple-gray-list">
			<ion-item class="">
				PID00000000001-LaCroix, Johannes...
			</ion-item>							
		</ion-list>
		<div class="slim-toggle no-top-border">
		<ion-toggle class="">
			Floor Change
		</ion-toggle>
		</div>
		<div class="row full-width">
			<div class="col">								
				<div class="row gray-border-bottom">
					<div class="col label">Charge Date</div>
					<div class="col label text-right">
					<input type="date" value="2016-01-19" class="date-picker-clean align-right">
					</div>
				</div>
				<div class="row gray-border-bottom">
					<div class="col label">Revenue Center</div>
					<div class="col label text-right">HR</div>
				</div>
				<div class="row">
					<div class="col">Supply Locations</div>
				</div>
				<div class="row slim">
					<div class="col">
						<button class="button button-azure button-clear left">ADD LOCATION</button>
						<button class="button button-azure button-clear align-right">CLEAR ALL</button>
					</div>
				</div>
				<div class="row slim">
					<div class="col">
						<ion-list class="">
							<ion-item class="gray-round-list-item">
								1E - 1st Floor East Par Cart
								<button class="button button-icon ion-close-circled small align-right"></button>
								<!--<a class="button button-icon icon ion-close-circled small"></a>-->
							</ion-item>
							<ion-item class="gray-round-list-item">
								1E - 1st Floor East Par Cart
								<button class="button button-icon ion-close-circled small align-right"></button>
								<!--<a class="button button-icon icon ion-close-circled small"></a>-->
							</ion-item>
						</ion-list>
					</div>
				</div>
				

			</div>
		</div>
		
  </ion-content>
  
	<div class="bar bar-footer">
		<div class="col">
			<button ng-click="vm.goTo('app.pull-add-items');" class="button button-clear button-azure center">ADD ITEMS
			<i class="icon index2 small oranged upper-right">
				<span>2</span>
			</i>
			</button>
		</div>
	</div>
  <!-- END View content -->
</ion-view>

