<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-close"></mxi-icon>
		</button>		
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear">
            {{ 'btn_ok' | translate }}
        </button>
		<button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-grid"></mxi-icon>
        </button>
		<button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
	<ion-nav-title class="hassub">
    	Add Items
		<div class="sub-title">0987654321</div>
   </ion-nav-title>
   
   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item text-center key graytxt big">
		Scan or Tap input field to enter item ID
		</div>
		<div class="item text-center key clearkey left no-border-bottom">Total:1</div>
		
		<div class="item item-input-inset quick-search gray-border-bottom padding-bottom20">
            <label class="item-input-wrapper">				
				<input type="text" placeholder="Enter visit number" ng-model="search" />
				<button ng-if="search.length" class="input-button button button-icon ion-android-close" ng-click="vm.clearSearch()"></button>
            </label>
			<button class="button button-azure button-clear align-right">ADD</button>	
		</div>
		
		<div class="row full-width">
			<div class="col">
				<div class="row full-width">
					<div class="col">
						<strong class="text-medium">Items</strong>
					</div>
				</div>
			</div>
		</div>
		
		<ion-list class="plus-minus-list">
			<div class="row gray-border-bottom no-margin">					
            	<div class="col higher-line-height">
            		<strong class="text-big">1122334455A</strong>
					<br />
            		<span class="item-content">
						1E - First Floor East Par Cart
					</span>
            	</div>
            	<div class="col col-40 text-right higher-line-height text-base padding-top10 float-children-right">
					<button class="button button-icon ion-plus green align-right" ng-click="vm.goBack()"></button>					
					<label class="plus-minus-input align-right">					
						<input type="text" placeholder="" class="">
					</label>
					<button class="button button-icon ion-minus red align-right" ng-click="vm.goBack()"></button>					
            	</div>
            </div>
			<div class="row gray-border-bottom">					
            	<div class="col higher-line-height">
            		<strong class="text-big">1122334455A</strong>
					<br />
            		<span class="item-content">
						1E - First Floor East Par Cart
					</span>
            	</div>
            	<div class="col col-40 text-right higher-line-height text-base padding-top10 float-children-right">
					<button class="button button-icon ion-plus green align-right" ng-click="vm.goBack()"></button>					
					<label class="plus-minus-input align-right">					
						<input type="text" placeholder="" class="">
					</label>
					<button class="button button-icon ion-minus red align-right" disabled ng-click="vm.goBack()"></button>					
            	</div>
            </div>
		</ion-list>
		
		
  </ion-content>
	
  <!-- END View content -->
</ion-view>

