<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-close"></mxi-icon>
		</button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear" ng-click="vm.goBack()">
            {{ 'btn_done' | translate }}
        </button>
	</div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	Filter
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
  <div class="item text-center key graytxt big">Enter charge details and press OK to continue</div>
  
  <div class="row">
	<div class="col valign-text">Patient Name</div>
	<div class="col">
		<label class="item item-input">
			<input type="text" placeholder="">
		</label>
	</div>
  </div>
  
  <div class="row">
	<div class="col valign-text">Vist Number</div>
	<div class="col">
		<label class="item item-input">
			<input type="text" placeholder="">
		</label>
	</div>
  </div>
  
  <div class="row">
	<div class="col valign-text">Item Number</div>
	<div class="col">
		<label class="item item-input">
			<input type="text" placeholder="">
		</label>
	</div>
  </div>
  
  <div class="row">
	<div class="col valign-text">Revenue Ctr</div>
	<div class="col">
		<label class="item item-input">
			<input type="text" placeholder="">
		</label>
	</div>
  </div>
  
  <div class="row top-padding20">	
	<div class="col">
		<button class="button button-clear button-left blue-button">CLEAR FILTER</button>		
	</div>
  </div>
		
  </ion-content>
  <!-- END View content --> 
</ion-view>



