<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-back"></mxi-icon>
		</button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear" disabled>
            {{ 'btn_ok' | translate }}
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	0987654321
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<form>
			<div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
				<label class="item-input-wrapper">
					<input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='Search Patient' ng-model="vm.searchText" maxlength="32">
				</label>				
				<button ng-click="vm.goTo('app.pull-filter');" class="button button-icon ion-android-funnel"></button>
            </div>
			<div class="item text-center key">
				Tap Ok to select or Back to cancel
			</div>
		</form>		
		<div class="item text-center counter">
		Patient(s): 2
		</div>
		
		<ion-list class="ui-radio-checkmark">
		
			<label class="item item-radio">
				<input type="radio" name="group1">
				<span class="item-content">
					<span class="text-big">242346455AB</span>
					<br />
					Name: Lacroix, Johannes
					<br />
					Location: Room 101
				</span>
				<i class="radio-icon ion-checkmark middle"></i>
			</label>
			
			<label class="item item-radio">
				<input type="radio" name="group1">
				<span class="item-content">
					<span class="text-big">242346455AB</span>
					<br />
					Name: Lacroix, Johannes
					<br />
					Location: Room 101
				</span>
				<i class="radio-icon ion-checkmark middle"></i>
			</label>
			
			<label class="item item-radio">
				<input type="radio" name="group1">
				<span class="item-content">
					<span class="text-big">242346455AB</span>
					<br />
					Name: Lacroix, Johannes
					<br />
					Location: Room 101
				</span>
				<i class="radio-icon ion-checkmark middle"></i>
			</label>
			
        </ion-list>
		
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

