<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" menu-toggle="left">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear" disabled>
            {{ 'lbl_send_btn' | translate }}
        </button>		
		<button class="button button-icon" ng-click="vm.goTo('app.pull-add-items-pull');">
            <mxi-icon icon="icon-nav-plus"></mxi-icon>
        </button>
        <button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title class="hassub">
    	{{ 'pull_title_patient_charges' | translate }}
		<div class="sub-title">1 - Hospitality Entity</div>
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item text-center key graytxt big">{{ 'pull_add_new_patient_charge_info' | translate }}</div>
		
		<ion-list>			
			<ion-item class="item-icon-left small-padding item-detail border-bottom">
				<i class="icon index2 small oranged">
					<span>D</span>
				</i>			
			<div class="ac-container2 slim">
				
				<div class="row">
					<div class="col">
						<label class="no-padding">
							Floor Charge							
						</label>
					</div>
					<div class="col text-right text-small hour">
						<span class="big-line-height text-right">12:33:23</span>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						Items: ---
					</div>
					<div class="col text-right text-small">
						01-28-2016
					</div>
				</div>
				
				<div class="row">
					<div class="col">Revenue Center: HR</div>
				</div>
				
			</div>
		</ion-item>
		</ion-list>
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

