<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-back"></mxi-icon>
		</button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
		<button class="button button-clear" disabled>
            {{ 'btn_ok' | translate }}
        </button>		
        <button class="button button-icon" ng-click="vm.issuesOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	Load Draft
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<form>
			<div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
				<label class="item-input-wrapper">
					<input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='Search Saved Drafts' ng-model="vm.searchText" maxlength="32">					
				</label>				
				<button ng-click="vm.goTo('app.pull-filter');" class="button button-icon ion-android-funnel greendot"></button>								
            </div>
			<div class="item text-center key">
				Tap Ok to select or (x) to cancel
			</div>
		</form>		
		<div class="item text-center counter">
		Saved Draft(s): 2
		</div>
		
		<ion-list class="ui-radio">
		
			<ion-checkbox class="half-border-bottom">
            	<div class="row">					
            		<div class="col higher-line-height">
            			<strong>242346455AB</strong><br />
            			<span class="item-content">
							Items: 3
						</span>
						<span class="item-content">
							Revenue Center: HR
						</span>
            		</div>
            		<div class="col col-33 text-right higher-line-height text-base">
            			12:04:14<br>
						01-25-2016<br>
						DRAFT00002
            		</div>
            	</div>
            </ion-checkbox>
			
			<ion-checkbox class="half-border-bottom">
            	<div class="row">					
            		<div class="col higher-line-height">
            			<strong>242346455AB</strong><br />
            			<span class="item-content">
							Items: 3
						</span>
						<span class="item-content">
							Revenue Center: HR
						</span>
            		</div>
            		<div class="col col-33 text-right higher-line-height text-base">
            			12:04:14<br>
						01-25-2016<br>
						DRAFT00002
            		</div>
            	</div>
            </ion-checkbox>
			
			<ion-checkbox class="half-border-bottom">
            	<div class="row">					
            		<div class="col higher-line-height">
            			<strong>242346455AB</strong><br />
            			<span class="item-content">
							Items: 3
						</span>
						<span class="item-content">
							Revenue Center: HR
						</span>
            		</div>
            		<div class="col col-33 text-right higher-line-height text-base">
            			12:04:14<br>
						01-25-2016<br>
						DRAFT00002
            		</div>
            	</div>
            </ion-checkbox>
			
		</ion-list>
  </ion-content>
  <!-- END View content --> 
</ion-view>

