//##########################################
//##########################################
//
//	CUSTOM SCSS
//	Last Updated : April 01 2016 by Kim
//
//##########################################
//##########################################

//------------------------------------------
//	MAIN BACKGROUND COLOR
//------------------------------------------
$main-panel-bg-color:#fff !default;

//------------------------------------------
//	MAIN COLORS
//------------------------------------------
$navigationbar-bg-color1:#EE9A36 !default;
$navigationbar-bg-color2:#806594 !default;
$navigationbar-bg-color3:#6E5282 !default;
$navigationbar-bg-color4:#1D5F8A !default;
$navigationbar-bg-color5:#66A140 !default;
$navigationbar-bg-color6:#317C73 !default;
$navigationbar-bg-color7:#50535A !default;
$navigationbar-bg-color8:#C65F5F !default;

$ui-amethyst-8:#6E5282 !default;
$ui-turquoise-8:#317C73 !default;
$ui-emerald-6:#76b051 !default;

//------------------------------------------
//	COLORS
//------------------------------------------
//	GRAY
$light-gray-color:#f0f0f0 !default;
$lighter-gray-color:#dddddd !default;
$medium-gray-color:#999999 !default;
$gray-color:#bebebe !default;
$normal-gray-color:#cccccc !default;
$dark-gray-color:#666666 !default;
$darker-gray-color:#50535A !default;
$darkest-gray-color:#444444 !default;
$darkest-gray-color-darker:#3b3d40 !default;
$darkest-gray-color-darkest:#313236 !default;
//	GREEN
$lighter-green-color:#76AF4F !default;
$light-green-color:#66A140 !default;
$green-color:#56922e !default;
//	BLUE
$light-blue-color:#c8e9f4 !default;
$lighter-blue-color:#6ca1d5 !default;
$blue-color:#368ac0 !default;
//	ORANGE
$orange-color:#e5882b !default;
//	RED
$lighter-red-color:#E84F4F !default;
$light-red-color:#368ac0 !default;
$red-color:#368ac0 !default;
//	BLACK
$black-color:#000000 !default;
$light-black-color:#1a1a1a !default;
//	WHITE
$lighter-white-color:#fafafa !default;
$white-color:#FFFFFF !default;
//	PURPLE
$lighter-purple-color:#c1b0d4 !default;
$purple-color:#FFFFFF !default;
//	TURQUOISE
$lighter-turquoise-color:#c1b0d4 !default;
$turquoise-color:#317C73 !default;
//------------------------------------------
//	HEADERS
//------------------------------------------
$header-size-largest:40px !default;
$header-size-large:34px !default;
$header-size-biggest:32px !default;
$header-size-bigger:30px !default;
$header-size-normal:28px !default;
$header-size-smaller:26px !default;
$header-size-small:24px !default;
//------------------------------------------
//	TEXT
//------------------------------------------
$font-size-biggest-bigger:20px !default;
$font-size-biggest:18px !default;
$font-size-bigger:16px !default;
$font-size-medium:15px !default;
$font-size-normal:14px !default;
$font-size-smaller:13px !default;
$font-size-small:12px !default;
$font-size-mini:10px !default;
$font-size-micro:9px !default;
//------------------------------------------
//	LINE HEIGHTS
//------------------------------------------
$line-height-xxxlarge:48px !default;
$line-height-xxlarge:42px !default;
$line-height-xlarge:40px !default;
$line-height-largest:38px !default;
$line-height-larger:36px !default;
$line-height-large:34px !default;
$line-height-normallarge:33px !default;
$line-height-mediumlarge:32px !default;
$line-height-smalllarge:30px !default;
$line-height-biggest-bigger:22px !default;
$line-height-biggest-normal:20px !default;
$line-height-biggest:18px !default;
$line-height-bigger:16px !default;
$line-height-normal:14px !default;
$line-height-small:12px !default;
$line-height-mini:10px !default;
//------------------------------------------
//	MIN HEIGHTS
//------------------------------------------
$min-height-big:40px !default;
$min-height-medium:36px !default;
$min-height-normal:34px !default;
$min-height-smaller:30px !default;
//------------------------------------------
//	PADDING AND MARGINS
//------------------------------------------
$main-paddings:18px 16px !default;
$main-paddings-top:18px !default;
$main-paddings-left:16px !default;
$main-padding-empty:0 !default;
$main-margin-empty:0 !default;
//------------------------------------------
//	BORDERS
//------------------------------------------
$border-width-bigest:5px !default;
$border-width-bigger:2px !default;
$border-width-normal:1px !default;
$border-width-empty:0px !default;
//------------------------------------------
//	RIPPLE EFFECT
//------------------------------------------
$ripple-left-color:rgba(217,217,217,0.5) !default;
$ripple-transition:all 1s ease 0s !default;

//------------------------------------------
//	TOP NAVIGATION BAR
//------------------------------------------
$top-navigation-bar-height:56px !default;
$top-navigation-bar-padding:0 20px !default;
$top-navigation-bar-title-padding:0 10px 0 17px !default;
$top-navigation-bar-subtitle-top-position:34px !default;
$top-navigation-bar-button-position-right:10px !default;
$top-navigation-bar-button-position-left:auto !default;

//------------------------------------------
//	NAVIGATION DRAWER
//------------------------------------------
$navigation-drawer-item-padding:9px 10px 9px 40px !default;
$navigation-drawer-item-background:transparent !default;
$navigation-drawer-header-height:180px !default;
$navigation-drawer-footer-bottom-position:88px !default;
$navigation-drawer-header-avatar-height:70px !default;
$navigation-drawer-header-avatar-width:70px !default;
$navigation-drawer-header-avatar-border-radius:35px !default;

//------------------------------------------
//	SPINNER
//------------------------------------------
$spinner-height:80px !default;
$spinner-width:80px !default;

//------------------------------------------
//	STAR RATINGS
//------------------------------------------
$star-rating-width:150px !default;
$star-rating-height:30px !default;

//------------------------------------------
//	FORM ELEMENTS
//------------------------------------------
$input-field-padding:4px 8px 4px 8px !default;
$input-field-min-height:40px !default;
$input-field-height:40px !default;
$input-field-line-height:40px !default;
$input-field-width:100% !default;

$checkbox-width:34px !default;
$checkbox-icon-width:28px !default;
$checkbox-icon-height:28px !default;

$dropdown-padding:0 30px 0 8px !default;
$dropdown-height:36px !default;
$dropdown-min-height:40px !default;
$dropdown-line-height:40px !default;

/*
#####################################################################
################## 							       ##################
##################   DO NOT EDIT BELOW THIS LINE   ##################
################## 							       ##################
#####################################################################
*/ 
//	The path for our ionicons font files, Relative to the built CSS in www/css
//	$ionicons-font-path: "../lib/ionic/fonts" !default;
$ionicons-font-path: "../assets/thirdparty/ionic/fonts" !default;

//	Include all of Ionic
//@import "../www/assets/thirdparty/ionic/scss/ionic";
@import "../www/assets/thirdparty/ionic/scss/ionic";

//*****************************
//	IONIC FIX
//*****************************
//	\rad\www\assets\thirdparty\ionic\scss\_variables.scss
//	line 426-428
//	Add calc() around variables
/*
$input-height-base:               calc($line-height-computed + calc($padding-base-vertical * 2) + 2) !default;
$input-height-large:              calc(floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:              calc(floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;
*/

//==========================================
//	INCLUDE APP OVERWRITES : Infor.com
//==========================================
//	This will include the following css (scss) and replace variables within
//	and then combine ionic base + overwrites into 1 minified file.
//	Dont forget to update you css link inside index.html
//
//	REF:
//	APP PATH : /assets/www/assets/motion/style.css
//	FOLDER PATH : \www\assets\motion\css
//	@import "../www/assets/motion/css/style";

//	COLORS
@import "../www/assets/motion/css/colors";
//	TEXT AND FONTS
@import "../www/assets/motion/css/text";
//	FORMS AND ELEMENTS
@import "../www/assets/motion/css/forms";
//	NAVIGATION BAR
@import "../www/assets/motion/css/navigationbar";
//	NAVIGATION DRAWER
@import "../www/assets/motion/css/navigationdrawer";
//	ICONS
@import "../www/assets/motion/css/icons";
//	GENERAL ITEMS
@import "../www/assets/motion/css/general";
//	DEV : EOF FILE
@import "../www/assets/motion/css/end";