<ion-view hide-back-button="true">

    <ion-nav-bar class="bar {{setNavColor}}">
        <ion-nav-title ng-click="vm.optionMore($event,'all-or-my-par-forms')">
            {{ "add_par_forms" | translate }} <div class="sub-title">{{vm.filtertype}}<div class="arrow-down"></div></div>    
        </ion-nav-title>
        
        <ion-nav-buttons side="left">
            <button class="button button-icon" ng-click="vm.goTo('app.my-par-forms','slideDown')" id="backBtn">
                <mxi-icon icon="icon-nav-close"></mxi-icon>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div class="ui-button-bar">
                <button class="button button-clear" ng-click="vm.addParforms();" ng-disabled="!vm.Parforms.length || vm.selectedParForm() == 0">{{ "btn_ok" | translate }}</button>
                    </button>
                <button class="button button-icon" ng-click="vm.optionMore($event)">
                  <mxi-icon icon="icon-nav-more"></mxi-icon>
                </button>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header">
        <ion-refresher 
            pulling-text='{{ "lbl_pull_to_refresh" | translate }}' 
            on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <form>
                <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
                  <label class="item-input-wrapper">
                      <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{"search_par_forms" | translate}}' ng-model="vm.searchText" maxlength="32">
                      <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                        <mxi-icon icon="icon-search-close"></mxi-icon>
                      </button>
                  </label>
                  <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">
                  {{ "btn_cancel" | translate }}</button>
                </div>
            </form>
            
            <div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
                {{ "text_select_parforms_to_count" | translate }}
            </div>
            <div class="item text-center counter"> {{"lbl_selected" | translate}} ( {{ vm.selectedParForm() }} of {{vm.Parforms.length}})</div>
            <ion-checkbox collection-repeat="downloadedParform in vm.Parforms | filter:vm.searchText" ng-model="downloadedParform.val" 
          ng-change="vm.checkboxClicked()">
          <div ng-if="downloadedParform.IsMyParform" class="item-user"></div>
                {{downloadedParform.LocationCode}}
                <p>{{downloadedParform.LocationName}}</p>
          </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>