
<ion-view >
  <!--START Hide and Show header  -->
  <ion-nav-buttons style="background-color:#EE9A36">
      <ion-bar-header style="background-color:#EE9A36" class="bar bar-energized bar-shadowed" ng-show="vm.ifCheckboxTrue">
        <button side="left" class="button button-icon" ng-click="vm.unSelectAllCheckbox()">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
        <h1 class="title title-left" style="left: 52px; text-align:left;">{{ vm.ifCheckboxTrue }} {{"lbl_selected" | translate}}</h1>
        <div class="buttons pull-right">
            <button class="button button-clear" ng-click="vm.goToParCountDownload()" >{{ "lbl_download" | translate }}</button> 
        </div>
    </ion-bar-header>
  </ion-nav-buttons>
  <!-- END of Hide and Show header  -->
  <!-- START Right header buttons -->
  <ion-nav-buttons side="right">
  	<div class="ui-button-bar">
     <button class="button button-clear" nav-direction="forward" ng-click="vm.goToParCountDownload()" ng-if="vm.ifThereAreDownloaded" >{{"lbl_continue" | translate}}</button>
    <button class="button button-icon" ng-click="vm.popover.show($event);">
        <mxi-icon icon="icon-nav-more"></mxi-icon>
    </button>
    </div>
  </ion-nav-buttons>
  <!-- END Right header buttons -->
  <!-- START Header Title -->
  <ion-nav-title>
  	 {{ "menu_par_count" | translate }} <div class="sub-title">{{ vm.companyHeaderID }} - {{ vm.companyHeader }}</div>
  </ion-nav-title>
  <!-- START View content -->      
  <ion-content class="has-header">
      <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="vm.doRefresh()">
      </ion-refresher>
      <ion-list>
          <form>
             <div class="item item-input-inset">
                 <label class="item-input-wrapper">
                     <input type="search" placeholder='{{"search_par_forms" | translate}}' ng-model="vm.searchText">
                     <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                         <mxi-icon icon="icon-search-close"></mxi-icon>
                     </button>
                 </label>
                 <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.searchParLocation(vm.searchText)">
                     {{ "search_button" | translate }}
                 </button>
            </div>
          </form>
          
          <div class="item text-center key">
             {{ "select_parforms_to_download" | translate }}
          </div>
          <div class="item text-center counter">{{ "all_parforms" | translate }} 
          ( {{vm.allParformsLength }} ) </div>
          <ion-checkbox collection-repeat="item in vm.parCount | filter:vm.searchText" ng-model="item.val" 
          ng-change="vm.checkboxClicked()">
             	{{ item.LocationCode  }} 
              <p>{{ item.LocationName  }} </p>
          </ion-checkbox>
      </ion-list>
  </ion-content>
  <!-- END View content -->   
</ion-view>

 