
<ion-view hide-back-button="true">
    <ion-nav-title>
		{{ "title_par_form_item" | translate }} <div class="sub-title">{{vm.LocationCode}} - {{ vm.LocationName }}</div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goTo('app.my-par-forms')" ng-disabled="isSavingInputs">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
		<div class="ui-button-bar">
			<button class="button button-clear" ng-click="vm.goTo('app.my-par-forms')" ng-disabled="isSavingInputs">{{ "btn_done" | translate }}</button>
			<button class="button button-icon left-space" ng-click="vm.goTo('app.downloaded-parcount-details-list','{{vm.LocationCode}}','{{vm.LocationID}}','{{vm.LocationName}}')" ng-disabled="isSavingInputs">
				<mxi-icon icon="icon-nav-list"></mxi-icon>
			</button>
		</div>
    </ion-nav-buttons>

	<ion-content class="has-header">
		<div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
            {{ "text_enter_par_count_tap_done_when_finished" | translate }}
        </div>
        <div class="item text-center counter">{{ vm.currentSlideNumber }} of {{ vm.parCounting.length }}</div>
		<ion-slide-box active-slide="vm.IndexView" show-pager="false" on-slide-changed="vm.slideHasChanged($index)" ng-if="vm.parCounting.length">
			<ion-slide ng-repeat="parCounting in vm.slideParCounting" style="-webkit-transform: translate(320px, 0px) translateZ(0px);">
		        <ion-list>
		            <ion-item class="item-icon-left item-detail">
		                <i class="icon">
		                	<span class="no-image"></span>
		                </i>
		                <div class="ac-container">
		                <!--	<input id="ac-{{ $index }}" name="accordion-1" type="checkbox" /> -->
		                	<label for="ac-{{ $index }}">
		                		{{(vm.isPopulateItemDetail)?parCounting.ItemNo:"&nbsp;"}}
		                		<p>{{ (vm.isPopulateItemDetail)?parCounting.ItemDesc:"&nbsp;" }}</p>
		                		<p>{{ "lbl_shelf" | translate }} {{parCounting.Shelf}}</p>
		                	</label>
		                
		                	<div class="row">
		                    	<div class="col col-33">{{ "lbl_mfr_no" | translate }}</div>
		                    	<div class="col">{{(vm.isPopulateItemDetail)?parCounting.ManufacturerCatalogueNumber:"&nbsp;"}}</div>
		                	</div>
		                	<div class="row">
		                    	<div class="col col-33">{{ "lbl_qoo" | translate }}</div>
		                    	<div class="col">{{(((vm.isPopulateItemDetail && vm.IsShowQOO==1) || vm.IsShowQOO==1))?parCounting.QuantityOnOrder:"&nbsp;"}}</div>
		                	</div>
		                	<div class="row">
		                    	<div class="col col-33">{{ "lbl_gtin" | translate }}/UPN</div>
		                    	<div class="col">{{(vm.isPopulateItemDetail)?parCounting.GTIN:"&nbsp;"}}</div>
		                	</div>
		                	<section class="ac-small">
		                		<!--div class="row">
		                    		<div class="col col-67">{{ "lbl_hibc" | translate }}</div>
		                    		<div class="col">{{parCounting.HIBC}}</div>
		                		</div>
		                		<div class="row">
		                    		<div class="col col-67">{{ "lbl_pending_quantity" | translate }}</div>
		                    		<div class="col">0</div>
		                		</div>
		                		<div class="row">
		                    		<div class="col col-67">{{ "lbl_requested_quantity" | translate }}</div>
		                    		<div class="col">0</div>
		                		</div-->
		                	</section>
		                </div>
		            </ion-item>
		            <!--ion-item class="item-align-left"-->
                    <div class="row">
                        <div class="col padding-left-70 text-center">
                        	<!--span class="badge">21</span-->
                            <span class="num" ng-click="vm.fillQuantityField($index,parCounting.Parlevel,'slide-box')">{{(vm.isPopulateItemDetail)?parCounting.Parlevel:"&nbsp;"}}</span>
                            <div class="label sm">{{"lbl_par_level" | translate}}</div>
                            <a ng-show="((vm.isPopulateItemDetail && vm.IsEditParLevel==1) || vm.IsEditParLevel==1)" href="#" class="link" ng-click="vm.openEditParlevel(parCounting);">{{"btn_edit" | translate}}</a>
                        </div>
                        <div class="col col-27">
                            <label class="item item-input">

                                <input type="number" name="quantity-from-details" id="slide-box-quantity-{{$index}}" placeholder='{{"qty" | translate}}' valid-number ng-blur="vm.saveValues(parCounting,$event,'quantity');" ng-focus="vm.onFocus();" item-param="{{parCounting}}" value="{{parCounting.ItemQuantity}}">
                            </label>
                            <div class="label sm">{{"lbl_count_ea" | translate}}({{parCounting.UnitOfMeasure}})</div>
                        </div>
                        <div class="col col-27">
                            <label class="item item-input" ng-show="{{vm.isAllowAddtionalQty}}">
                                <input type="number" name="add-quantity-from-details"  placeholder='{{"qty" | translate}}' valid-number ng-blur="vm.saveValues(parCounting,$event,'add-quantity');" ng-focus="vm.onFocus();" value="{{parCounting.AdditionalQuantity}}">
                            </label>
                            <div class="label sm" ng-show="{{vm.isAllowAddtionalQty}}">{{"lbl_additional_qty" | translate}}</div>
                        </div>
                    </div>
                    
                    
		            	<!--div class="cold">
                    		</div>
                		<div class="row cass">
                    		<div class="col">
                        		
                    		</div>
                    		<div class="col">
                        		
                    		</div>
                		</div-->
		            <!--/ion-item-->
		        </ion-list>
			</ion-slide>
		</ion-slide-box>

	</ion-content>
	
    <ion-footer-bar align-title="left">
        <div class="buttons xi-nav">
            <button class="button button-icon icon-left" ng-click="vm.slidePrevious()" ng-disabled="vm.currentSlideNumber == 1">
                <mxi-icon icon="icon-previous"></mxi-icon>
                <span class="btn-text">{{"lbl_previous" | translate}}</span>
            </button>
        </div>
        <div class="buttons xi-nav pull-right">
            <button class="button button-icon icon-right" ng-click="vm.slideNext()" ng-disabled="vm.currentSlideNumber >= vm.parCounting.length">
                <span class="btn-text">{{"lbl_next" | translate}}</span>
                <mxi-icon icon="icon-next"></mxi-icon>
            </button>
        </div>
    </ion-footer-bar>
 </ion-view>
