<div class="pop-xi-readyonly">
    <ul class="list inset">
        <li class="item">
            {{ 'lbl_average_par_utilization' | translate }} 
            <div class="item-note-right"> {{vm.item.AverageParUtilization}} </div>
        </li>
        <li class="item">
            {{ 'lbl_suggested_par_level' | translate }}
            <div class="item-note-right">{{vm.item.SuggestedParlevel}}</div>
        </li>
    </ul>
    <div class="row" style="border-top: 1px solid #bebebe; border-bottom: 1px solid #bebebe; margin: 0 -16px; width: auto;">
        <div class="col text-center" style="
    padding-left: 20px;
    padding-right: 20px;
">
            <span class="num">{{vm.item.Parlevel}}</span>
            <div class="label sm" style="white-space: normal;">{{"lbl_current_par_level" | translate}}</div>
        </div>  
        <div class="col text-center" style="
    padding-left: 20px;
    padding-right: 20px;
">
            <label class="item item-input">
                <input type="text" placeholder="{{ 'qty' | translate }}"/>
            </label>
            <div class="label sm" style="white-space: normal;">
                {{"lbl_new_par_level" | translate}}
            </div>
        </div>
    </div>
    <ion-list class="ui-radio-checkmark">
        <h3 class="header">
            {{ 'lbl_label_printer' | translate }}
        </h3>
        <ion-radio collection-repeat="printer in vm.parCountingPrinter">
            {{printer.PrinterName}}
        </ion-radio>
        
    </ion-list>

</div>