<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
    	<button side="left" class="button button-icon" ng-click="vm.unSelectAllCheckbox()" href="#/app/my-par-forms">
              <mxi-icon icon="icon-nav-close"></mxi-icon>
          </button>
          <h1 class="title title-left" style="left: 52px; text-align:left;">{{ vm.ifCheckboxTrue }} {{ "lbl_selected" | translate }}</h1>
    </ion-nav-buttons>
    <!-- END Left header buttons -->
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
          <button class="button button-clear" ng-click="vm.deleteParForms()" >{{ "btn_delete" | translate }}</button> 
          <button class="button button-icon" ng-click="vm.popover.show($event);">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
          </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->
      
    <ion-content>
        <ion-list>
            <form>
                <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
                  <label class="item-input-wrapper">
                      <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search Par forms" ng-model="vm.searchText">
                      <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                            <mxi-icon icon="icon-search-close"></mxi-icon>
                      </button>
                  </label>
                  <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">
                  {{ "btn_cancel" | translate }}</button>
                </div>
            </form>
            <div class="item text-center key">
                {{ "tap_to_delete" | translate }}
            </div>

            <ion-checkbox collection-repeat="downloadedParform in vm.downloadedParformList | filter:vm.searchText" ng-model="downloadedParform.val" 
          ng-change="vm.checkboxClicked()">
          <div ng-if="downloadedParform.IsMyParform" class="item-user"></div>
                {{downloadedParform.LocationCode}}
                <p>{{downloadedParform.LocationName}}</p>
          </ion-checkbox>

        </ion-list>
    </ion-content>
</ion-view>