<ion-view hide-back-button="true">
    <ion-nav-title>
        {{ "title_par_form_item" | translate }} <div class="sub-title">{{ vm.LocationCode }} - {{vm.LocationName}}</div>
    </ion-nav-title>
    
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goTo('app.my-par-forms')">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="ui-button-bar">
            <button class="button button-clear" ng-click="vm.goTo('app.my-par-forms')">{{ "btn_done" | translate }}</button>
            <button class="button button-icon left-space" ng-click="vm.goTo('app.downloaded-parcount-details','{{vm.LocationCode}}','{{vm.LocationID}}','{{vm.LocationName}}')">
                <mxi-icon icon="icon-nav-grid"></mxi-icon>
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <ion-list>
            <form>
                <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
                   <label class="item-input-wrapper">
                        <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{"search_item" | translate}}' ng-model="vm.searchText" maxlength="32">
                       <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                            <mxi-icon icon="icon-search-close"></mxi-icon>
                       </button>
                   </label>
                    <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">{{ "btn_cancel" | translate }}</button>
                </div>
            </form>
            
            <div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
                {{"tap_item_to_see_details" | translate}}
            </div>
            <div class="item text-center counter">{{"lbl_total" | translate}} ({{ vm.parCounting.length }})</div>
            <a class="item item-icon-left" href="#" collection-repeat="parCounting in vm.parCounting | filter:vm.searchText">
                <i class="icon index"><span>{{ $index+1 }}</span></i>
                {{ parCounting.ItemNo }}
                <p>{{parCounting.ItemDesc}}</p>
                <div class="row" ng-click="vm.goToRowDetailsView('{{vm.LocationCode}}','{{vm.LocationID}}','{{vm.LocationName}}',$index)">
                    <div class="col">
                        <div class="wrap">
                            <div ng-click="">
                                {{parCounting.Parlevel}} <div class="label">{{"lbl_par_level_ac" | translate}}</div>
                            </div>
                            <div>
                                <label class="item item-input">
                                   <input name="quantity-from-list{{$index}}" type="number" id="list-quantity-{{$index}}" placeholder='{{"qty" | translate}}' value="{{parCounting.ItemQuantity}}" valid-number focus-me stop-event="click" ng-blur="vm.saveValues(parCounting,$event,'quantity');" data-decimal='{{"decimal_places" | translate}}' data-round='{{"round_up" | translate}}'> 
                                <div class="label">{{"lbl_count_ea" | translate}}({{parCounting.UnitOfMeasure}})</div>
                            </div>
                        </div>
                    </div>
            	</div>  
            </a>
        </ion-list>
    </ion-content>
</ion-view>