<ion-view nav-direction="slideUp">
  
    <ion-nav-title>
        <div>{{ "menu_par_count" | translate }}</div> <div class="sub-title">{{ vm.companyHeaderID }} - {{vm.companyHeader}}</div>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <div class="ui-button-bar">
            <button class="button button-clear" ng-click="vm.goToIC83()" >{{ "lbl_send_btn" | translate }}</button>
            <button class="button button-icon" ng-click="vm.popover.show($event);">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div class="item text-center key">
                {{ "lbl_download_parcount" | translate }}
            </div>
            <a class="item item-icon-left" href="#/downloaded-parcount-details/{{downloadedParform.LocationCode}}" collection-repeat="downloadedParform in vm.downloadedParformList">
                <!--span class="item-note">11-Aug 8:21 AM</span-->
                <div class="icon scale">
                    <div class="empty"></div> <!-- full / half / empty -->
                    <div class="count">{{ vm.parformItemLength }} / {{downloadedParform.ItemCount}}</div>
                </div>
                <div ng-if="downloadedParform.IsMyParform" class="item-user"></div>
                {{downloadedParform.LocationCode}}
                <p>{{downloadedParform.LocationName}}</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>