<ion-view hide-back-button="true">
    
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
         <!--button class="button button-clear" ng-show="vm.showSendButton" ng-click="vm.SendFormToServer()">{{ "lbl_send_btn" | translate }}</button -->
         <button class="button button-icon" ng-click="vm.goToAddParforms()">
          <mxi-icon icon="icon-nav-plus"></mxi-icon>
        </button>
        <button class="button button-icon" ng-click="vm.optionMore($event);">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>


      
      <ion-bar-header style="background-color:#EE9A36" class="bar bar-energized bar-shadowed" ng-show="vm.showOptionToDelete">
        <button side="left" class="button button-icon" ng-click="vm.clearAll(); vm.showOptionToDelete = false;" id="closeOption">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
        <h1 class="title title-left" style="left: 52px; text-align:left;">{{ vm.selectedParCount() }} {{ "lbl_selected" | translate }}</h1>
        <div class="buttons pull-right">
            <button class="button button-clear" ng-click="vm.deleteParForms()" ng-disabled="!vm.selectedParCount()">{{ "btn_delete" | translate }}</button> 
            <button class="button button-icon" ng-click="vm.optionMore($event,'add-par-form-settings');">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </div>
       </ion-bar-header>
    </ion-nav-buttons>
    <!-- END Left header buttons -->
    <!-- START Title header -->
   <ion-nav-title>
         {{ "menu_par_count" | translate }} <div class="sub-title">{{ vm.companyHeaderID }} - {{ vm.companyHeader }}</div>
   </ion-nav-title>
   <!-- END Title header --> 
   <!--START Hide and Show header  -->
  <!-- END of Hide and Show header  -->

   <!-- START View content --> 
  <ion-content class="has-header">
      <ion-refresher
          pulling-text='{{ "lbl_pull_to_refresh" | translate }}'
          on-refresh="vm.doRefresh()">
      </ion-refresher>

       <form>
           <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
               <label class="item-input-wrapper">
                  <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{"search_par_forms" | translate}}' ng-model="vm.searchText" maxlength="32">
                
                  <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                      <mxi-icon icon="icon-search-close"></mxi-icon>
                  </button>
              </label>
              
              <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">
                  {{ "btn_cancel" | translate }}
              </button>
          </div>
      </form>
      <ion-list show-delete="vm.showOptionToDelete">
            <div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
                {{ "lbl_download_parcount" | translate }}
            </div>
            <div class="item text-center counter"> {{"lbl_total" | translate}} ({{vm.parCount.length}})</div>
            <ion-item class="item-icon-left item-icon-right with-date" href="#" collection-repeat="item in vm.parCount | filter:vm.searchText">
                <div class="wrap-normal" ng-click="vm.goTo('app.downloaded-parcount-details',item.LocationCode,item.LocationID,item.LocationName)">
                    <ion-delete-button class="ui-checkbox{{ (item.val)  ? '' : '-blank' }}"  ng-click="item.val = !item.val;" >
                        <i class="checkbox-icon"></i>
                    </ion-delete-button>
                    
                    <input type="checkbox" ng-model="item.val" style="display:none;" />  
                    <div class="icon scale notextwrap">
                        <item-loading item-param="{{item}}" my-directive="{{item.LocationID}}"  item-module="par-count"></item-loading>
                    </div>
                    <div ng-if="item.IsMyParform" class="item-user"></div>
                    <div class="pfp" style="display:none;">PFP</div>   
                    {{ item.LocationCode  }}
                    <p>{{ item.LocationName  }}</p>
                    <div class="ui-time-stamp">{{ item.Timestamp.substring(0,10)  }}</div>
                </div>
                <i class="icon ui-icon-left" ng-click="vm.SendFormToServer(item.LocationID);" ng-if="item.TotalItemCounted > 0">
                    <mxi-icon icon="icon-list-send"></mxi-icon>
                </i>
                
            </ion-item>
        </ion-list>


  </ion-content>
  <!-- END View content --> 
</ion-view>

 