<div class="pop-xi-readyonly">
    <div class="row">
        <div class="col xi-readonly">
            0 <div class="label">{{"lbl_average_par" | translate}} <br> {{"lbl_utilization" | translate}}</div>
        </div>
        <div class="col xi-readonly">
            0 <div class="label">{{"lbl_suggested" | translate}} <br> {{"lbl_level" | translate}}</div>
        </div>          
    </div>
    <div class="row">
        <div class="col xi-readonly">
            20 <div class="label">{{"lbl_current" | translate}} <br> {{"lbl_par_level" | translate}}</div>
        </div>
        <div class="col xi-readonly">
            0 <div class="label">{{"lbl_suggested" | translate}} <br> {{"lbl_level" | translate}}</div>
        </div>          
    </div>
</div>