<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goBack()">
            <mxi-icon icon="icon-nav-back"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
    	{{"title_change_location" | translate}}
	</ion-nav-title>    

    <ion-content>
        <ion-list class="ui-radio-checkmark">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search Location">
                </label>
                <button class="button button-small" ng-click="#">{{"btn_search" | translate}}</button>
            </div>
            <div class="item text-center key">{{"lbl_selected" | translate}}: {{vm.selectedItem}}</div>
            <ion-radio>
               1 - Location 1 Transfer
            </ion-radio>
            <ion-radio>
               2 - Location 2 Intransit Transfer
            </ion-radio>
            <ion-radio>
               3 - DG Loc
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>