
<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar {{setNavColor}}">
                <ion-nav-back-button class="button button-icon" nav-direction="back" nav-transition="android">
                     <mxi-icon icon="icon-nav-back"></mxi-icon>
                </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menu-content"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="dark">
        <ion-content>
            <ion-list>
                <div class="bar-header user-section">
                    <mxi-icon icon="icon-user-avatar" class="avatar"></mxi-icon>
                    <div class="user-name">Aivy Torres</div>
                    <div class="job-title">(u8519)</div>
                </div>
                <ion-item menu-close  nav-direction="forward" ui-sref="app.welcome" ui-sref-active="current">
                    <mxi-icon icon="icon-menu-home"></mxi-icon> 
                    <span class="title">{{"title_home" | translate}}</span>
                </ion-item>
				
                <ion-item ng-if="Modules.indexOf('Pull') != -1" menu-close nav-direction="forward" ui-sref="app.pull" ui-sref-active="current" ng-click="vm.firstEnter('Pull')">
                    <mxi-icon icon="icon-menu-pull"></mxi-icon> 
                    <span class="title">{{"menu_pull" | translate}}</span>
                </ion-item>
				
                <ion-item ng-if="Modules.indexOf('Build Case') != -1" menu-close nav-direction="forward" ui-sref="app.build-case" ui-sref-active="current" ng-click="vm.firstEnter('BuildCase')">
                    <mxi-icon icon="icon-menu-build-case"></mxi-icon> 
                    <span class="title">{{"menu_buildcase" | translate}}</span>
                </ion-item>
				
				<ion-item ng-if="Modules.indexOf('Count Inventory') != -1" menu-close nav-direction="forward" ui-sref="app.count-inventory" ui-sref-active="current" ng-click="vm.firstEnter('CountInventory')">
                    <mxi-icon icon="icon-menu-count-inventory"></mxi-icon>
                    <span class="title">{{"menu_count" | translate}}</span>
                </ion-item>
				
				<ion-item ng-if="Modules.indexOf('NEXTMENU') != -1" menu-close nav-direction="forward" ui-sref="app.count-inventory" ui-sref-active="current" ng-click="vm.firstEnter('NEXTMENU')">
                    <mxi-icon icon="icon-menu-home"></mxi-icon>
                    <span class="title">{{"menu_xxx" | translate}}</span>
                </ion-item>

                <ion-item menu-close class="bar-footer" href="#/app/settings" ui-sref="app.settings" ui-sref-active="current">{{"settings" | translate}}</a></ion-item>
                <ion-item class="bar-footer" href="#" ng-click="vm.signOutConfirmation()">{{"signoff" | translate}}</a></ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>