<ion-popover-view>

	<div ng-if="vm.popUpType == 'build-case'">
		<a href='#' class="button button-full" ng-click="vm.showHideDelete();" nav-direction="none" ng-disabled="vm.cycleCount.length == 0">
		{{"lbl_edit" | translate}}
		</a>
	    <a class="button button-full" ng-click="vm.goTo('app.pull-load-draft')">
		Change Facility
		</a>
    	<a href='#' class="button button-full" ng-click="vm.showHideDelete();" nav-direction="none" ng-disabled="vm.cycleCount.length == 0">
		Change Department
		</a>
    </div>

	<div ng-if="vm.popUpType == 'pull'">
		<a href='#' class="button button-full" ng-click="vm.showHideDelete();" nav-direction="none" ng-disabled="vm.cycleCount.length == 0">
		{{"lbl_edit" | translate}}
		</a>
	    <a class="button button-full" ng-click="vm.goTo('app.pull-load-draft')">
		Load Drafts
		</a>
    	<a href='#' class="button button-full" ng-click="vm.showHideDelete();" nav-direction="none" ng-disabled="vm.cycleCount.length == 0">
		{{"lbl_change_company" | translate}}
		</a>
    </div>	

	<div ng-if="vm.popUpType == 'list'">
        <a href='#/app/all-parforms-view' class="button button-full" nav-transition="android" nav-direction="forward" ng-click="vm.popover.hide();">{{"all_parforms" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'edit'">
    	 <a href='#/app/downloaded-parcount-edit' class="button button-full" ng-click="vm.popover.hide();" nav-transition="android" nav-direction="none">{{"lbl_edit" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'pick-for-par'">
        <a class="button button-full" href="#/app/pick-for-par-change-company" nav-direction="forward" ng-click="vm.popover.hide();">
            {{"lbl_change_company" | translate}}
        </a>
        <a class="button button-full" href="#/app/pick-for-par-change-location" nav-direction="forward" ng-click="vm.popover.hide();">
            {{"title_change_stock_location" | translate}}
        </a>
        <a href="#/app/settings-printer-list" class="button button-full" nav-direction="forward" ng-click="vm.popover.hide();">
            {{ "lbl_change_printer" | translate }}
        </a>
        <a href='#' class="button button-full" ng-click="vm.showHideDelete();" nav-direction="none"
        ng-disabled="vm.pickForPar.length == 0">
            {{"lbl_edit" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'pick-for-par-details'">
    	<a href="#" class="button button-full">All</a>
    </div>

    <div ng-if="vm.popUpType == 'cycle-count'">
	    <a href='#app/cycle-count-change-company' class="button button-full" ng-click="vm.popover.hide()">{{"lbl_change_company" | translate}}</a>
    	<a href='#' class="button button-full" ng-click="vm.showHideDelete();" nav-direction="none"
        ng-disabled="vm.cycleCount.length == 0">
            {{"lbl_edit" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'add-par-form-settings'">
        <a href="#" class="button button-full" ng-click="vm.selectAll(); vm.popover.hide();" ng-hide="vm.showClearAll()">{{"lbl_select_all" | translate}}</a>

        <a href="#" class="button button-full" ng-click="vm.clearAll(); vm.popover.hide();" ng-show="vm.showClearAll()">{{"lbl_clear_all" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'my-par-form-settings'">
        <a href="#" class="button button-full" ng-click="vm.showOptionToDelete = true; vm.popover.hide()">{{"lbl_edit" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'parcount-edit'">
        <a href='#/app/company-change-view' nav-direction="forward" class="button button-full" ng-click="vm.popover.hide();">{{"lbl_change_company" | translate}}</a>
        <a href='#' class="button button-full" ng-click="vm.showHideDelete();" nav-direction="none"
        ng-disabled="vm.parCount.length == 0">
            {{"lbl_edit" | translate}}</a>
    </div>

    <div ng-if="vm.popUpType == 'all-or-my-par-forms'">
        <a href="#" class="button button-full" ng-model="vm.filtertype" ng-click="vm.selectParforms('My Par Forms')">{{ "my_parforms" | translate }} </a>
        <a href="#" class="button button-full" ng-model="vm.filtertype" ng-click="vm.selectParforms('All Par Forms')">{{"all_parforms" | translate}}</a>
    </div>
    
    <div ng-if="vm.popUpType == 'logging-setting'">
        <a href="#" class="button button-full">{{ "btn_delete_logs" | translate }} </a>
        <a href="#" class="button button-full">{{"btn_send_email" | translate}}</a>
    </div>
    
    <div ng-if="vm.popUpType == 'par-location-pop-up'">
        <ion-list>
            <div class="ui-radio-checkmark" >
                <ion-radio 
                    ng-click="vm.saveCurrentLocation(item.ParLocationID,item.ParLocationDesc); vm.closePopOver()"
                    ng-repeat="item in vm.parLocations">{{item.ParLocationDesc}}</ion-radio>
            </div>
        </ion-list>
    </div>

</ion-popover-view>