<div class="location-list-popup">
	<h3>Select Location</h3>
	<ion-list class="ui-radio">
		
			<ion-checkbox class="no-border">
            	<div class="row">					
            		<div class="col higher-line-height">
            			<strong class="text-big">Cath-MTKSL (1)</strong><br />
            			<span class="item-content">							
							000002-TRAY TOOL For Prongs
						</span>
            		</div>
            	</div>
            </ion-checkbox>
			
			<ion-checkbox class="no-border">
            	<div class="row">					
            		<div class="col higher-line-height">
            			<strong class="text-big">Cath-MTKSL (1)</strong><br />
            			<span class="item-content">							
							000002-TRAY TOOL For Prongs
						</span>
            		</div>
            	</div>
            </ion-checkbox>
			
	</ion-list>
</div>