<div ng-if="vm.popUpMsg == 'check-parlevel'">
	{{ "text_count_qty_warning" | translate }}
</div>

<div ng-if="vm.popUpMsg == 'set-def-company'">
	{{ "text_set_def_comp" | translate }}
</div>

<div ng-if="vm.popUpMsg == 'unsent-parform'">
	{{ "text_unsent_parform_warning" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'check-freeze-quantity'">
	{{ "text_freeze_quantiy_not_match" | translate }}
</div>