<ion-view title='{{"title_home" | translate}}'>
    <ion-nav-title>
        {{"title_home" | translate}} 
		<div class="sub-title">{{"title_last_login" | translate}}: {{vm.getLastLogin}}</div>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon">
            <mxi-icon icon="icon-nav-menu"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <ion-content>        
        <div class="row">
			<div class="col">
				<p>Welcome to POU</p>
			</div>
		</div>
    </ion-content>
</ion-view>