
<ion-view hide-back-button="true">

  <ion-nav-bar class="bar {{setNavColor}}">

    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goTo('app.po-receiving','slideDown')">
        <mxi-icon icon="icon-nav-close"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear" ng-click="vm.goTo('app.po-number-lookup-filter')">
            {{ 'btn_filter' | translate}}
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
      {{ 'lbl_select_po_number' | translate}}
   </ion-nav-title>
   <!-- END Title header --> 

  </ion-nav-bar>

   <!-- START View content --> 
  <ion-content class="has-header">
        <ion-list class="ui-radio-checkmark">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="vm.searchText" placeholder="{{ 'search_a_po_number' | translate }}">
                </label>
                <button class="button button-small" ng-show="vm.searchText.length">{{ 'btn_cancel' | translate}}</button>
            </div>
            <ion-radio>
               12345
            </ion-radio>
            <ion-radio>
               24680
            </ion-radio>
            <ion-radio>
               36912
            </ion-radio>
        </ion-list>
  </ion-content>
  <!-- END View content --> 
</ion-view>

