
<ion-view hide-back-button="true">
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear" ng-click="vm.goTo('app.po-number-lookup')">
            {{ 'btn_done' | translate}}
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goTo('app.po-number-lookup')">
        <mxi-icon icon="icon-nav-back"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
         {{ 'lbl_filter' | translate }}
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
          <div class="item text-center key">
            {{ 'filter_purchase_order_number' | translate }}
          </div>
          <div class="row">
          	<div class="col col-33 label">
          		{{ 'lbl_po_status' | translate }}
          	</div>
          	<div class="col">
                <label class="item-input item-select">
                    <select class="dropdown">
                        <option value="All">All</option>
          				<option value="All">Partial</option>
          				<option value="All">None</option>
                    </select>
                </label>
          	</div>
          </div>
          <div class="row">
          	<div class="col col-33 label">
          		{{ 'lbl_buyer' | translate }}
          	</div>
          	<div class="col">
          		<label class="item item-input">
          			<input type="text">
          		</label>
          	</div>
          </div>
          <div class="row">
          	<div class="col col-33 label">
          		{{ 'lbl_vendor' | translate }}
          	</div>
          	<div class="col">
          		<label class="item item-input">
          			<input type="text">
          		</label>
          	</div>
          </div>
          <div class="row">
          	<div class="col col-33 label">
          		{{ 'lbl_ship_to' | translate }}
          	</div>
          	<div class="col">
          		<label class="item item-input">
          			<input type="text">
          		</label>
          	</div>
          </div>
          <div class="row">
          	<div class="col col-33 label">
          		{{ 'lbl_requester' | translate }}
          	</div>
          	<div class="col">
          		<label class="item item-input">
          			<input type="text">
          		</label>
          	</div>
          </div>
  </ion-content>
  <!-- END View content --> 
</ion-view>

