<ion-view>
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
        <div class="ui-button-bar">
            <button class="button button-clear" ng-click="vm.goTo('app.po-receiving-send-details','slideUp')">
                {{ 'btn_send' | translate }}
            </button>
            <button class="button button-icon" ng-click="vm.POReceivingOption($event,'printer')">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
    <ion-nav-title>
        {{ 'lbl_finish_receiving' | translate }}<div class="sub-title">PO</div>
    </ion-nav-title>
    <!-- END Title header --> 
    
    <!-- START View content --> 
    <ion-content class="has-header">
        <ion-list>
            <h3 class="header">{{ 'lbl_lines' | translate }}</h3>
            <div class="row-wrapper">
                <div class="row">
                    <div class="col">
                            {{ 'lbl_total_lines' | translate }}
                    </div>
                    <div class="col">
                            3
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                            {{ 'lbl_lines_received' | translate }}
                    </div>
                    <div class="col">
                            1
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                            {{ 'total_tracking_number' | translate }}
                    </div>
                    <div class="col">
                            1
                    </div>
                </div>
            </div>
            <ion-item>
                <h3>{{ 'lbl_notes' | translate }}</h3>
                <div class="row">
                    <div class="item item-textarea">
                        <textarea></textarea>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-list class="ui-radio no-borders">
            <h3 class="header">
                {{ 'lbl_send_options' | translate }}
            </h3>
            <ion-radio>{{ 'lbl_add_release_and_print' | translate }}</ion-radio>
            <ion-radio>{{ 'lbl_add_receipt' | translate }}</ion-radio>
        </ion-list>

  </ion-content>
  <!-- END View content --> 
</ion-view>

