
<ion-view hide-back-button="true">
    <!-- START Right header buttons -->
    <!-- END Right header buttons -->

    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goTo('app.po-receiving-details')">
        <mxi-icon icon="icon-nav-back"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	{{ 'lbl_select_receiving' | translate }}
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
        <ion-list class="ui-radio-checkmark">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="vm.searchText" placeholder="{{ 'lbl_select_receiving_location' | translate}}">
                </label>
                <button class="button button-small" ng-show="vm.searchText.length">{{ 'btn_cancel' | translate}}</button>
            </div>
            <ion-radio>
               700-DG Loc
            </ion-radio>
            <ion-radio>
               800-DG Loc
            </ion-radio>
            <ion-radio>
               900-DG Loc
            </ion-radio>
        </ion-list>
  </ion-content>
  <!-- END View content --> 
</ion-view>

