<ion-view hide-back-button="true">
	<ion-nav-bar class="bar {{setNavColor}}">
	    <!-- START Right header buttons -->
	    <ion-nav-buttons side="right">
	      <div class="ui-button-bar">
	        <button class="button button-clear button-done" ng-click="vm.goTo('app.po-receiving-done')">
	            {{ 'btn_done' | translate }}
	        </button>
	        <button class="button button-icon" ng-click="vm.goTo('app.po-receiving-show-lines-list','swap')">
	            <mxi-icon icon="icon-nav-list"></mxi-icon>
	        </button>
	      </div>
		</ion-nav-buttons>
	    <!-- END Right header buttons -->

	    <!-- START Left header buttons -->
	    <ion-nav-buttons side="left">
	      <button class="button button-icon" ng-click="vm.goTo('app.po-receiving-details','slideDown')">
	        <mxi-icon icon="icon-nav-close"></mxi-icon>
	      </button>
	    </ion-nav-buttons>
	    <!-- END Left header buttons -->

	    <!-- START Title header -->
	   <ion-nav-title>
	    	PO 2
	   </ion-nav-title>
	</ion-nav-bar>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header has-footer">
	<div class="item text-center key">
        {{ 'lbl_enter_item_number' | translate }}
    </div>
    <div class="item text-center counter">1 of 3</div>

	<ion-slide-box show-pager="false">
		<ion-slide>
	        <ion-list class="ui-accordion">
                <ion-item class="item-icon-left">
	               <div ng-click="vm.toggleGroup(1)" ng-class="{isOpen: vm.shownGroup}" class="item-accordion">
                       <i class="icon"><span class="thumb">A</span></i>
                       <div class="item-accordion-label">
                           ABC-123
                           <p>Description here</p>
                       </div>
                    </div>
                    
                    <div ng-show="vm.isGroupShown(1)" class="item-detail item-no-border-top">
                        <div class="row">
                            <div class="col">
                                {{ 'lbl_gtin_upn' | translate }}
                            </div>
                            <div class="col">
                                12345678910
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ 'lbl_manufacturing_item' | translate }}
                            </div>
                            <div class="col">
                                GTIN14
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ 'lbl_vendor_item' | translate }}
                            </div>
                            <div class="col">
                                NKD04
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ 'lbl_delivery_to' | translate }}
                            </div>
                            <div class="col">
                                700-DG Loc
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ 'lbl_note' | translate }}
                            </div>
                            <div class="col">
                                ---
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ 'lbl_delivery_date' | translate }}
                            </div>
                            <div class="col">
                                ---
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ 'priority' | translate }}
                            </div>
                            <div class="col">
                                ---
                            </div>
                        </div>
                    </div>
	            </ion-item>
                <div class="item-wrap">
                    <div class="row">
                        <div class="col col-50 label">
                            {{ 'lbl_received' | translate }}
                        </div>
                        <div class="col input-text">
                            <input type="text">
                        </div>
                        <div class="col">
                            <label class="item-input item-select">
                                <select class="dropdown">
                                    <option>EA</option>
                                    <option>BX</option>
                                    <option>PL</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50 label">
                            {{ 'lbl_remaining' | translate }}
                        </div>
                        <div class="col label">
                            5 EA
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50 label">
                            {{ 'lbl_tracking' | translate }}
                        </div>
                        <div class="col input-text">
                            <input type="text">
                        </div>
                    </div>
                </div>

                <a href="#/app/list-details" class="item">
                	{{ 'lbl_line_details' | translate }} ({{ 'lbl_required' | translate }})
                </a>
                <h3 class="header">
                    {{ 'lbl_additional_info' | translate}}
                </h3>
			    <ion-toggle>
			    	{{ 'lbl_cancel_backorder' | translate }}
				</ion-toggle>
	        </ion-list>
		</ion-slide>
	</ion-slide-box>
  </ion-content>
	<!-- END View content --> 
	<ion-footer-bar align-title="left">
		<div class="buttons xi-nav">
		    <button class="button button-icon icon-left">
		        <mxi-icon icon="icon-previous"></mxi-icon>
		        <span class="btn-text">{{'btn_previous' | translate}}</span>
		    </button>
		</div>
		<div class="buttons xi-nav pull-right">
		    <button class="button button-icon icon-right">
		        <span class="btn-text">{{'btn_next' | translate}}</span>
		        <mxi-icon icon="icon-next"></mxi-icon>
		    </button>
		</div>
	</ion-footer-bar>
</ion-view>