<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goTo('app.po-receiving')">
            <mxi-icon icon="icon-nav-check"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
    <ion-nav-title>
       {{'lbl_po_receiving' | translate}}
    </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
    <ion-content class="has-header">
        <div class="item text-center key">MSCM Server has received the data successfully. </div>

        <div class="row">
            <div class="col">
                {{ 'lbl_total_lines' | translate }}: 
            </div>
            <div class="col">
                3
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ 'lbl_lines_received' | translate }}: 
            </div>
            <div class="col">
                3
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ 'lbl_total_tracking_number' | translate }}
            </div>
            <div class="col">
                1
            </div>
        </div>
        <br>

        <div class="has-padding">
            <p>{{ 'check_mscm_server_for_status' | translate }}</p>
            <p>{{ 'check_report_for_delivery' | translate }}</p>
            <p>{{ 'check_label_for_delivery_label' | translate }}</p>
        </div>

    </ion-content>
    <!-- END View content --> 
</ion-view>
