<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goTo('app.po-receiving')">
            <mxi-icon icon="icon-nav-back"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
    <ion-nav-title>
        {{ 'lbl_po_receiving' | translate }}<div class="sub-title">1 - Hospital Entity</div>
    </ion-nav-title>
   <!-- END Title header --> 

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
        <div class="ui-button-bar">
            <button class="button button-clear" ng-click="vm.goTo('app.po-receiving-show-lines','slideUp')">
                {{ 'btn_show_lines' | translate }}
            </button>
        </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START View content --> 
    <ion-content class="has-header">
        <ion-list>
            <div class="item text-center key">
                {{ 'scan_barcode_or_enter_details_to_start_po' | translate }}
            </div>
            <ion-item class="item-accordion ui-item-toggle" ng-click="vm.toggleGroup(1)" ng-class="{isOpen: vm.shownGroup}">PO 24680</ion-item>
            
            <ion-item ng-show="vm.isGroupShown(1)" class="item-detail item-no-border-top">
                <div class="row">
                    <div class="col">
                        {{ 'lbl_po_code' | translate }}
                    </div>
                    <div class="col">
                        RQ
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ 'lbl_vendor' | translate }}
                    </div>
                    <div class="col">
                        109 - Abbot Laboratories
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ 'lbl_ship_to' | translate }}
                    </div>
                    <div class="col">
                        1-700-DG Loc
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ 'lbl_release_number' | translate }}
                    </div>
                    <div class="col">
                        121
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ 'lbl_buyer' | translate }}
                    </div>
                    <div class="col">
                        Infor
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ 'lbl_po_date' | translate }}
                    </div>
                    <div class="col">
                        10-29-15
                    </div>
                </div>
            </ion-item>
            <a class="item" href="#/app/po-receiving-location">
                {{ 'lbl_receiving_location' | translate }}
    			<div class="item-note-right"> 700-DG Loc </div>
            </a>
            <ion-item>
                <ul class="list inset">
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{ 'lbl_carrier_tracking' | translate }}</div>
                            <div class="col input-text">
                                <input type="text">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{ 'lbl_carrier' | translate }}</div>
                            <div class="col">
                                <label class="item-input item-select">
                                    <select class="dropdown">
                                        <option value="PO">DHL</option>
                                        <option value="RQ">UPS</option>
                                        <option value="IC">FedEx</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{ 'lbl_reference_number' | translate }}</div>
                            <div class="col input-text">
                                <input type="text">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{ 'lbl_bill_of_lading' | translate }}</div>
                            <div class="col input-text">
                                <input type="text">
                            </div>
                        </div>
                    </li>
                </ul>
            </ion-item>
        </ion-list>
  </ion-content>
  <!-- END View content --> 
</ion-view>