<ion-view hide-back-button="true">
	<ion-nav-bar class="bar {{setNavColor}}">
	    <!-- START Right header buttons -->
	    <ion-nav-buttons side="right">
	      <div class="ui-button-bar">
	        <button class="button button-clear button-done" ng-click="vm.goTo('app.po-receiving-done')">
	            {{ 'btn_done' | translate }}
	        </button>
	        <button class="button button-icon" ng-click="vm.goTo('app.po-receiving-show-lines','swap')">
	            <mxi-icon icon="icon-nav-grid"></mxi-icon>
	        </button>
	      </div>
		</ion-nav-buttons>
	    <!-- END Right header buttons -->

	    <!-- START Left header buttons -->
	    <ion-nav-buttons side="left">
	      <button class="button button-icon" ng-click="vm.goTo('app.po-receiving-details','slideDown')">
	        <mxi-icon icon="icon-nav-close"></mxi-icon>
	      </button>
	    </ion-nav-buttons>
	    <!-- END Left header buttons -->

	    <!-- START Title header -->
	   <ion-nav-title>
	    	PO 2
	   </ion-nav-title>
	</ion-nav-bar>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" ng-model="vm.searchText" placeholder="{{ 'search_line_items' | translate}}">
            </label>
            <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.cancelSearch()">{{ 'btn_cancel' | translate}}</button>
        </div>
      <div class="item text-center counter">{{ 'lbl_total_of' | translate }} 3 {{ 'lbl_line_items' | translate }}</div>
        
        <a class="item item-icon-left" href="#">
            <i class="icon index"><span>1</span></i>
            ABC-123
            <p>12345678910</p>
            <p>{{ 'lbl_split_qty' | translate }} 1/1</p>
            <div class="row">
                <div class="col">
                    <div class="wrap">
                        <div>
                            20 <div class="label">{{ 'lbl_remaining' | translate }}</div>
                        </div>
                        <div>
                            <label class="item item-input">
                                <input type="text" placeholder="Qty">
                            </label>
                            <div class="label">{{ 'lbl_receives'| translate }}</div>
                        </div>
                    </div>
                </div>
            </div>  
        </a>



  </ion-content>
  <!-- END View content --> 
</ion-view>

