<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon">
            <mxi-icon icon="icon-nav-menu"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
    <ion-nav-title>
        {{ 'lbl_po_receiving' | translate }}<div class="sub-title">1 - Hospital Entity</div>
    </ion-nav-title>
    <!-- END Title header --> 
   
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
        <div class="ui-button-bar">
            <button class="button button-clear" ng-click="vm.goTo('app.po-receiving-details')">
                {{ 'btn_continue' | translate}}
            </button>
            <button class="button button-icon" ng-click="vm.POReceivingOption($event,'po-receiving')">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->
    <!-- START View content -->
    <ion-content class="has-header">
        <ion-list>
            <div class="item text-center key">{{ 'enter_purchase_order' | translate }}</div>
            <ion-item class="item-no-border-bottom">
                <ul class="list inset">
                    <li class="item">
                        <div class="row">
                            <div class="col col-50 label">{{ 'lbl_po_number' | translate }}</div>
                            <div class="col input-text">
                                <input type="text">
                            </div>
                            <div class="col">
                                <button class="button button-clear button-azure" ng-click="vm.goTo('app.po-number-lookup','slideUp')">
                                    {{ 'lbl_look_up' | translate }}
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="row">
                            <div class="col col-50 label">{{ 'lbl_po_release_number' | translate }}</div>
                            <div class="col input-text">
                                <input type="text">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="row">
                            <div class="col col-50 label">{{ 'lbl_po_code' | translate }}</div>
                            <div class="col">
                                <label class="item-input item-select">
                                    <select class="dropdown">
                                        <option value="PO">PO</option>
                                        <option value="RQ">RQ</option>
                                        <option value="IC">IC</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </ion-item>
        </ion-list> 
    </ion-content>
    <!-- END View content --> 
</ion-view>