/*******************************
    TEXT
*******************************/
/*******************************
    General Style
*******************************/
body, .ionic-body {
    font-family: 'RobotoRegular', arial, sans-serif;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../assets/motion/fonts/Roboto-Regular-webfont.eot');
    src: url('../assets/motion/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/motion/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../assets/motion/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../assets/motion/fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
		 /*
		 src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
		 */
    font-weight: normal;
    font-style: normal;
}
/*******************************
    Text: Alignment
*******************************/
.text-left {
    text-align: left;
}
.text-center, .text-base.center{
    text-align: center;
	position:relative;
}
.item-detail .col + .col.text-right,
.text-right {
    text-align: right;
}
.upperCase, .uppercase {
    text-transform: uppercase;
}
.Capitalize, .capitalize, .cap{
	text-transform: capitalize;
}
.lowerCase, .lowercase{
	text-transform: lowercase;
}
.text-base{
	font-size:$font-size-normal;
}
.text-middle{
	min-height: $min-height-big;
	line-height: $line-height-xlarge;
}
.text-middle span{
	min-height: $min-height-big;
}
.item-detail .col + .col.text-semismall,
.item-content.text-semismall,
.text-semismall{
	font-size:$font-size-bigger;
}
.item-detail .col + .col.text-small,
.item-content.text-small,
.text-small{
	font-size:$font-size-normal;
}
.item-detail .col + .col.text-mini,
.item-content.text-mini,
.text-mini{
	font-size:$font-size-small;
}
.item-detail .col + .col.text-micro,
.item-content.text-micro,
.text-micro{
	font-size:$font-size-mini;
}
.row.full-width > .col > .row > .col.text-medium,
.item-content.text-medium,
.text-medium{
	font-size:$font-size-bigger;
}
.text-big{
	font-size:$font-size-biggest;
}
.align-absmiddle,
span.align-absmiddle{
	position: absolute;
    display:block;
    top:50%;
	margin-top:-20px;
}
.align-bottom,
span.align-bottom{
	position: absolute;
    display:block;
    bottom: 0;
}
.align-middle,
span.align-middle{	
	display: table-cell;
    vertical-align: middle;
}
.align-left{
	float:left;
}
.align-right{
	float:right;
}
.item-content.normal-line-height,
.normal-line-height{
	line-height:normal;
}
.item-content.big-line-height,
.big-line-height{
	line-height:34px;
}
.item-content.higher-line-height,
.higher-line-height{
	line-height:1.5;
}
.item-content.double-line-height,
.double-line-height{
	line-height:2;
}
.item-content.gone,
.gone{
	display:none;
}
.item-content.hidden,
.hidden{
	visibility:hidden;
}
.noellipsis{
	white-space: normal;
    text-overflow: initial;
    overflow: visible;	
}
.bold{
	font-weight:bold;
}
/*******************************
    Other txt
*******************************/
.linktxtsmall{
	font-size: $font-size-bigger;
	line-height:$line-height-biggest-bigger;
}
.ui-text-secondary {
    font-size: $font-size-normal;
    color: $dark-gray-color;
}