<ion-view hide-back-button="true">
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear" ng-click="vm.goTo('app.issues-done')">
            {{ 'btn_done' | translate }}
        </button>
        <button class="button button-icon" ng-click="vm.goTo('app.issues-details','none')">
            <mxi-icon icon="icon-nav-grid"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" menu-toggle="left">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	{{ 'lbl_issues_and_return' | translate }}<div class="sub-title">9500 - Makati Medical Center</div>
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
  
		<form class="ng-pristine ng-valid">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="vm.searchText" placeholder="Search Item" class="ng-pristine ng-untouched ng-valid">
                    </label>
                    <button class="button button-small ng-binding ng-hide" ng-show="vm.searchText.length" style="">SEARCH</button>
                </div>
            <div class="item text-center key lighttext">
				Tap "more" to edit or "all" to sort by requesting location
			</div>    
		</form>
		
		<div class="item text-center counter lighttext">
		{{ 'lbl_total_of'}} (3) {{ 'lbl_line_items' | translate }}
		</div>
        
		<a class="item item-icon-left rippleleft" href="#" >
            <div class="row">
				<i class="icon index2 small"><span>1</span></i>
				C00001
			</div>
            <div class="row marginleft22">
                <div class="col">
		            <p>Description 1</p>
		            <p>9800 - Gil Parloc 4</p>
		            <p>---</p>
		            <p>---</p>
                </div>

                <div class="col center autosmall">
                	1
		            <p> {{ 'lbl_count' | translate }} ({{ 'lbl_ea' | translate }})</p>
                </div>
            </div>  
        </a>
		
		<a class="item item-icon-left rippleleft" href="#" >
            <div class="row">
				<i class="icon index2 small"><span>1</span></i>
				C00001
			</div>
            <div class="row marginleft22">
                <div class="col">
		            <p>Description 1</p>
		            <p>9800 - Gil Parloc 4</p>
		            <p>---</p>
		            <p>---</p>
                </div>

                <div class="col center autosmall">
                	1
		            <p> {{ 'lbl_count' | translate }} ({{ 'lbl_ea' | translate }})</p>
                </div>
            </div>  
        </a>
		
		<a class="item item-icon-left rippleleft" href="#" >
            <div class="row">
				<i class="icon index2 small"><span>1</span></i>
				C00001
			</div>
            <div class="row marginleft22">
                <div class="col">
		            <p>Description 1</p>
		            <p>9800 - Gil Parloc 4</p>
		            <p>---</p>
		            <p>---</p>
                </div>

                <div class="col center autosmall">
                	1
		            <p> {{ 'lbl_count' | translate }} ({{ 'lbl_ea' | translate }})</p>
                </div>
            </div>  
        </a>
		
		<a class="item item-icon-left rippleleft" href="#" >
            <div class="row">
				<i class="icon index2 small"><span>1</span></i>
				C00001
			</div>
            <div class="row marginleft22">
                <div class="col">
		            <p>Description 1</p>
		            <p>9800 - Gil Parloc 4</p>
		            <p>---</p>
		            <p>---</p>
                </div>

                <div class="col center autosmall">
                	1
		            <p> {{ 'lbl_count' | translate }} ({{ 'lbl_ea' | translate }})</p>
                </div>
            </div>  
        </a>
		
		<a class="item item-icon-left rippleleft" href="#" >
            <div class="row">
				<i class="icon index2 small"><span>1</span></i>
				C00001
			</div>
            <div class="row marginleft22">
                <div class="col">
		            <p>Description 1</p>
		            <p>9800 - Gil Parloc 4</p>
		            <p>---</p>
		            <p>---</p>
                </div>

                <div class="col center autosmall">
                	1
		            <p> {{ 'lbl_count' | translate }} ({{ 'lbl_ea' | translate }})</p>
                </div>
            </div>  
        </a>
		
		
		
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

