<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" menu-toggle="left">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-icon" ng-click="vm.issuesOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title class="hassub">
    	{{ 'lbl_issues_and_return' | translate }}
		<div class="sub-title">MTKCW - MMC Supply location</div>
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item text-center key graytxt">{{ 'add_item_and_requesting_location' | translate }}</div>
		<div class="item text-center counter">{{ 'lbl_total_of' | translate }} (3) {{ 'lbl_items' | translate }}</div>

		<a class="item no-top-border" href="#app/issues-items" nav-transition="android" nav-direction="forward">
			<div class="row">
				<div class="col">
					{{ 'lbl_item' | translate }}
				</div>
				<div class="col text-right blue">
					C0001
				</div>
			</div>
		</a>

	 	<ion-item class="item-icon-left item-detail">
			<i class="icon"><span class="thumb">A</span></i>
			<div class="ac-container2">
			    <label>
			        C0001
			        <p>Description 1</p>
			    </label>

			    <div class="row">
			        <div class="col"> {{ 'lbl_mfr_no' | translate }}</div>
			        <div class="col">MANUFACTURER</div>
			    </div>
			    <div class="row">
			        <div class="col">{{ 'lbl_gtin_upn' | translate }}</div>
			        <div class="col">12345678910</div>
			    </div>
			    <div class="row">
			        <div class="col">{{ 'lbl_bin' | translate }}</div>
			        <div class="col">
			        	<label class="item item-input">
			        		<input type="text" />
			        	</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="col">{{ 'lbl_serial_lot' | translate }}</div>
			        <div class="col">
						<label class="item item-input">
			        		<input type="text" />
			        	</label>
			        </div>
			    </div>
			</div>
		</ion-item>

		<a class="item" href="#/app/issues-change-company">
			<div class="row">
				<div class="col">
					{{ 'lbl_requesting_location' | translate }}
				</div>
				<div class="col text-right blue linktxtsmall">
					9800 - Gil Parloc 4
				</div>
			</div>
		</a>

		<div class="row top-padding-20">
			<div class="col center">
				<label class="item item-input">
					<input type="text" placeholder="Qty" />
				</label>
				<span class="input-subtitle">
				COUNT ({{ 'lbl_ea' | translate }})
				</span>
			</div>
			<div class="col center">
				<button class="button button-clear shadow">
					{{ 'btn_add' | translate }}
				</button>
			</div>
			
			<div class="col center">
				<button class="button button-clear shadow" disabled="disabled">
					{{ 'btn_return' | translate }}
				</button>
			</div>
		</div>
		<div class="item text-center clearkey" ng-click="vm.goTo('app.issues-details','swap')">{{ 'btn_details' | translate }}</div>
        
  </ion-content>
  <!-- END View content --> 
</ion-view>

