<ion-view>
    <ion-nav-title>
		{{ 'lbl_issues_and_return' | translate }}
	</ion-nav-title>

    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear">
            {{ 'btn_send' | translate }}
        </button>
        <button class="button button-icon" ng-click="vm.issuesOption($event,'printer')">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->


    <ion-content>
        <ion-list class="ui-radio">
            <ion-checkbox>
            	<div class="row">
            		<div class="col">
            			9500 - Gil Parloc 1
            		</div>
            		<div class="col col-33 text-right">
            			1
            		</div>
            	</div>
            </ion-checkbox>
            <ion-checkbox>
            	<div class="row">
            		<div class="col">
            			9600 - Gil Parloc 2
            		</div>
            		<div class="col col-33 text-right">
            			-1
            		</div>
            	</div>
            </ion-checkbox>
            <ion-checkbox>
            	<div class="row">
            		<div class="col">
            			9700 - Gil Parloc 3
            		</div>
            		<div class="col col-33 text-right">
            			1
            		</div>
            	</div>
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>