<ion-view hide-back-button="true">
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <button class="button button-clear" ng-click="vm.goTo('app.issues-done')">
            {{ 'btn_done' | translate }}
        </button>
        <button class="button button-icon" ng-click="vm.goTo('app.issues-details-list','none')">
            <mxi-icon icon="icon-nav-list"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" menu-toggle="left">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
    	{{ 'lbl_issues_and_return' | translate }}<div class="sub-title">9500 - Makati Medical Center</div>
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
	<div class="item text-center key">
        {{ 'update_item_or_add_req_location' | translate }}
    </div>
    <div class="item text-center counter">{{ 'lbl_line_number' | translate }} 1 of 3</div>

	<ion-slide-box  show-pager="false">
		<ion-slide>
	        <ion-list>
	            <ion-item class="item-icon-left item-detail">
	                <i class="icon"><span class="thumb">A</span></i>
	                <div class="ac-container2">
	                    <label>
	                        ABC-123
							<button class="button button-clear linkbutton right remove">
								{{ 'btn_remove' | translate }}
							</button>
	                        <p>Description here</p>
							
	                    </label>

	                    <div class="row">
	                        <div class="col"> {{ 'lbl_mfr_no' | translate }} </div>
	                        <div class="col">12345</div>
	                    </div>
	                    <div class="row">
	                        <div class="col">{{ 'lbl_glbl_gtin_upn' | translate }}</div>
	                        <div class="col">510520253</div>
	                    </div>
	                    <div class="row">
	                        <div class="col">{{ 'lbl_bin_no' | translate }}</div>
	                        <div class="col"> -- </div>
	                    </div>
	                    <div class="row">
	                        <div class="col">{{ 'lbl_lot' | translate }}</div>
	                        <div class="col"> -- </div>
	                    </div>
	                </div>
	            </ion-item>

				<a class="item" href="#">
					<div class="row">
						<div class="col">
							{{ 'lbl_requesting_location' | translate }}
						</div>
						<div class="col text-right blue">
							9700 - Gil Parloc
						</div>
					</div>
				</a>

                <div class="row top-padding-5">					
					<div class="col center">
						<span class="input-subtitletop">
							RETURN
						</span>
						<label class="item item-input">
							<input type="text" placeholder="Qty" />
						</label>
						<span class="input-subtitle">
							COUNT ({{ 'lbl_ea' | translate }})
						</span>
					</div>					
					
					<div class="col center martop20">
                		<button class="button button-clear linkbutton">
                			{{ 'btn_update' | translate }}
                		</button>
                	</div>
                	<div class="col right martop20">
                		<button class="button button-clear linkbutton">
                			{{ 'btn_continue' | translate }}
                		</button>
                	</div>
                </div>


	        </ion-list>
		</ion-slide>
	</ion-slide-box>


  </ion-content>
  <!-- END View content --> 

    <ion-footer-bar align-title="left" class="prevnextbox">
        <div class="buttons xi-nav">
            <button class="button button-icon icon-left" ng-click="vm.slidePrevious()">
                <mxi-icon icon="icon-previous"></mxi-icon>
                <span class="btn-text">{{ 'btn_previous' | translate}}</span>
            </button>
        </div>
        <div class="buttons xi-nav pull-right">
            <button class="button button-icon icon-right" ng-click="vm.slideNext()">
                <span class="btn-text">{{ 'btn_next' | translate }}</span>
                <mxi-icon icon="icon-next"></mxi-icon>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

