<ion-view>
    <!-- START Title header -->
    <ion-nav-title>
        {{ "lbl_about_mpc" | translate}}
    </ion-nav-title>
    <!-- END Title header --> 

    <!-- START View content --> 
    <ion-content class="has-header">  
        <ion-list>
            <h3 class="header">{{ "lbl_mobile_par_and_cycle_counting" | translate }}</h3>
            <a class="item">
                {{ "lbl_version_history" | translate }}
                <div class="item-value">{{ "lbl_version" | translate }} 10.0.2.259</div>
            </a>
            <h3 class="header" ng-show="vm.futureRelease">{{ "lbl_rate_this_app" | translate }}</h3>
            <div class="item item-no-border" ng-show="vm.futureRelease">
                <span class="star-rating">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3" checked><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
                
            </div>
            <div class="item item-no-border" ng-show="vm.futureRelease">
                    <button class="button" style="background-color:#4a85c2;color: white; border: none; font-size:14px; min-height:27px;">{{ "lbl_send_btn" | translate }}</button>
            </div>
        
    </ion-content>
    <!-- END View content --> 
</ion-view>
 