<ion-view>
    <!-- START Title header -->
    <ion-nav-title>
        {{ "lbl_barcode_scan_sound" | translate }}
    </ion-nav-title>
    <!-- END Title header --> 

    <!-- START View content --> 
    <ion-content class="has-header">
        <ion-list>
            <div class="item text-center key" ng-if="vm.localStorShowHelp == '1'">
                {{ "ins_barcode_scan_tone_setting" | translate }}
            </div>
            <ion-item class="item-no-border">
                <ul class="list inset">
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{ "text_default_good_scan" | translate }}</div>
                            <div class="col">
                                <label class="item-input item-select">
                                    <select class="dropdown" ng-model="vm.defGoodScan" ng-change="vm.changeDefScanSound()">
                                        <option value="none">{{ "opt_none" | translate }}</option>
                                        <option value="0">{{ "opt_high_tone" | translate }}</option>
                                        <option value="1">{{ "opt_low_tone" | translate }}</option>
                                        <option value="2">{{ "opt_three_tone" | translate }}</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{ "text_default_bad_scan" | translate }}</div>
                            <div class="col">
                                <label class="item-input item-select">
                                    <select class="dropdown" ng-model="vm.defFailScan" ng-change="vm.changeDefScanSound()">
                                        <option value="none">{{ "opt_none" | translate }}</option>
                                        <option value="0">{{ "opt_high_tone" | translate }}</option>
                                        <option value="1">{{ "opt_low_tone" | translate }}</option>
                                        <option value="2">{{ "opt_three_tone" | translate }}</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </ion-item>     
        </ion-list>
    </ion-content>
  <!-- END View content --> 
</ion-view>