<ion-view>
<!-- START Title header -->
    <ion-nav-title>
        {{"lbl_server" | translate}}
    </ion-nav-title>
<!-- END Title header -->
    
<!-- START View content --> 
    <ion-content class="has-header">
        <ion-list >
            <ion-item>
                <h3>{{"lbl_server_info" | translate}}</h3>
                <ul class="list inset">
                    <li class="item">
                        {{"lbl_profile_name" | translate}}
                        <div class="item-value">-</div>
                    </li>
                    <li class="item">
                        {{"lbl_lawson_server_address" | translate}}
                        <div class="item-value">-</div>
                    </li>
                    <li class="item">
                        {{"lbl_product_line" | translate}}
                        <div class="item-value">-</div>
                    </li>
                    <li class="item">
                        {{"lbl_mscm_server" | translate}}
                        <div class="item-value">-</div>
                    </li>
                </ul>
            </ion-item>
            <ion-item ng-show="vm.futureRelease">
                <h3>{{"lbl_kiosk_mode" | translate}}</h3>
                <ul class="list inset">
                    <li class="item item-toggle">
                        Enabled
                        <label class="toggle toggle-small">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
            </ion-item>
            <ion-item class="item-no-border-bottom">
                <h3>{{"lbl_server_request_timeout" | translate}}</h3>
                <ul class="list inset">
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{"lbl_duration" | translate}}</div>
                            <div class="col">
                                <label class="item-input item-select">
                                    <select class="dropdown" ng-change="vm.saveTimeDuration()" ng-model="vm.timeDuration">
                                        <option value="30000">30 {{"time_seconds" | translate}}</option>
                                        <option value="60000">1 {{"time_minute" | translate}}</option>
                                        <option value="120000">2 {{"time_minutes" | translate}}</option>
                                        <option value="180000">3 {{"time_minutes" | translate}}</option>
                                        <option value="300000">5 {{"time_minutes" | translate}}</option>
                                        <option value="600000">10 {{"time_minutes" | translate}}</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </ion-item>
        </ion-list>
    </ion-content>
<!-- END View content --> 
</ion-view>
