<ion-view hide-back-button="true" >
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goBack()">
            <mxi-icon icon="icon-nav-back"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        {{"ins_set_default_company" | translate}}
    </ion-nav-title>
    <ion-content>
        <ion-refresher 
            pulling-text='{{ "lbl_pull_to_refresh" | translate }}' 
            on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list class="ui-radio-checkmark">
            <form>
                <div class="item item-input-inset with-key">
                    <label class="item-input-wrapper">
                        <input type="search" ng-model="vm.searchText" placeholder="{{'search_companies' | translate}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="32">
                        <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                            <mxi-icon icon="icon-search-close"></mxi-icon>
                        </button>
                    </label>
                    <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">{{"btn_cancel" | translate}}</button>
                </div>
            </form>
            <div class="item text-center key">{{"lbl_selected" | translate}}: {{vm.defaultCompanyName}}</div>
            <ion-radio ng-class="{true: 'ui-radio-checked'}[vm.defaultCompanyID == item.CompanyID]" collection-repeat="item in vm.companyList | filter:vm.searchText" ng-click="vm.saveCompanySelected()" 
            ng-model="$parent.vm.defaultCompanyID" value="{{item.CompanyID}}">
               {{ item.CompanyID }} - {{item.CompanyDesc}}
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>