<ion-view>
    <!-- START Title header -->
    <ion-nav-title>
        {{ vm.headerTitle | translate}}
    </ion-nav-title>
    <!-- END Title header --> 

    <!-- START View content --> 
    <ion-content class="has-header">
        <form>
            <div class="item item-input-inset with-key">
                <label class="item-input-wrapper">
                    <input type="search" ng-model="vm.seachText" placeholder="{{ 'text_type_the_printer_name' | translate }}" maxlength="32">
                    <button type="reset" class="button button-icon input-btn" ng-show="searchField.length">
                        <mxi-icon icon="icon-search-close"></mxi-icon>
                    </button>
                </label>
                <button class="button button-small" ng-show="vm.seachText.length">{{"btn_cancel" | translate}}</button>
            </div>
        </form>
        <div class="item text-center key">{{"lbl_selected" | translate}}: {{vm.defaultPrinter}}</div>

        <ion-refresher 
            pulling-text='{{ "lbl_pull_to_refresh" | translate }}' 
            on-refresh="vm.doRefresh()">
        </ion-refresher>

        <ion-list class="ui-radio-checkmark">
            <ion-radio ng-model="vm.defaultPrinter" ng-repeat="item in vm.printerList | filter: vm.seachText" value="{{ item.PrinterName }}" ng-click="vm.savePrinter();">{{ item.PrinterName }}</ion-radio>
        </ion-list>
    </ion-content>
    <!-- END View content -->
</ion-view> 