<ion-view>
    <ion-bar-header class="bar bar-turquoise-8"></ion-bar-header>
	<ion-nav-bar class="bar-turquoise-8">
	    <ion-nav-title>
	    	{{"title_change_location" | translate}}
		</ion-nav-title>    

	    <ion-nav-buttons side="left">
	        <button class="button button-icon" ng-click="vm.goTo('company-location-change-view')">
	            <mxi-icon icon="icon-nav-back"></mxi-icon>
	        </button>
	    </ion-nav-buttons>
	</ion-nav-bar>

    <ion-content>
        <ion-list class="ui-radio-checkmark">
            <form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="search" placeholder='{{"search_par_forms" | translate}}' ng-model="vm.searchText">
                        <button type="reset" class="button button-icon input-btn" ng-show="searchText.length">
                            <mxi-icon icon="icon-search-close"></mxi-icon>
                        </button>
                    </label>
                    <button class="button button-small" ng-click="#">{{"search_button" | translate}}</button>
                </div>
            </form>
            <div class="item text-center key">{{"lbl_selected" | translate}}: {{vm.selectedItem}}</div>
            <ion-radio>
               1 - Location 1 Transfer
            </ion-radio>
            <ion-radio>
               2 - Location 2 Intransit Transfer
            </ion-radio>
            <ion-radio>
               3 - DG Loc
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>