<ion-popover-view>
	<div ng-if="vm.popUpType2 == 'listdelete'">
    <a href='#' class="button button-full" ng-click="vm.selectAllCheckbox();vm.popover2.hide();"{{"lbl_select_all" | translate}}</a>
    </div>
</ion-popover-view>