<!-- Par Counting -->
<div ng-if="vm.popUpMsg == 'par-count-change-module'">
	{{ "confirm_par_count_change_module" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'par-count-change-company'">
	{{ "confirm_par_count_change_company" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'par-count-refresh-list'">
	{{ "confirm_par_count_refresh_list" | translate }}
</div>
<div ng-if="popUpMsg == 'check-parlevel'"><!-- this is using $rootScope.popUpMsg from ParCountService -->
	{{ "text_count_qty_warning" | translate }}
</div>
<!-- End Par Counting -->

<div ng-if="vm.popUpMsg == 'set-def-company'">
	{{ "text_set_def_comp" | translate }}
</div>

<div ng-if="vm.popUpMsg == 'unsent-parform'">
	{{ "text_unsent_parform_warning" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'check-freeze-quantity'">
	{{ "text_freeze_quantiy_not_match" | translate }}
</div>

<!-- Cycle Count-->
<div ng-if="vm.popUpMsg == 'cycle-count-pending-unsent'">
	{{ "confirm_cycle_count_pending_unsent" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-change-company'">
	{{ "confirm_cycle_count_change_company" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-refresh'">
	{{ "confirm_cycle_count_refresh" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-close'">
	{{ "confirm_cycle_count_close" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-invalid-serial-input'">
	{{ "confirm_cycle_count_invalid_serial_input" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-entry-no-internet-connection'">
	{{ "confirm_cycle_count_entry_no_internet_connection" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-connect-to-server-failed'">
	{{ "confirm_cycle_count_connect_to_server_failed" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-refresh-no-internet'">
	{{ "confirm_cycle_refresh_no_internet" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-send-no-internet'">
	{{ "confirm_cycle_send_no_internet" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-no-select-id-available-for-company'">
	{{ "confirm_cycle_no_select_id_available_for_company" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-no-select-id-available'">
	{{ "confirm_cycle_no_select_id_available" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'cycle-count-default-company-not-available'">
	{{ "confirm_cycle_default_company_not_available" | translate }}
</div>
<!-- End Cycle Count -->
<div ng-if="vm.popUpMsg == 'pfp-pending-unsent'">
	{{ "confirm_pfp_pending_unsent" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'pfp-change-company'">
	{{ "confirm_pfp_changing_company" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'pfp-change-inventory-location'">
	{{ "corfirm_pfp_changing_inventory_location" | translate }}
</div>
<div ng-if="vm.popUpMsg == 'pfp-no-printer'">
	{{ "corfirm_pfp_no_printer_selected" | translate }}
</div>
