<ion-view title='{{"title_home" | translate}}' hide-back-button="true">
    <ion-nav-title>
        {{"title_home" | translate}} <div class="sub-title">{{"title_last_login" | translate}}: {{vm.getLastLogin}}</div>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon">
            <mxi-icon icon="icon-nav-menu"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <!--ion-nav-buttons side="right">
        <button class="button button-icon">
            <mxi-icon icon="icon-nav-refresh"></mxi-icon>
        </button>
    </ion-nav-buttons-->
        <ion-tabs name="tab" id="tabs">
            <ion-tab delegate-handle="tabitem1" class="tabitem1" id="tabitem1" ng-click="vm.goToSlide(0)" title="Par Count">Par Count</ion-tab>
            <ion-tab delegate-handle="tabitem2" class="tabitem2" id="tabitem2" ng-click="vm.goToSlide(1)" title="Cycle Count">Cycle Count</ion-tab> 
            <ion-tab delegate-handle="tabitem3" class="tabitem3" id="tabitem3" ng-click="vm.goToSlide(2)" title="Pick For Par">Pick For Par</ion-tab>
        </ion-tabs>
    <ion-content class="has-header has-tabs" has-header="true" has-tabs="true">
        <!--ion-refresher
          pulling-text='{{ "lbl_pull_to_refresh" | translate }}'
          on-refresh="vm.doRefresh()">
        </ion-refresher -->
        
        <ion-slide-box does-continue="false" active-slide="vm.IndexView" show-pager="false" on-slide-changed="vm.slideHasChanged($index)">
            <ion-slide style="-webkit-transform: translate(320px, 0px) translateZ(0px);">
                
                <div class="row">
                    <div class="col text-left">
                        <div class="chart-total-time">
                            <strong>Total Times</strong>
                            <br><span id="ParCountChartTotalTime">10:54 hours</span>
                        </div>
                    </div>
                    <div class="col text-right">                        
                        <ion-item class="item item-input item-select smalldropdown">                
                            <select class="dropdown" ng-change="vm.ParCountSelectChange(ParCountSelectChangeM);" ng-model="ParCountSelectChangeM">
                                <option value="" disabled selected hidden>Day</option>
                                <option value="day">Day</option>
                                <option value="week">Week</option>
                                <option value="month">Month</option>
                            </select>                   
                        </ion-item>
                    </div>
                </div>

                <div class="d3chart" id="ParCountChart" name="ParCountChart" width='100%'>
                    <svg></svg>
                </div>              
                
                <ion-list class="list dashboard">
                <!--ion-item ng-click="vm.toggleGroup(1)" class="ripple">
                    <h2 class="padding">{{"menu_par_count" | translate}}</h2>
                    <div class="row">
                        <div class="col text-center">
                            <h1>{{vm.parCountData.ParformsCounted}}</h1>
                            <p class="label">{{"home_parforms" | translate}}<br>{{"home_counted" | translate}}</p>
                        </div>
                        <div class="col text-center">
                            <h1>{{vm.parCountData.ItemsCounted}}</h1>
                            <p class="label">{{"home_items" | translate}}<br>{{"home_counted" | translate}}</p>
                        </div>
                        <div class="col text-center">
                            <h1>{{vm.parCountData.TimeSpent}}</h1>
                            <p class="label">{{"home_time" | translate}}<br>{{"home_spent" | translate}}</p>
                        </div>
                    </div>
                </ion-item-->
                
                <ion-item class="item-accordion item-no-border-top">
                    {{ "home_last" | translate }} {{"menu_par_count" | translate}}:
                    <div class="item-value">December 8, 2015/ 03:05 AM</div>
                </ion-item>
                <ion-item class="item-accordion" ng-click="vm.goTo('app.my-par-forms')">
                    {{ "home_last" | translate }} {{"home_parforms" | translate}} {{ "home_used" | translate }}
                    <span class="item-note-right">- -</span>
                </ion-item>
                <!--ion-item class="location">
                    <button class="button button-icon">
                        <mxi-icon icon="icon-location"></mxi-icon>
                    </button>
                    {{ vm.locationDetails | translate }}
                </ion-item --> 
                </ion-list>
            </ion-slide>
            
            <ion-slide style="-webkit-transform: translate(320px, 0px) translateZ(0px);">
            
                <div class="row">
                    <div class="col text-left">
                        <div class="chart-total-time">
                        <strong>Total Times</strong>
                        <br>
                        <span id="CycleCountChartTotalTime">10:54 hours</span>
                        </div>
                    </div>
                    <div class="col text-right">                        
                        <ion-item class="item item-input item-select smalldropdown">                
                            <select class="dropdown" ng-change="vm.CycleCountSelectChange(CycleCountSelectChangeM);" ng-model="CycleCountSelectChangeM">
                                <option value="" disabled selected hidden>Day</option>
                                <option value="day">Day</option>
                                <option value="week">Week</option>
                                <option value="month">Month</option>
                            </select>                   
                        </ion-item>
                    </div>
                </div>
                
                <div class="d3chart" id="CycleCountChart" name="CycleCountChart" width='100%'>
                    <svg></svg>
                </div>
                
                <ion-list class="list dashboard">
                <!-- ion-item ng-click="vm.toggleGroup(2)" class="ripple">
                    <h2 class="padding">{{"home_cycle_count" | translate}}</h2>
                    <div class="row">
                        <div class="col text-center">
                            <h1>{{vm.cycleCountData.selectIdsCounted}}</h1>
                            <p class="label">{{"home_select_ids" | translate}}<br>{{"home_counted" | translate}}</p>
                        </div>
                        <div class="col text-center">
                            <h1>{{vm.cycleCountData.ItemsCounted}}</h1>
                            <p class="label">{{"home_items" | translate}}<br>{{"home_counted" | translate}}</p>
                        </div>
                        <div class="col text-center">
                            <h1>{{vm.cycleCountData.TimeSpent}}</h1>
                            <p class="label">{{"home_time" | translate}}<br>{{"home_spent" | translate}}</p>
                        </div>
                    </div>
                </ion-item -->                 
            
                <ion-item class="item-accordion item-no-border-top">
                    {{"home_last" | translate}} {{"cycle_count" | translate}}: 
                    <div class="item-value">December 8, 2015/ 03:05 AM</div>
                </ion-item>
                <ion-item  class="item-accordion" ng-click="vm.goTo('app.cycle-count')">
                    {{"home_last" | translate}} {{"home_select_id" | translate}} {{"home_used" | translate}}:
                    <span class="item-note-right">- -</span>
                </ion-item>
                <!--ion-item class="location">
                    <button class="button button-icon">
                        <mxi-icon icon="icon-location"></mxi-icon>
                    </button>
                    {{ vm.locationDetails | translate }}
                </ion-item--> 
                </ion-list>
            </ion-slide>
            
            <ion-slide style="-webkit-transform: translate(320px, 0px) translateZ(0px);">
                
                <div class="row">
                    <div class="col text-left">
                        <div class="chart-total-time">
                        <strong>Total Times</strong><br>
                        <span id="PickForParChartTotalTime">10:54 hours</span>
                        </div>
                    </div>
                    <div class="col text-right">                        
                        <ion-item class="item item-input item-select smalldropdown">                
                            <select class="dropdown" ng-change="vm.PickForParSelectChange(PickForParSelectChangeM);" ng-model="PickForParSelectChangeM">
                                <option value="" disabled selected hidden>Day</option>
                                <option value="day">Day</option>
                                <option value="week">Week</option>
                                <option value="month">Month</option>
                            </select>                   
                        </ion-item>
                    </div>
                </div>
            
                <div class="d3chart" id="PickForParChart" name="PickForParChart" width='100%'>
                    <svg></svg>
                </div>                  
                
                <ion-list class="list dashboard">
                <!--ion-item>
                    <h2 class="padding">{{"home_pick_for_par" | translate}}</h2>
                    <div class="row">
                        <div class="col text-center">
                            <h1>{{vm.pickForParData.ParformsPicked}}</h1>
                                <p class="label">{{"home_pfp_tickets" | translate}}<br>{{"home_picked" | translate}}</p>
                            </div>
                            <div class="col text-center">
                                <h1>{{vm.pickForParData.ItemsPulled}}</h1>
                                <p class="label">{{"home_items" | translate}}<br>{{ "lbl_pulled" | translate }}</p>
                            </div>
                            <div class="col text-center">
                                <h1>{{vm.pickForParData.TimeSpent}}</h1>
                                <p class="label">{{"home_time" | translate}}<br>{{"home_spent" | translate}}</p>
                            </div>
                        </div>
                </ion-item-->
                
                <!--ion-item class="location">
                    <button class="button button-icon">
                        <mxi-icon icon="icon-location"></mxi-icon>
                    </button>
                    {{ vm.locationDetails | translate }}
                </ion-item-->        
                </ion-list>
            </ion-slide>
            
        </ion-slide-box>
            
    </ion-content>
</ion-view>