<ion-view>
    <!-- START Title header -->
    <ion-nav-title>{{"title_logging" | translate}}</ion-nav-title>
    
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="vm.optionMore($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <!-- END Title header --> 

    <!-- START View content -->
    <ion-content class="has-header">
        <ion-list>
            <div class="item text-center key" ng-if="vm.localStorShowHelp == '1'">{{ "text_change_logging_level" | translate }}</div>
            <ion-item class="item-no-border-bottom">
                <ul class="list inset">
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{"lbl_log_level" | translate}}</div>
                            <div class="col">
                                <label class="item-input item-select">
                                    <select class="dropdown" ng-model="vm.logLevel" ng-change="vm.savelogLevel()">
                                        <option value="4">{{"opt_debug" | translate}}</option>
                                        <option value="3">{{"opt_info" | translate}}</option>
                                        <option value="2">{{"opt_warning" | translate}}</option>
                                        <option value="1">{{"opt_error" | translate}}</option>
                                        <option value="0">{{"opt_none" | translate}}</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{"text_max_log_size_mb" | translate}}</div>
                            <div class="col input-text">
                                <input type="number" ng-model="vm.maxLogSize" ng-blur="vm.saveMaxLogSize()">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="row">
                            <div class="col col-60 label">{{"lbl_log_path" | translate}}</div>
                            <div class="col input-text">
                                <input type="text" maxlength="32" ng-model="vm.logFilePath" ng-blur="vm.saveFilePath()">
                            </div>
                        </div>
                    </li>
                    <!--li class="item">
                        <button class="button" style="background-color:#4a85c2;color: white; border: none; font-size:14px; min-height:27px;">{{"btn_delete_logs" | translate}}</button>
                    </li-->
                </ul>
            </ion-item>        
        </ion-list>
    </ion-content>
    <!-- END View content --> 
</ion-view>