<ion-view>
    <!-- START Title header -->
    <ion-nav-title>
        {{ vm.headTitle | translate }}
    </ion-nav-title>
    <!-- END Title header --> 

    <!-- START View content --> 
    <ion-content class="has-header">

        <!-- Par Count -->
        <div ng-if="vm.page == 'parCount'">
            <ion-list class="mix-list">
                <h3 class="header">{{"par_counting_company" | translate}}</h3>
                <a class="item" href="#/app/settings-company-change-view">
                    {{"default_company" | translate}}
                    <div class="item-value">{{ vm.companyHeaderID }} - {{ vm.companyHeader }} </div>
                </a>
                <h3 ng-show="vm.futureRelease" class="header">{{"title_par_form" | translate}}</h3>
                <a ng-show="vm.futureRelease" class="item" href="#/app/settings-my-par-form-view">
                    {{"my_par_forms" | translate}}
                    <div class="item-value">--</div>
                </a>   
                <!--ion-item ng-show="vm.futureRelease">
                    <h3>{{"text_par_item" | translate}}</h3>
                    <ul class="list inset">
                        <li class="item item-dropdown">                  
                            <label class="item-input item-select">
                                <div class="input-label">
                                  {{"lbl_default_view" | translate}}
                                </div>
                                <select>
                                    <option>{{"opt_first_par_item" | translate}}</option>
                                    <option>{{"opt_blank_awaiting_scan" | translate}}</option>
                                </select>
                            </label>
                        </li>
                    </ul>
                </ion-item>
                <h3 class="header">{{"lbl_label_printer" | translate}}</h3>
                <a class="item" href="#/app/settings-printer-list">
                    {{"text_default_printer" | translate}}
                    <div class="item-value">{{ vm.defaultPrinter }}</div>
                    <!---div class="row">
                        <div class="col">
                            Report Printer
                        </div>
                        <div class="col text-right">
                            CanonLaserJet1
                        </div>
                    </div>
                </a -->
                <ion-toggle ng-show="vm.futureRelease">
                    Kanvab System
                </ion-toggle>
                <ion-item ng-show="vm.futureRelease">
                    Allow over par
                </ion-item>
            </ion-list>
        </div>

        <!-- Cycle Count -->
        <div ng-if="vm.page == 'cycleCount'">
            <ion-list class="mix-list">
                <h3 class="header">{{"text_cycle_count_company" | translate}}</h3>
                <a class="item" href="#/app/settings-company-change-view">
                    {{"default_company" | translate}}
                    <div class="item-value">{{ vm.companyHeaderID }} - {{ vm.companyHeader }} </div>
                </a>
                <ion-item ng-show="vm.futureRelease">
                    <h3>{{"lbl_toggle_blind_counting" | translate}}</h3>
                    <ul class="list inset">
                        <li class="item item-toggle">
                            {{"lbl_enable" | translate}}
                            <label class="toggle toggle-small">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>
                    </ul>
                </ion-item>   
                <ion-item class="item-no-border-bottom" ng-show="vm.futureRelease">
                    <h3>{{"lbl_validate_freeze_qty" | translate}}</h3>
                    <ul class="list inset">
                        <li class="item item-toggle">
                            {{"lbl_validate" | translate}}
                            <label class="toggle toggle-small">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>
                    </ul>
                </ion-item>
            </ion-list>
        </div>

        <!-- Pick for Par -->
        <div ng-if="vm.page == 'pickForPar'">
            <ion-list>
                <h3 class="header">{{"lbl_report_printer" | translate}}</h3>
                <a class="item" href="#/app/settings-printer-list">
                    {{"text_default_printer" | translate}}
                    <div class="item-value">{{ vm.defaultPrinter }}</div>
                    <!---div class="row">
                        <div class="col">
                            Report Printer
                        </div>
                        <div class="col text-right">
                            CanonLaserJet1
                        </div>
                    </div-->
                </a>
            </ion-list>
        </div>
    </ion-content>
    <!-- END View content --> 
</ion-view>