
<ion-view>


    <!-- START Title header -->
   <ion-nav-title>
         {{"title_printer_defaults" | translate}}
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
      <div class="item text-center key">{{"text_change_printer" | translate}}</div>

       <a class="item" href="#">
          <div class="row">
            <div class="col">
              <p>{{"lbl_label_printer" | translate}}</p>
            </div>
            <div class="col text-right">
              <p>Zebra1</p>
            </div>
          </div>
       </a>
       <a class="item" href="#">
          <div class="row">
            <div class="col">
              <p>{{"lbl_report_printer" | translate}}</p>
            </div>
            <div class="col text-right">
              <p>CanonLaserJet1</p>
            </div>
          </div>
       </a>

  </ion-content>
  <!-- END View content --> 
</ion-view>

 