
<ion-view>
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
         <button class="button button-icon" ng-click="vm.addParForm();">
          <mxi-icon icon="icon-nav-plus"></mxi-icon>
        </button>
        <button class="button button-icon" ng-click="vm.myParFormSettingsOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Left header buttons -->

    <!-- END Left header buttons -->

    <!-- START Title header -->
   <ion-nav-title>
        {{"my_parforms" | translate}}
   </ion-nav-title>
   <!-- END Title header --> 

   <ion-nav-buttons side="left">
      <ion-bar-header style="background: #50535A;" class="bar bar-energized bar-shadowed" ng-show="vm.showOptionToDelete">
        <button side="left" class="button button-icon" ng-click="vm.showOptionToDelete = false; vm.clearAll();">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
        <h1 class="title title-left" style="left: 52px; text-align:left;">{{ vm.selectedParCount() }} {{"lbl_selected" | translate}}</h1>
        <div class="buttons pull-right">
            <button class="button button-clear">{{ "btn_delete" | translate }}</button> 
            <button class="button button-icon" ng-click="vm.myParFormSettingsOption($event,'add-par-form-settings')">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </div>
     </ion-bar-header>
    </ion-nav-buttons>

   <!-- START View content --> 
  <ion-content class="has-header">
      <form>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="search" placeholder="Search Par forms" ng-model="vm.searchText">
                <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                    <mxi-icon icon="icon-search-close"></mxi-icon>
                </button>
            </label>
            <button class="button button-small" ng-show="vm.searchText.length" ng-click="">
            {{ "btn_cancel" | translate }}</button>
          </div>
      </form>
      <div class="item text-center key" ng-if="vm.localStorShowHelp == '1'">
          {{"ins_tap_plus_to_add_par_forms" | translate}}
      </div>
      <ion-list show-delete="vm.showOptionToDelete">
            <ion-item ng-repeat="parCount in vm.parCount">
              <ion-delete-button class="ion-android-checkbox-outline{{ (parCount.val)  ? '' : '-blank' }}" ng-click="parCount.val = !parCount.val; vm.showHideDeleteButtons = true;" >
              </ion-delete-button>
              <input type="checkbox" ng-model="parCount.val" style="display:none;"/>
              {{ parCount.id }}
              <p>{{ parCount.name }} </p>
            </ion-item>
        </ion-list>


  </ion-content>
  <!-- END View content --> 
</ion-view>

 