<ion-view hide-back-button="true">
    <ion-nav-bar class="bar {{setNavColor}}">
        <ion-nav-title>
            {{"add_par_forms" | translate}}</span>
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon" ng-click="vm.goTo('app.settings-my-par-form-view','slideDown')">
                <mxi-icon icon="icon-nav-close"></mxi-icon>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="vm.goTo('app.settings-my-par-form-view','slideDown')">{{"btn_ok" | translate}}</button>
            <button class="button button-icon" ng-click="vm.addParFormSettingsOption($event)">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="search" placeholder="Search Par forms" ng-model="searchField">
                        <button type="reset" class="button button-icon input-btn" ng-show="searchField.length">
                            <mxi-icon icon="icon-search-close"></mxi-icon>
                        </button>
                    </label>
                    <button class="button button-small" ng-show="searchField.length">{{"search_button" | translate}}</button>
                </div>
            </form>
            <div class="item text-center key" ng-if="vm.localStorShowHelp == '1'">
                {{"text_tap_ok_to_add_or_x_to_cancel" | translate}}
            </div>
            <div class="item text-center counter">{{"seleted_parform" | translate}}</div>
            <ion-checkbox ng-repeat="item in vm.parCount" ng-model="item.val">
                {{ item.name }}
                <p>{{ item.loc }}</p>
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>