<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon">
            <mxi-icon icon="icon-nav-menu"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
    <ion-nav-title>{{"settings" | translate}}</ion-nav-title>
    <!-- END Title header --> 
    
    <!-- START View content --> 
    <ion-content class="has-header">
        <div class="list with-icons">
            <h2 class="padding">{{"lbl_application_settings" | translate}}</h2>
            
            <a class="item item-icon-left" href="#/app/server-settings">
                <mxi-icon icon="icon-server"></mxi-icon> {{"lbl_server" | translate}}
            </a>
            <a class="item item-icon-left" href="#/app/barcode-scan-settings">
                <mxi-icon icon="icon-barcode-scan-sound"></mxi-icon>{{"lbl_barcode_scan_sound" | translate}}
            </a>
            <!--<a class="item item-icon-left" href="#/app/printer-settings">
                <mxi-icon icon="icon-printer-default"></mxi-icon> Printer Defaults
            </a> -->
            <a class="item item-icon-left item-no-background" href="#/app/logging-settings">
                <mxi-icon icon="icon-logging"></mxi-icon> {{"lbl_logging" | translate}}
            </a>

            <div class="list-divider">
                <h2 class="padding">{{"lbl_module_settings" | translate}}</h2>

                <a class="item item-icon-left" href="#/app/par-count-settings">
                    <mxi-icon icon="icon-par-count-default"></mxi-icon> {{"lbl_par_count_defaults" | translate}}
                </a>
                <!-- Aivy: revisit features
                a class="item item-icon-left" href="#/app/pick-for-par-settings">
                    <mxi-icon icon="icon-pick-for-par-default"></mxi-icon> {{"lbl_pick_for_par_defaults" | translate}}
                </a -->
                <a class="item item-icon-left item-no-background" href="#/app/cycle-count-settings">
                    <mxi-icon icon="icon-cycle-count-default"></mxi-icon> {{"lbl_cycle_count_defaults" | translate}}
                </a>
            </div>
            
            <h2 class="padding">{{"lbl_general_settings" | translate}}</h2>
            <div class="item item-toggle item-icon-left toggle-small">
                <mxi-icon icon="icon-show-help"></mxi-icon> {{"lbl_show_help" | translate}}
                <label class="toggle">
                    <input type="checkbox" ng-model="vm.modelShowHelp" ng-change="vm.showHelpChange(vm.modelShowHelp)">
                    <div class="track"><div class="handle"></div></div>
                </label>
            </div>
            <a class="item item-icon-left" href="#" ng-click="vm.resetDefaultsConfirmation()">
                <mxi-icon icon="icon-reset-default"></mxi-icon> {{"lbl_reset_defaults" | translate}}
            </a>
            <a class="item item-icon-left item-no-background" href="#/app/about-mpc">
                <mxi-icon icon="icon-about-mpc"></mxi-icon>{{"lbl_about_mpc" | translate}}
            </a>
            <ion-toggle ng-show="vm.futureRelease">
                {{"lbl_enable_email" | translate}}
            </ion-toggle>
            <ion-item ng-show="vm.futureRelease">
                {{"lbl_theme" | translate}}
            </ion-item>
            <ion-item ng-show="vm.futureRelease">
                {{"lbl_reset_tutorials" | translate}}
            </ion-item>
            <ion-item ng-show="vm.futureRelease">
                {{"lbl_default_dashboard_setting" | translate}}
            </ion-item>
        </div>
    </ion-content>
    <!-- END View content --> 
</ion-view>