<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-back"></mxi-icon>
		</button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
		<button class="button button-clear" disabled>
            {{ 'btn_ok' | translate }}
        </button>
        <button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title class="hassub">
    	CONFIG : {{vm.getID}}
		<div class="sub-title">Supply Location for {{vm.getID2}}</div>
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header has-footer">
		<div class="item text-center key graytxt big">
			Enter count and press "OK" to confirm
		</div>
		
		<div class="row full-width">
			<div class="col">
				<div class="row">
					<div class="col label">Expiration Date:</div>
					<div class="col text-right no-padding-sides">
						<label class="item-input item-select">
							<select class="dropdown">
								<option>01/31/2016</option>
								<option>01/31/2016</option>
							</select>
						</label>
					</div>					
					<!--<input type="date" value="2016-01-19" class="date-picker-clean align-right">-->					
				</div>
				
				<div class="row">
					<div class="col label">Serial Number:</div>
					<div class="col text-right">
						<label class="item item-input">
							<input type="text" placeholder="" />
						</label>						
					</div>
				</div>
				
				<div class="row gray-border-bottom">
					<div class="col label">QTY:</div>
					<div class="col align-right">
						<label class="item item-input align-left plus-right">
							<input type="text" placeholder="" />
							<button class="button button-icon ion-plus-round align-left"></button>
						</label>						
						<span class="input-subtitle big align-left">EA</span>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="subheader">Quantity</div>
		
		<div class="row">
			<div class="col gray-border-bottom">				
				<div class="row normal-line-height">
					<div class="col">Expiration:--</div>
					<div class="col text-right text-big">1</div>
				</div>
				<div class="row gray-border-bottom">
					<div class="col">Serial Number:</div>
					<div class="col text-right">QTY</div>
				</div>
			</div>
		</div>
		
  </ion-content>
	
	
	
  <!-- END View content -->
</ion-view>

