<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" menu-toggle="left">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">		
        <button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title class="hassub">
    	{{ 'pull_title_count_inventory' | translate }}
		<div class="sub-title">PGH I --</div>
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
		<div class="item text-center key graytxt big">
		Tap ":" to change Facility and Department
		</div>
		<div class="item text-center key clearkey left no-border-bottom">Supply Locations: 0</div>
		
		<ion-list>
			
			<div class="row gray-border-bottom no-margin">
            	<div class="col higher-line-height has-green-icon" ng-click="vm.goToWithID('app.count-inventory-add-items', '50')">
					
					<i class="icon index2 small mini-green-dot">
						<span>2</span>
					</i>
				
            		<span class="text-big">MTKSL</span>
					<br />
            		<span class="item-content">
						Supply Location for DI
					</span>
            	</div>
            	<div class="col col-40 text-right padding-top10">
					<button class="button button-icon" ng-click="vm.showactionsheet()">
                        <mxi-icon icon="icon-nav-small-more"></mxi-icon>
                    </button>					
            	</div>
            </div>
			
			<div class="row gray-border-bottom no-margin">					
            	<div class="col higher-line-height has-green-icon" ng-click="vm.goToWithID('app.count-inventory-add-items', '51')">
            		<span class="text-big">MTKSL</span>
					<br />
            		<span class="item-content">
						Supply Location for DI
					</span>
            	</div>
            	<div class="col col-40 text-right padding-top10">				
					<button class="button button-icon" ng-click="vm.showactionsheet()">
                        <mxi-icon icon="icon-nav-small-more"></mxi-icon>
                    </button>					
            	</div>
            </div>
			
			<div class="row gray-border-bottom no-margin">					
            	<div class="col higher-line-height has-green-icon" ng-click="vm.goToWithID('app.count-inventory-add-items', '52')">
            		<span class="text-big">MTKSL</span>
					<br />
            		<span class="item-content">
						Supply Location for DI
					</span>
            	</div>
            	<div class="col col-40 text-right padding-top10">				
					<button class="button button-icon" ng-click="vm.showactionsheet()">
                        <mxi-icon icon="icon-nav-small-more"></mxi-icon> 
                    </button>					
            	</div>
            </div>
			
			
		</ion-list>
		
  </ion-content>
  <!-- END View content --> 
</ion-view>

