<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goBack()">
			<mxi-icon icon="icon-nav-back"></mxi-icon>
		</button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
		<button class="button button-clear" disabled>
            {{ 'btn_done' | translate }}
        </button>
        <button class="button button-icon" ng-click="vm.pullOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
	</ion-nav-buttons>
    <!-- END Right header buttons -->

    <!-- START Title header -->
   <ion-nav-title class="hassub">
    	ID : {{vm.getID}}
		<div class="sub-title">Supply Location for {{vm.getID}}</div>
   </ion-nav-title>

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header has-footer">
		<div class="item text-center key graytxt big">
		Tap "ADD ITEMS" to load items to count
		</div>
		<div class="item text-center key clearkey left no-border-bottom">Items: 2</div>
		
		<ion-list>
			
			<div class="row gray-border-bottom no-margin" ng-click="vm.goToWithIDs('app.count-inventory-add-items-config','100')">
            	<div class="col higher-line-height">
            		<span class="text-big">000001 - For Combined PO</span>
            		<span class="item-content text-mini">
						QOH : 10 EA
					</span>
					<span class="item-content text-micro">
						Count: 0
					</span>
            	</div>
            </div>
			
			<div class="row gray-border-bottom no-margin" ng-click="vm.goToWithIDs('app.count-inventory-add-items-config','101')">
            	<div class="col higher-line-height">
            		<span class="text-big">000001 - For Combined PO</span>
            		<span class="item-content text-mini">
						QOH : 10 EA
					</span>
					<span class="item-content text-micro">
						Count: 0
					</span>
            	</div>
            </div>
			
			<div class="row gray-border-bottom no-margin" ng-click="vm.goToWithIDs('app.count-inventory-add-items-config','102')">
            	<div class="col higher-line-height">
            		<span class="text-big">000001 - For Combined PO</span>
            		<span class="item-content text-mini">
						QOH : 10 EA
					</span>
					<span class="item-content text-micro">
						Count: 0
					</span>
            	</div>
            </div>
			
		</ion-list>
		
  </ion-content>
	
	<div class="bar bar-footer">
		<div class="col">
			<button ng-click="vm.goTo('app.pull-add-items');" class="button button-clear button-azure center">ADD ITEMS</button>
		</div>
	</div>
	
  <!-- END View content -->
</ion-view>

