/*******************************
    COLORS
*******************************/
/*******************************
    Color Palettes: Fonts
*******************************/
.ui-amethyst-8 {
    color: $ui-amethyst-8;
}
.ui-turquoise-8 {
    color: $ui-turquoise-8;
}
.ui-emerald-6 {
    color:$ui-emerald-6;
}
/*******************************
    Color Palettes: Navigation Bar
*******************************/
.bar.bar-amber-7 ion-header-bar {
    background-color: $navigationbar-bg-color1;
    background-image: linear-gradient(0deg, $navigationbar-bg-color1, $navigationbar-bg-color1 50%, transparent 50%);
}
.bar.bar-amethyst-7 ion-header-bar{
    background-color: $navigationbar-bg-color2;
    background-image: linear-gradient(0deg, $navigationbar-bg-color2, $navigationbar-bg-color2 50%, transparent 50%);
}
.bar.bar-amethyst-8 ion-header-bar{
    background-color: $navigationbar-bg-color3;
    background-image: linear-gradient(0deg, $navigationbar-bg-color3, $navigationbar-bg-color3 50%, transparent 50%);
}
.bar.bar-azure-8 ion-header-bar {
    background-color: $navigationbar-bg-color4;
    background-image: linear-gradient(0deg, $navigationbar-bg-color4, $navigationbar-bg-color4 50%, transparent 50%);
}
.bar.bar-emerald-7 ion-header-bar{
    background-color: $navigationbar-bg-color5 ;
    background-image: linear-gradient(0deg, $navigationbar-bg-color5 , $navigationbar-bg-color5 50%, transparent 50%);
}
.bar.bar-turquoise-8 ion-header-bar {
    background-color: $navigationbar-bg-color6;
    background-image: linear-gradient(0deg, $navigationbar-bg-color6, $navigationbar-bg-color6 50%, transparent 50%);
}
.bar.bar-slate-6 ion-header-bar {
    background-color: $navigationbar-bg-color7;
    background-image: linear-gradient(0deg, $navigationbar-bg-color7, $navigationbar-bg-color7 50%, transparent 50%);
}
.bar.bar-ruby-5 ion-header-bar {
    background-color: $navigationbar-bg-color8;
    background-image: linear-gradient(0deg, $navigationbar-bg-color8, $navigationbar-bg-color8 50%, transparent 50%);
}
.button:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}
.list-with-icon .icon {
    width: 22px;
}
.list-with-icon .item-icon-left .icon {
    left: 16px;
}
.list-with-icon h2 {
    font-size: $font-size-bigger;
    font-weight: 500;
    margin-top: 0;
}
.list-divider {
    border-width: 5px 0;
    border-color: $lighter-gray-color;
    border-style: solid;
}
.item.item-no-background {
    background: transparent;
}
.item.item-no-border {
    border-width: 0;
}
.item.item-no-border-top {
    border-top-width: 0;
}
.item.item-no-border-bottom, .list h3.header + a.item.item-no-border-bottom {
    border-bottom-width: 0;
}
.padding {
    padding: 16px;
}
.inset-list .item {
    border-width: 0;
    /*margin: 31px 0 0;*/
    padding: 0;
}
.inset-list .item-note {
    float: right;
    text-align: right;
}
.setting-list h2 {
    margin-bottom: 10px;
    font-size: $font-size-bigger;
    font-weight: 500;
    margin-top: 0;
}
.inset-list .item .toggle {
    right: 0;
}
.setting-list .item {
    border-bottom-width: 0;
}
.ui-select .input-label {
    font-size: $font-size-biggest;
    color: $light-black-color;
    padding: 0 10px 0 0;
}
.item-select select {
    right: 1px;
}
.item-note-right {
    float: right;
    color: $dark-gray-color;
    font-size:$font-size-normal;
}
.toggle input:checked + .track .handle{
     background-color:$blue-color;
}
.toggle .handle {
    background-color: $darker-gray-color;
}
.toggle input:checked + .track {
    border-color: $light-blue-color;
    background-color: $light-blue-color;
}
.toggle .track {
    background-color: $normal-gray-color;
    border: none;
}
.inset-list .item .ui-select {
    padding: 0;
    line-height: $line-height-xlarge;
    position: relative;
}
.inset-list .ui-toggle {
    /*margin: 26px 0 0;*/
    overflow: visible;
}
.inset-list .item-toggle {
    padding: 4px 0;
}
.item-toggle .toggle {
    /*top: 0;*/
}
.list h2, h3 {
    padding: 0 0 25px 0;
}