/*******************************
    FORMS
*******************************/
/*******************************
    Search Input with Button
*******************************/
.item-input-wrapper {
    padding-left: 0;
    padding-right: 0;
}
.item-input-inset .item-input-wrapper input {
    /*background: $white-color url('../img/search.png') no-repeat 14px 50%;*/
	background: $white-color url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path fill="#737373" d="M17.707 16.293l-5.107-5.109c.875-1.168 1.4-2.615 1.4-4.184 0-3.86-3.141-7-7-7s-7 3.14-7 7c0 3.859 3.141 7 7 7 1.569 0 3.016-.525 4.186-1.402l5.107 5.109c.195.195.451.293.707.293s.512-.098.707-.293c.391-.391.391-1.023 0-1.414zm-10.707-4.293c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/></svg>') no-repeat 14px 50%;
    border-color: $gray-color;
    border-width: $border-width-normal;
    border-style: solid;
    border-radius: 4px;
    height: $input-field-height;
    width: 100%;
    font-size: $font-size-bigger;	
    color: $medium-gray-color;
    padding-left: 56px;
}
.item-input-inset {
    background: $light-gray-color;
    padding:$main-paddings;
}
.item-input-inset .button-small {
    color: $lighter-blue-color;
    font-size: $font-size-normal;
    font-weight: bold;
}
.item-input-inset .button {
    border-width: 0;
    background-color: transparent;
}
.item-input-inset .button.activated, .popover .button.activated {
    border-color: transparent;
    box-shadow: none;
}
.item-input-inset.item {
    border-width: 0;
}
.item-input-inset + .item.key {
    margin-top: -14px;
}
/*******************************
    Input Field
*******************************/
.item.item-input {
    /*padding:$input-field-padding;*/	
	border-color:$gray-color;
	padding:$main-padding-empty;
}
.item-input input {
    line-height:$input-field-line-height;
	padding:$input-field-padding;
	font-size:$font-size-bigger;
	min-height:$input-field-height;
	line-height:$line-height-large;
	padding:$input-field-padding;
	margin:$main-margin-empty;
}
.ac-container label.item.item-input,
.ac-container2 label.item.item-input{
	padding:$main-padding-empty 8px $main-padding-empty $main-padding-empty;
	margin:$main-margin-empty;
}
.ac-container2 .item-input input{
	border:$border-width-normal solid $gray-color;
	padding:$main-padding-empty 8px;
	margin: 1px 0 10px 0;
}
input[type=text] {
    width:$input-field-width;
    padding:$input-field-padding;
	line-height:$line-height-large;
	min-height:$min-height-smaller;
	font-size:$font-size-bigger;
}
input.input40{
	border:$border-width-normal solid $gray-color;
	float:right;	
}
/*******************************
    Other
*******************************/
.col.label {
    line-height: $line-height-larger;
}
.col.input-text { 
    border: $border-width-normal solid $gray-color;
    border-radius: 1px;
    width: 99%;
}
/*******************************
    Checkbox
*******************************/
.platform-android .checkbox-platform input:before, 
.platform-android .checkbox-platform .checkbox-icon:before, 
.checkbox-square input:before, .checkbox-square .checkbox-icon:before {
    border-width: $border-width-normal;
}
.checkbox input:before, .checkbox .checkbox-icon:before {
    border-color: $dark-gray-color;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: $blue-color;
    border-color: $blue-color;
}
.checkbox input, .checkbox-icon{
	width: $checkbox-icon-width;
	height: $checkbox-icon-height;
}
/*******************************
    Radiobutton
*******************************/
.ui-radio .item.item-radio, .ui-radio-checkmark .item.item-radio {
    padding: 0;
}
.ui-radio .item-radio .item-content, .ui-radio-checkmark .item-radio .item-content {
    padding-right: 16px;
    padding-left: 72px;
    background-color: transparent;
}
.ui-radio .item-radio input:checked ~ .item-content, .ui-radio-checkmark .item-radio input:checked ~ .item-content {
    background: transparent;
}
.ui-radio-checkmark .ion-checkmark:before {
/*	HEAD	*/
    position: absolute;
    width: 16px;
    height: 16px;    
    top: 18px;
    left: 8px;
    background-size: contain;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path fill-rule="evenodd" clip-rule="evenodd" fill="$dark-gray-color" d="M6.563 15c-.254 0-.508-.096-.703-.289l-5.063-5.001c-.393-.388-.397-1.021-.008-1.414.387-.393 1.021-.396 1.414-.008l4.353 4.3 9.235-9.293c.391-.39 1.023-.393 1.414-.005.393.39.395 1.023.004 1.415l-9.937 10c-.196.195-.453.295-.709.295"/></svg>') no-repeat 50% 50%;
}
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:before {
    background-color: $blue-color;
    border-color: $blue-color;
}
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:before {
    border: 1px solid $blue-color;
}
.ui-radio .item-radio input[type="radio"]:not(:checked) ~ i.ion-checkmark:after {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0);
}
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:after {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}
.ui-radio .item-radio input[type="radio"]:not(:checked) ~ i.ion-checkmark:before, 
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:before {
    border: 1px solid $dark-gray-color;
    border-radius: 50%;
    content: '';
    height: 18px;
    margin-left: -31px;
    width: 18px;
}
.ui-radio .item-radio input[type="radio"]:not(:checked) ~ i.ion-checkmark:after, 
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark:after {
    border: 2px solid $light-gray-color;
    border-radius: 50%;
    content: '';
    height: 10px;
    left: .34em;
    position: absolute;
    top: 1.02em;
    transition: all 0.2s ease 0s;
    width: 10px;
}
.ui-radio .item-radio input[type="radio"]:not(:checked) ~ i.ion-checkmark, 
.ui-radio .item-radio input[type="radio"]:checked ~ i.ion-checkmark {
    cursor: pointer;  
    padding-left: 35px;
    left: 16px;
}
.ui-radio .item-radio input[type="radio"]:checked:focus ~ i.ion-checkmark:before,
.ui-radio .item-radio input[type="radio"]:not(:checked):focus ~ i.ion-checkmark:before {
  box-shadow: 0 0 0 2px $light-gray-color, 0 0 0 3px $blue-color; 
}
.ui-radio .ion-checkmark:before, .ui-radio-checkmark .ion-checkmark:before {
    content: "";
}
.ui-radio .item-radio .radio-icon {
    visibility: visible;
}
.ui-radio-checkmark .item-radio .radio-icon {
    left: 16px;
}
/*	NEW RADIO : NO BORDER VERSION	*/
.ui-radio.no-borders .item.item-radio{
	background:none;
	border:0;
}
/***********************************
    Checkbox
***********************************/
.ui-checkbox {
    width:$checkbox-width;
} 
.ui-checkbox .checkbox-icon,
.ui-checkbox-blank .checkbox-icon {
    border: 1px solid $dark-gray-color;
    height: 20px;
    border-radius: 3px;
} 
.ui-checkbox .checkbox-icon {
    border-color: $blue-color;
} 
.ui-checkbox-blank .checkbox-icon:before {
    border: 0;
    border-radius: 2px;
} 
.ui-checkbox .checkbox-icon:before {
    background: $blue-color;
    border-color: $blue-color;
    border-radius: 0;
    border-width: $border-width-bigger;
}
.ui-checkbox-blank .checkbox-icon:after {
    left: 15%;
    top: 19%;
    border-radius: 3px;
} 
.ui-checkbox .checkbox-icon:after {
    opacity: 1;
    border-width: $border-width-bigger;
    top: 19%;
    left: 15%;
    width: 13px;
    height: 7px;
}
.platform-android .checkbox-platform input:after,
.platform-android .checkbox-platform .checkbox-icon:after,
.checkbox-square input:after,
.checkbox-square .checkbox-icon:after {
  border-width: 2px;
  top: 18%;
  left: 22%;
  width: 16px;
  height: 7px;
 }
.ui-select {
    position: relative;
    display: flex;	
}
.item-select .dropdown,
.item-select select,
.ui-select select {
	position: relative;
	top: 0;
	width: 100%;
	max-width: 100%;
	direction: ltr;
	border: 1px solid $gray-color;
	/*font-size: $font-size-normal;*/
	font-size: $font-size-bigger;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding:$dropdown-padding;
	border-radius: 1px;
	height: $dropdown-height;
	background-color: transparent;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	right: 0;
}
.item-select:after {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
}
.ui-select:after{
	position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
}
.item-input.item-select.small{
	min-width: 100px;
	overflow: visible;
}
.item-select.small .dropdown{
	width: auto;
	max-width: 100%;
	padding:$main-padding-empty $main-padding-empty 2px 5px;
	min-width: 60px;
	min-height:$dropdown-min-height;
	line-height:$dropdown-line-height;
	height:$dropdown-height;
	margin:$main-margin-empty;
}
.item-select.small:after{
	right:auto;
	margin: -3px 0 0 -22px;
	color: $darker-gray-color;
}
/***********************************
    Other
***********************************/ 
.item-complex.item-left-editable {
    margin: 0;
    padding: 0;
}
.item-complex .item-content {
    padding: 18px 16px 18px 72px; 
}
.col-27 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 27%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 27%;
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
    max-width: 27%;
}
.padding-left-70 {
    padding-left: 70px;
}
.item-input {
    padding: 0;
}
label.item.item-input.max140{
	max-width: 140px;
	overflow: visible;
}
label.item.item-input.max135 input{
	width:auto;
}
/***********************************
    Buttons
***********************************/
.button.button-azure.button-clear {
    color: $blue-color;
}
.button-clear {
  max-height: 36px;
}
.button {
  min-height: $min-height-medium;
  line-height: $line-height-larger;
}
.button.button-block, .button.button-full {
  margin-top: 15px;
  margin-bottom: 15px;
}
.button-clear.button-clear.shadow{
	border:$border-width-normal solid $lighter-gray-color;
	-webkit-box-shadow:0px 0px 3px 3px rgba(228, 228, 228, 0.75);
	-moz-box-shadow:0px 0px 3px 3px rgba(228, 228, 228, 0.75);
	box-shadow:0px 0px 3px 3px rgba(228, 228, 228, 0.75);
	padding:$main-padding-empty 12px;
	min-width: 80px;
	min-height:$min-height-big;
	line-height:$line-height-xlarge;
	text-align: center;
	color:$blue-color;
}
.button-clear.button-clear.shadow:disabled,
.button-clear.button-clear.shadow.disabled
.button[disabled]{
	color: $gray-color;
	opacity:1;
	pointer-events: none;
}
.button-clear.button-clear.linkbutton{
	padding:$main-padding-empty;
	max-height:36px;
	line-height:$line-height-larger;
	color:$blue-color;
	text-transform: uppercase;
	min-width: 80px;
	min-height: $min-height-medium;
}
.button-clear.button-clear.linkbutton:disabled,
.button-clear.button-clear.linkbutton[disabled]{
	color: $gray-color;	
}
.button-clear.button-clear.linkbutton.right{
	float:right;
}
.button-clear.button-clear.linkbutton.right.remove{
	margin-top: -3px;
}
.button-clear.button-clear.linkbutton.left{
	float:left;
}
.button-clear.button-clear.add-plus-button{
	color:$dark-gray-color;
	font-size:$header-size-largest;
	line-height:$line-height-xlarge;
	position:absolute;
	font-weight: normal;
	padding:$main-padding-empty;
	margin:$main-margin-empty;
	border:$border-width-empty;
	position: absolute;
	top: 50%;
	margin:-50% 0 0 0;
	min-width: 0;
	right: 0;
	/*font-family: serif,"Helvetica Neue",Roboto,"Segoe UI",sans-serif;*/
	font-family: 'RobotoRegular', arial, sans-serif;
}
.button-clear.button-clear.blue-button{
	background-color:$blue-color;
	color:$white-color;
	-webkit-box-shadow:0 2px 10px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 2px 10px 1px rgba(0, 0, 0, 0.2);
	box-shadow:0 2px 10px 1px rgba(0, 0, 0, 0.2);	
}
.button-clear.button-clear.button-left{
	margin: 0 0 10px 0;
	border:$border-width-empty;
	padding:$main-padding-empty 12px;
	border-width: $border-width-empty;
	border-radius: 0px;
	font-size: $font-size-normal;
}
button[text="done"],
button[text="DONE"],
.button.button-clear.button-done,
.button-done{
	min-height: 43px;
	margin-right: 20px;
}
.button-clear.active,
.button-clear.activated {
    /*opacity: 0.3;*/
	opacity: 1;
	/*font-weight: bold;*/
}