/*******************************
    GENERAL
*******************************/
body{
	background:$main-panel-bg-color;
}
/*******************************
    Contextual Action Bar
*******************************/
.bar-shadowed.ng-animate {
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.bar-shadowed.ng-hide {
    z-index: 0;
    top: -58px;  
}
.bar-shadowed {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 10;
    top: 0;
}
/*******************************
    List
*******************************/
.item {
    border-width: $border-width-normal;
    border-color:$gray-color;
    font-size: $font-size-biggest;
    color: $light-black-color;
    padding:$main-paddings;
}
.item p {
    color: $light-black-color;
}
.item .row, .item .col {
    padding:$main-padding-empty;
}
.item.item-checkbox,
.ui-radio .item.item-radio,
.ui-radio-checkmark .item.item-radio,
.item.item-icon-left {
    background: linear-gradient(to right, rgba(250,250,250,0) 0%,rgba(250,250,250,0.96) 72px,rgba(190,190,190,1) 72px,rgba(190,190,190,1) 100%); /* W3C */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(250,250,250,0)), color-stop(72px,rgba(250,250,250,0.96)), color-stop(72px,rgba(190,190,190,1)), color-stop(100%,rgba(190,190,190,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(250,250,250,0) 0%,rgba(250,250,250,0.96) 72px,rgba(190,190,190,1) 72px,rgba(190,190,190,1) 100%); /* Chrome10+,Safari5.1+ */
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    border-width:$border-width-empty;
}
.item-checkbox, .item-icon-left, .item-align-left {
    padding-left: 72px;
    padding-left: 4.5rem;
}
/*******************************
    Key holder & Item counter
*******************************/
.item.key {
    font-size: $font-size-smaller;
    color: $light-black-color;
    background: $light-gray-color;
    border-width:$border-width-empty;
    padding: 8px 50px;
    white-space: normal;
    height: 54px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item.counter {
    font-size: $font-size-smaller;
    color: $light-black-color;
    background: transparent;
    border-width:$border-width-empty;
    padding: 10px 72px 4px;
}
/*******************************
    PopOver
 *******************************/
.platform-android .popover .item {
    padding:$main-padding-empty;
}
.popover {
    height: auto;
    width: 200px;
}
.popover .button-full {
    background-color: transparent;
    border-width:$border-width-empty;
    color: $light-black-color;
}
.popover .button.button-full {
    line-height: $line-height-large;
    padding:$main-padding-empty 20px;
    text-align: left;
    min-height: inherit;
    border-radius: 2px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.popover .item-radio .radio-icon {
    padding: 10px 14px;
}
.popover .item-radio input:checked ~ .item-content {
    background: transparent;
}
.popover .item-radio .item-content span {
    font-size: $font-size-bigger;
}

.popover .item-radio .item-content {
    padding-right: 0;
    padding-left: 64px;
}
.popover .item-radio .item-content {
    background-color: transparent;
    margin: 5px 0;
    padding:$main-padding-empty $main-paddings-left $main-padding-empty 49px;
    line-height: $line-height-large;
}
.platform-android .popover .item {
    padding:$main-padding-empty;
}
.popover .item-radio .radio-icon {
    left: 0;
    font-size: $font-size-biggest;
}
/*******************************
    ??
*******************************/
.pane, .view {
    background-color:$main-panel-bg-color;
}
.item-note {
    float: none;
    text-align: right;
}
.link {
    color: $blue-color;
    font-weight: bold;
    font-size: $font-size-medium;
    display: block;
    text-decoration: none;
    line-height: $line-height-smalllarge;
}
.thumb {
    background-color: $lighter-purple-color;
    border-radius: 16px;
    color: $white-color;
    font-size: $header-size-small;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: $line-height-mediumlarge;
}
.wrap {
    padding: 6px 0 0;
    display: flex;
    align-items: flex-end;
}
.wrap > div {
    color: $dark-gray-color;
    font-size: $header-size-bigger;
    line-height: $line-height-large;
    width: 80px;
}
.wrap .label {
    font-size: $font-size-small;
    line-height: $line-height-biggest;
}
.item-detail .col {
    color: $darker-gray-color;
    font-size: $font-size-normal;
    padding-left: 0;
    padding: 5px 0;
}
.item-detail .col + .col {
    color: $light-black-color;
    font-size: $font-size-bigger;
    padding-right: 0;
    padding-left: 5px;
}
.ui-list {
    font-size: $font-size-normal;
}
.ui-list li {
    padding: 4px 0;
}
.ui-list p {
    font-size: $font-size-biggest;
}
.ac-container label, .ac-container2 label{
    position: relative;
    z-index: 20;
    display: block;
    font-size: $header-size-small;
    color: $light-black-color;
    padding-bottom: 20px;
}
.ac-container label:hover{
    background: $white-color;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    color: $light-black-color;
}
.ac-container label:after,
.ac-container input:checked + label:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    right: 0;
    top: 7px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="$dark-gray-color" d="M0 9.001c0-.257.098-.514.293-.708l5.005-5.008c.392-.393 1.023-.393 1.415 0l5.003 5.007c.392.392.392 1.024 0 1.416s-1.023.392-1.415 0l-4.297-4.299-4.298 4.3c-.391.392-1.023.392-1.414 0-.195-.195-.292-.452-.292-.708"/></svg>') no-repeat 50% 50%;
    background-size: 15px;    
    transition: all 0.2s ease-in-out;
    transform:rotate3d(0,0,1,-180deg);
}
.ac-container input:checked + label:after{
    transition: all 0.2s ease-in-out;
    transform: rotate3d(0,0,1,0deg);
}
.ac-container input{
    display: none;
}
.ac-container section{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -5px;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;
}
.ac-container input:checked ~ section{
    transition: height 0.5s ease-in-out;
}
.ac-container input:checked ~ section.ac-small{
    height: 100px;
}
.ac-container .col, .ac-container2 .col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: $line-height-larger;
    padding-top: 0;
    padding-bottom: 0;
}
.cold {
    position: absolute;
    top: 13px;
    top: 0.8125rem;
    left: 16px;
    left: 1rem;
    line-height: normal;
}
.num, .cold1 span {
    font-size: $header-size-large;
    line-height: $line-height-large;
}
.label.sm, .cold1 .label {
    font-size: $font-size-small;
    font-size: 0.75rem;
    text-transform: uppercase;
}
.cass .label {
    font-size: $font-size-small;
    font-size: 0.75rem;
    line-height: $line-height-biggest-bigger;
    line-height: 1.375rem;
}
.cass .col {
    padding:$main-padding-empty;
    padding-right: 5px;
    padding-right: 0.3125rem;
}
.cass .col + .col {
    padding:$main-padding-empty;
    padding-left: 5px;
    padding-left: 0.3125rem;
}
.item-detail + .item-align-left {
    border-right-width:$border-width-empty;
    border-left-width:$border-width-empty;
    border-bottom-width:$border-width-empty;
    padding-top: 16px;
    padding-top: 1rem;
}
.cass.row {
    padding-bottom: 16px;
    padding-bottom: 1rem;    
}

.pfp {
    background-color: $turquoise-color;
    position: absolute;
    left: 2.8rem;
    font-size: $font-size-micro;
    color: $white-color;
    border-radius: 6px;
    top: 2.25rem;
    height: 16px;
    line-height: $line-height-biggest;
    padding: $main-padding-empty 2px;
}

.bar-header .row, .bar-header .col {
    padding: $main-padding-empty;
}
.bar .button-bar .button {
    min-width: 50px;
    line-height: $line-height-xxlarge;
}
.bar-energized .button {
    border-color: transparent;
    border-width:$border-width-empty;
    background-color: transparent;
}
.ui-button-bar {
    align-items: stretch;
    justify-content: space-between;
    display: flex;
    width: auto;
}
.ui-button-bar .button {
    min-height: 47px;
}
.ui-button-bar .button.left-space {
    padding-left: 14px;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: $border-width-bigest solid transparent;
    border-right: $border-width-bigest solid transparent;
    border-top: $border-width-bigest solid $white-color;
    display: inline-block;
    vertical-align: middle;
}
.sub-title .arrow-down {
    margin-left: 10px;
    margin-top: -3px;
}

.col {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ui-text-secondary {
    font-size: $font-size-normal;
    color: $dark-gray-color;
}
/*******************************
    List with icons: e.g. Main Settings Page
 *******************************/
.list.with-icons h2 {
    font-size: $font-size-normal;
    font-weight: bold;
    color: $light-black-color;
    padding: 0.75rem 1rem 1.875rem 1rem;
    margin:$main-margin-empty;
}
.list.with-icons .item-icon-left .icon {
    left: 1rem;
}
/*******************************
    Inset List: e.g. Settings Page
 *******************************/
.list.inset .item {
    border-width:$border-width-empty;
    padding: 16px 0;
}
.list.inset .item-dropdown {
    padding:$main-padding-empty;
}
.list.inset .item-dropdown .item-select {
    padding-left:$main-padding-empty;
}
.list.inset .item-dropdown .item-select select {
    border: $border-width-normal solid $gray-color;
    font-size: $font-size-normal;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding:$main-padding-empty 40px $main-padding-empty 0px;
    border-radius: 1px;
    height: 36px;
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    top: 7px;
    right: 0;
}
.list.inset .item-dropdown .input-label {
    color: $light-black-color;
    font-size: $font-size-biggest;
}
.list.inset .item-toggle {
    padding:$main-padding-empty;
    position: relative;
    overflow: visible;
}
.list.inset .item-toggle .toggle {
    top: -5px;
    right: 0;
}
.item-value {
    font-size: $font-size-normal;
    color: $dark-gray-color;
}
.item h3 {
    font-weight: bold;
    color: $light-black-color;
    margin:$main-margin-empty;
}

.item.item-accordion {
  /*line-height: $line-height-largest;
  padding-top: 0;
  padding-bottom: 0;*/
  -webkit-transition: 0.09s all linear;
  -moz-transition: 0.09s all linear;
  transition: 0.09s all linear;
}
.item.item-accordion.ng-hide {
  line-height: 0px;
}
.item.item-accordion.ng-hide-add,
.item.item-accordion.ng-hide-remove {
  display: block !important;
}
.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.list h3.header {
    font-size: $font-size-normal;
    font-weight: bold;
    color: $light-black-color;
    margin:$main-margin-empty;
    padding: 14px $main-paddings-left;
}
.list h3.header + a.item {
    border-top-width:$border-width-empty;
    border-top:$border-width-normal solid $white-color;
}
.list.dashboard h2 {
    padding: 0.75rem 1rem 0.1rem 1rem;
    font-size: $font-size-normal;
    font-weight: bold;
    color: $light-black-color;
    margin:$main-margin-empty; 
}
.list.dashboard .item {
    border-width: $border-width-empty;
    padding: 14px $main-paddings-left;
}
.list.dashboard .item h1{
    font-size: $header-size-normal;
    color: $light-green-color;
    margin-bottom: 2px;
}
.list.dashboard p.label {
    text-transform: uppercase;
}
.list.dashboard .item.item-accordion {
    line-height: $line-height-biggest;
    border-width: $border-width-normal;
}
.list.dashboard .item.location {
    background-color: $normal-gray-color;
    text-align: center;
    padding: 3px 0;
    line-height: $line-height-xxxlarge;
    font-size: $font-size-normal;
}
.item-complex.item-icon-left .item-content {
    padding-left: 72px;
    padding-left: 4.5rem;
}
ion-delete-button .item-checkbox .checkbox {
    padding-left: 0;
}
.item-complex.item-icon-left .item-content {
	top: 0;
	background-color: transparent;
}
.item-left-edit .item-checkbox {
	padding-right: 0px;
	padding-left: 50px;
}
.current{
	background: $blue-color!important;
}
.ion-plus-round:before {
    font-size: $header-size-normal;
}
.log-box {
    border-bottom:$border-width-normal solid $normal-gray-color;
}
.log-box .col:nth-child(2n+1), .col-left {
    align-items: center;
    display: flex; 
    justify-content:center
}
.log-box .col:nth-child(2n) {
	flex-grow: 3;
    padding: 24px 5px;
}
.ui-counter {
    color: green;
    font-size: $header-size-largest;
    line-height: $line-height-xlarge;
}
.item-accordion:after {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="$dark-gray-color" d="M0 9.001c0-.257.098-.514.293-.708l5.005-5.008c.392-.393 1.023-.393 1.415 0l5.003 5.007c.392.392.392 1.024 0 1.416s-1.023.392-1.415 0l-4.297-4.299-4.298 4.3c-.391.392-1.023.392-1.414 0-.195-.195-.292-.452-.292-.708"/></svg>') no-repeat 50% 50%;
    background-size: 15px;
    transition: all 0.2s ease-in-out;
    transform:rotate3d(0,0,1,-180deg);
    content: ' ';
    width: 50px;
    height: 58px;
    position: absolute;
    right: 0;
    top: 0;
}
.isOpen.item-accordion:after{
    transition: all 0.2s ease-in-out;
    transform: rotate3d(0,0,1,0deg);
}

/*============================================
	ISSUES & MISC OVERWRITES BY KIM
============================================*/
a.item.no-top-border{
	border-top: $border-width-empty;
}
a.item{
	border-left: $border-width-empty;
	border-right: $border-width-empty;
}
.ac-container label.item.item-input, .ac-container2 label.item.item-input{
	border:$border-width-empty;
}
.item.key{
	min-height:$min-height-big;
	height:auto;
}
.item.clearkey{
	background:none;
}
.item.graytxt,
.item.key.graytxt,
.item.text-center.key.graytext,
.item.left-counter > div.row > .col-20.graytext,
.item.left-counter > div.row > .col-40.graytext,
.graytxt{
	color:$light-black-color;
}
.item.item-input{
	font-size:$font-size-bigger;
}
.clearkey.left{
	text-align:left;
	padding:10px $main-paddings-left;
	justify-content: left;
	margin:$main-margin-empty;
}
.clearkey.left.no-border-bottom{
	border-bottom:$border-width-empty;	
}
.item-toggle.no-border {
	border:$border-width-empty;
}
.item-toggle.no-border-top {
	border-top:$border-width-empty;
}
.col.center{
	margin:$main-margin-empty auto;	
	text-align: center;
	padding: 5px;
	padding: 1px 1px 1px 1px;
}
.col.right{
	padding:1px 0px 1px 0px;
	text-align:right;
}
.col.right-with-padding{
	padding: 10px $main-paddings-left 10px $main-paddings-left;
}
.col.center.autosmall{
	width: auto;
	min-width: 0;
	display: inline-block;
	max-width: 30%;
	padding:$main-padding-empty 14px $main-padding-empty $main-padding-empty;
}
.col.center.auto p{
	padding:$main-padding-empty;
	margin:$main-margin-empty;
}
.col20{
	max-width:20%;
	margin-right:20px;
}
.col40{
	width:40%;
}
.col40.left-empty-col{
	margin-left:65px;
}
.default-padding{
	padding:$main-paddings;
}
.default-padding-left-right{
	padding:$main-padding-empty $main-paddings-left $main-padding-empty $main-paddings-left;
}
.default-padding-left-right-bottom{
	padding:$main-padding-empty $main-paddings-left 16px $main-paddings-left;
}
.big-green-number{
	color:$lighter-green-color;
	font-size:$header-size-largest;
	text-align:center;
	display:block;
	padding:$main-padding-empty;
	margin:$main-margin-empty;
	line-height: $line-height-xlarge;
}
.row.gray-border-bottom{
	border-bottom:$border-width-normal solid $gray-color;
	padding-bottom: 10px;
}

.ac-container2 .row{
	margin-bottom: 3px;
}

span.input-subtitle{
	display: block;
	text-align: left;
	margin:3px 0 0 0;
	color:$dark-gray-color;
}
span.input-subtitletop{
	display: block;
	text-align: left;
	margin:$main-margin-empty;
	color:$lighter-red-color;
	font-size:$font-size-normal;
	text-transform: uppercase;	
}
.row.top-padding-20{
	padding:$main-paddings-top $main-paddings-left 10px $main-paddings-left;
}
.row.top-padding-5{
	padding:5px $main-paddings-left 5px $main-paddings-left;
}
.row.marginleft22{
	margin-left:22px;
}
.blue{
	color:$blue-color;
}
.linktxtsmall{
	font-size: $font-size-bigger;
	line-height:$line-height-biggest-bigger;
}
.col.center.martop20, .col.right.martop20{
	margin-top:20px;
}
.prevnextbox{
	border-top: $border-width-normal solid $gray-color;
}

.item.key.lighttext,
.item.counter.lighttext{
	color:$medium-gray-color;
	line-height: $line-height-biggest;
}
.icon.index2.small{
	position: relative;
	left: auto;
	top: auto;
	padding:$main-padding-empty;
	line-height:$line-height-biggest-normal;
	margin: 0px 15px 10px 0;
	width: auto;
}
.item.item-checkbox.checkbox-clean{
	border:$border-width-empty;
	background:none;
}
.item.no-top-bottom-padding {
	padding: $main-padding-empty $main-paddings-left $main-padding-empty $main-paddings-left;
}
.item.nopadding{
	padding:$main-padding-empty;
}
.item.no-border{
	border:$border-width-empty;
}
.item.text-left{
	justify-content: inherit;
	text-align:left;
	padding:8px $main-paddings-left;
}
.item.small-top-bottom-padding{
	padding:10px $main-paddings-left 10px $main-paddings-left;
}
.item.small-top-bottom-margin{
	margin:10px 0;
}
.item.no-bottom-border{
	border-bottom: $border-width-empty;
}
/**************************************
	RIPPLE EFFECT
**************************************/
a.item.ripplecenter{
	background-color:transparent;
    position: relative;
    overflow: hidden;
    outline: none !important;
}
a.item.ripplecenter:after {
    content: "";
	background:$ripple-left-color;	
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left:360%;	
    margin-top: -120%;
	margin-bottom: -120%;
    margin-left: -120%;
	margin-right: -120%;	
    opacity: 0;
	transition:$ripple-transition;
}
a.item.ripplecenter:active:after,
a.item.ripplecenter.activated:after{
    padding-top: 0;
    padding-left: 0;   
	margin-top:0;
    margin-left:45%;
    opacity: 1;
    transition: 0s;
}

a.item.rippleleft{
	background-color:transparent;
    position: relative;
    overflow: hidden;
    outline: none !important;
}
a.item.rippleleft:after {
    content: "";
	background:$ripple-left-color;	
    display: block;
    position: absolute;
    border-radius: 50%;    
	padding-top: 300%;
    padding-left: 400%;
    margin-top: -150%;
    margin-left: -200%;
    opacity: 0;
	transition:$ripple-transition;
}
a.item.rippleleft:active:after,
a.item.rippleleft.activated:after{
    padding-top: 0;
    padding-left: 0;   
	margin-top:0;
    margin-left:0;
    opacity: 1;
    transition: 0s;
}
/**************************************
	OTHER
**************************************/
.col40.left-empty-col {
  margin-left: 78px;
} 
.col40 {
  width: 38%;
} 
.col20 {
  max-width: 25%;
  margin-right: 20px;
} 
.big-green-number {
  font-size: $header-size-large;
} 
/**************************************
	ADJUST HEADER IF HAS SUBTITLE
**************************************/
/*
.platform-android .bar .title span.hassub{
	line-height: 42px;
}
.platform-android .bar .title span.hassub .sub-title,
.bar .sub-title{
	top: 29px;
}
*/

/*============================================
	PICKING OVERWRITES BY KIM
============================================*/
.icon-round-blue{
	padding:$main-padding-empty;
	position:absolute;
	bottom: 6px;	
	left: 0;
	width:15px;
	height:15px;
}
.icon-small-info{
	width:16px;
	height:16px;
}
.col-10{
	position:relative;
}
.right-count{
	margin-right:2px;
	display:block;
}
.picking-user-icon{
	position: absolute;
	top: 3px;
	left: 0;
	width: 14px;
	height:14px;
}
.item-subtitle{
	font-size:$font-size-medium;
	text-transform: uppercase;	
}

.item-complex.item-left-editable.no-border,
.item.item-checkbox.no-border,
.ui-radio .item.item-radio.no-border,
.ui-radio-checkmark .item.item-radio.no-border,
.item.item-icon-left.no-border{
	background:transparent;
}
.icons-tu{
	display: flex;
	width: 100%;
	padding:$main-padding-empty;
	margin: 2px 0;
}
.icon.index2 {
   font-size: $font-size-small; 
}
.icon.index2, .item-detail.item-icon-left .icons-tu svg.icon{
	width:16px;
	height:16px;
	padding:$main-padding-empty;
	margin:0 5px 0 0;
	display:inline-block;
	top:auto;
	left:auto;
	position:relative;
}
.max45{
	max-width:45%;
}
.col-30{
	width:33%;
}
.row.no-padding-sides{
	padding:$main-padding-empty;
	overflow: visible;
}
.row.top-border-gray{
	border-top:$border-width-normal solid $gray-color;
}
.item.top-border-gray{
	border-top:$border-width-normal solid $gray-color;
}
.row.no-border-bottom,
.col.no-border-bottom,
div.no-border-bottom{
	border-bottom:$border-width-empty;
}
.col.no-padding-sides{
	overflow: visible;
}
.col.margin-right{
	margin-right:15px;
}
.item .row.bottom-margin{
	margin-bottom:20px;
}

.col-30.valign-text,
.col-33.valign-text,
.col-66.valign-text{
	line-height: $line-height-larger;
	min-height: $min-height-medium;
}

.reset-margin{
	margin: 0 -1px;
}
.bar-footer{
	border-top:$border-width-normal solid $gray-color;
}
.icon.index, .item-detail.item-icon-left .icon {    
    padding-top: 17px;
}
.item.last-item-in-list,
.item.no-border.last-item-in-list{
	margin: 0 0 10px 0;
}
.item.left-counter{
	border-bottom: $border-width-empty;
	padding:$main-padding-empty $main-paddings-left;
	border-width: $border-width-empty;
}
.col-40{
	width:40%;
}
.item.left-counter > div.row > .col-20,
.item.left-counter > div.row > .col-40{
	padding:$main-paddings-top 0;
	border-bottom:$border-width-normal solid $gray-color;
	border-width:$border-width-normal;
	position: relative;
}
.item.left-counter > div.row > .col-20.no-border-bottom,
.item.left-counter > div.row > .col-40.no-border-bottom{
	border-bottom:$border-width-empty;
	padding:$main-paddings-top 0;
}
.item.key.top-bottom-padding{
	padding:$main-paddings-top 50px;	
}
.small-number{
	font-size: $font-size-normal;
	font-weight: normal;
	padding:$main-padding-empty;
	margin: 0 0 0 5px;
}
.item.left-counter > div.row > .col-20.small-left-counter-title,
.item.left-counter > div.row > .col-40.small-left-counter-title,
.item.left-counter > div.row > .col-20.no-border-bottom.small-left-counter-title,
.item.left-counter > div.row > .col-40.no-border-bottom.small-left-counter-title,
.small-left-counter-title{
	font-size: $font-size-normal;
	font-weight: normal;
	padding:10px 0;
}
span.medium-count{
	display:block;
	text-align:center;
	font-size:$font-size-biggest;
	line-height:$line-height-biggest;
	margin:0 0 5px 0;
	padding:$main-padding-empty;
}
span.medium-count-text{
	display:block;
	text-align:center;
	font-size:$font-size-normal;
	line-height:$line-height-normal;
	margin:0 0 5px 0;
	padding:$main-padding-empty;
	text-transform: uppercase;
}
.set-absolute{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.set-absolute .text-base.center.left{
	position:absolute;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left:0;
	width:50%;
	margin:auto;
	overflow: visible;
}
.set-absolute .text-base.center.right{
	position:absolute;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
	width:50%;
	right:0;
	margin:auto;
	overflow: visible;
}
/*******************************
    NEW UPDATE ON P.O
 *******************************/
.item-textarea {
    width: 100%;
    padding: 8px;
}
.item-textarea textarea {
    width: 100%;
}
.row-wrapper {
    padding: 0 6px;
}
.item-icon-left.item-accordion {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom-width: 1px;
    background: none;
}
.item-accordion-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}
.header + .item-toggle.item {
    border-width: 0;
}
.item-accordion .icon {
    height: 40px;
    top: 14px;
}
.ui-accordion .list {
    margin-top: 10px;
}
.ui-accordion .item-icon-left {
    background: none;
    border-bottom-width: 1px;
}
.ui-accordion .item-detail {
    padding-top: 10px;
}
.item-wrap {
    padding: 10px 11px;
}
.item-wrap .row {
    padding: 8px 0;
}
.item-wrap .col {
    padding: 0;
}
.item-wrap .col.label {
    font-size: 18px;
}
.item-wrap .col:last-child {
    margin-left: 10px;
}
/*******************************
    Raf's changes
 *******************************/
.ui-checkbox .checkbox-icon,
.ui-checkbox-blank .checkbox-icon {
    width: 20px;
}
.ui-radio-checked .radio-icon {
    visibility: visible;
}
.checkbox-icon {
    width: 20px;
}
 
.item-left-edit.visible.active,
.item-delete .button.icon {
    width: 100%;
}

.list-ctr {
    font-size: 9px;
    line-height: 10px;
}

.item.counter.ctr {
    padding: 10px 52px 4px;
}
input[type='number'] {
    width: 100%;
}
.log-box.row {
    padding:10px 2px 10px 16px;
    width: auto;
}
.log-box .col:nth-child(2n) {
    padding: 1px 5px;
}
.log-box .col.input-text {        
    padding: 2px 5px;
}
.log-box button.ion-plus-round {
    line-height: normal;
    width: 100%;
}
.item-left-edit.visible.active, .item-delete .button.icon {
    width: 100%;
}
/*.list-left-editing .item-complex.item-icon-left .item-content {
    padding-left: 21px;
}*/
.title.title-left {
    color: #FFF;
}        
.log-box .ui-counter {
    color: green;
    font-size: 30px;
    line-height: 28px;
}
.log-list .list-left-editing .item-left-editable .item-content {
    -webkit-transform: none;
    transform: none;
}
.item-left-edit.visible.active,
.item-delete .button.icon {
    width: 100%;
}
 