/*******************************
    Navigational Drawer
*******************************/
.dark.menu {
    background-color: $darkest-gray-color-darkest;
}
.dark.menu .bar {
    background-color: $darkest-gray-color-darkest;
    background-image: none;
    color: $medium-gray-color;
}
.dark.menu .item {
    border-color:$darkest-gray-color-darker;
    background-color: transparent;
    padding:$navigation-drawer-item-padding;
    font-size: $font-size-biggest;
	color:red;
}
.menu .has-header {
    top: $navigation-drawer-header-height;
}
.menu .has-footer {
    bottom: $navigation-drawer-footer-bottom-position;
}
.menu .bar-header {
    height: $navigation-drawer-header-height;
    text-align: center;
    border-bottom-width: 0;
}
.menu .user-section {
    width: 100%;
    margin-bottom: 20px;
}
.menu .icon.avatar {
    margin:$main-paddings-top 0 10px 0;
    border-radius: $navigation-drawer-header-avatar-border-radius;
    height: $navigation-drawer-header-avatar-height;
    width: $navigation-drawer-header-avatar-width;
}
.menu svg.icon {
    height: 50px;
    vertical-align: middle;
}
.menu .user-name {
    margin: 15px 0 10px;
    font-size: $font-size-biggest-bigger;
    color: $white-color;
}
.menu .job-title {
    font-size: $font-size-medium;
    color: $white-color;
}

.menu .item {
    background: $navigation-drawer-item-background;
    border-width: $border-width-normal;
}
.menu .item a {
    color: $white-color;
    display: block;
    text-decoration: none;
}
.menu .item a .title {
    margin-left: 12px;
}
.menu .item-complex .item-content {
    padding: 0;
    background-color: transparent;
}
.menu .bar-footer.bar {
    height: 88px;
}
.menu .bar-footer.list {
    padding-top: 0;
}
.menu .bar-footer.item {
    font-size: $font-size-normal;
    padding: 8px 10px 8px 40px;
    border-color: transparent;
}
.menu .bar-footer.item:nth-last-child(2) {
    margin-top: 40px;
}
.menu .bar-footer.item a {
    color: $gray-color;
}
