/*******************************
    Navigation Bar overwrite
 *******************************/
.platform-android .bar .title,
.bar .title {
    font-size: $font-size-biggest;
    line-height: $top-navigation-bar-height;
}
.bar {
    color:$white-color;
    height:$top-navigation-bar-height;
    padding:$top-navigation-bar-padding;
    background-color: $lighter-white-color;
}
.bar .title {
    height:$top-navigation-bar-height;
    margin:$top-navigation-bar-title-padding;
	text-align: left;
}
.bar .title.title-left {
  text-align: left;
}
.bar .sub-title {
    font-size: $font-size-small;
    position: absolute;
    top: $top-navigation-bar-subtitle-top-position;
    left: 0;
    line-height: $line-height-biggest;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.bar .button.button-clear {
    color: $white-color;
    font-size: $font-size-normal;
    font-weight: bold;
}
.has-header {
    top: $top-navigation-bar-height;
}
/*******************************
    Navigation Bar Button
 *******************************/
.bar .button {
    padding: 0;
    border-width: 0;
}
.bar .buttons > .button {
    min-height: 46px;
}
.bar .title + .buttons {
    right:$top-navigation-bar-button-position-right;
	left:$top-navigation-bar-button-position-left;
}
/*******************************
    Navigation Bar Button Icon
 *******************************/
.button .icon {
    vertical-align: text-top;
}