/*******************************
    TEXT
*******************************/
/*******************************
    General Style
*******************************/
body, .ionic-body {
    font-family: 'RobotoRegular', arial, sans-serif;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../assets/motion/fonts/Roboto-Regular-webfont.eot');
    src: url('../assets/motion/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/motion/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../assets/motion/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../assets/motion/fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
		 /*
		 src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
		 */
    font-weight: normal;
    font-style: normal;
}
/*******************************
    Text: Alignment
*******************************/
.text-left {
    text-align: left;
}
.text-center, .text-base.center{
    text-align: center;
	position:relative;
}
.text-right {
    text-align: right;
}
.upperCase, .uppercase {
    text-transform: uppercase;
}
.Capitalize, .capitalize{
	text-transform: capitalize;
}
.lowerCase, .lowercase{
	text-transform: lowercase;
}
.text-base{
	font-size:$font-size-normal;
}
.text-middle{
	min-height: $min-height-big;
	line-height: $line-height-xlarge;
}
.text-middle span{
	min-height: $min-height-big;
}