<ion-view hide-back-button="true">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon">
            <mxi-icon icon="icon-nav-menu"></mxi-icon>
        </button>

        <ion-bar-header style="background-color:#C65F5F" class="bar {{setNavColor}} bar-shadowed" ng-show="vm.showOptionToDelete">
            <button side="left" class="button button-icon" ng-click="vm.clearAll();">
                <mxi-icon icon="icon-nav-close"></mxi-icon>
            </button>
            <h1 class="title title-left" style="left: 52px; text-align:left;">{{ vm.totalSelected }} {{ "lbl_selected" | translate }}</h1>
            <div class="buttons pull-right">
                <button class="button button-clear" ng-click="vm.deleteDockLog()" ng-disabled="!vm.totalSelected">{{ "btn_delete" | translate }}</button>
                <button class="button button-icon" ng-click="vm.dockLoggingOption($event,'clearOrSelectAll')">
                    <mxi-icon icon="icon-nav-more"></mxi-icon>
                </button>
            </div>
        </ion-bar-header>

    </ion-nav-buttons>
    <!-- END Left header buttons -->

    <!-- START Title header -->
    <ion-nav-title  ng-click="vm.dockLoggingOption($event,'vendor')">
     {{ 'lbl_dock_logging' | translate }}<div class="sub-title">{{ vm.selectedCompanyID }} - {{ vm.selectedCompanyDesc }}</div>
    </ion-nav-title>
    <!-- END Title header --> 

    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <div ng-show="vm.dockLog.length">
            <button class="button button-clear" ng-click="vm.print()" ng-if="vm.dockLogAutoPrint == 'Y'">
                {{ 'btn_print' | translate }}
            </button>
            <button class="button button-clear" ng-click="vm.send()" ng-show="vm.dockLogAutoPrint == 'N'">
                {{ 'btn_send' | translate }}
            </button>
        </div>
        <button class="button button-icon" ng-click="vm.dockLoggingOption($event)">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->


    <!-- START View content --> 
    <ion-content class="has-header">
        <div class="list">
            <div class="item text-center key">
                {{ 'scan_barcode_or_enter_tracking' | translate }}
            </div>
            <div class="item text-center counter ctr">
                <!--span class="txt-value ng-binding" style="padding-right: 15px;">
                {{ vm.selectedLocationID }} - {{ vm.selectedLocationName }}</span>
                <span style="color:#bebebe;">|</span>
                <span style="padding-left:15px;">
                     {{ vm.printerName }}
                </span-->
                
                <div class="row" ng-if="vm.dockLogAutoPrint == 'Y'">
                    <div class="col" style="text-align:right;">
                        {{ vm.selectedLocationCode }} - {{ vm.selectedLocationName }}
                    </div><span style="padding: 0 15px;color:#bebebe;">|</span>
                    <div class="col" style="text-align:left;">
                        {{ vm.printerName }}
                    </div>
                </div>
                <div class="row" ng-if="vm.dockLogAutoPrint == 'N'">
                    {{ vm.selectedLocationCode }} - {{ vm.selectedLocationName }}
                </div>

            </div>

            <div class="item no-border">
                <div class="row">
                    <div class="col">
                        {{ "lbl_carrier" | translate }}
                    </div>
                    <div class="col text-right blue" ng-click="vm.goTo('app.dock-log-change-vendor');">
                        {{ vm.vendorName }} <div ng-if="!vm.vendorName.length">{{ "lbl_add_carrier" | translate }}</div>
                    </div>
                </div>
            </div>
            
            <!--div class="row log-box item">
                <div class="col col-80 input-text">
                    <input type="number" ng-model="vm.modTrackingNum" placeholder="{{ 'lbl_tracking_number' | translate }}" max-length="50">
                </div>
                <div class="col">
                    <button class="button button-icon ion-plus-round" ng-click="vm.addDockLog();" ng-disabled="!vm.modTrackingNum"></button>
                </div>
            </div>
            <div class="item text-center counter">
                {{ 'lbl_count' | translate }} : {{ vm.dockLog.length }}
            </div-->
            <div class="row log-box item">
                <div class="col">
                    <div class="text-center upperCase list-ctr">
                        <div class="ui-counter">{{ vm.dockLog.length }}</div>
                        {{ 'lbl_count' | translate }}
                    </div>
                </div>
                <div class="col input-text">
                    <input type="text" ng-model="vm.modTrackingNum" placeholder="{{ 'lbl_tracking_number' | translate }}" max-length="50">
                </div>
                <div class="col">
                    <button class="button button-icon ion-plus-round" ng-click="vm.addDockLog();" ng-disabled="!vm.modTrackingNum"></button>
                </div>
            </div>

        <ion-list show-delete="vm.showOptionToDelete" class="log-list">
            <ion-item collection-repeat="item in vm.dockLog" class="item-icon-left">
                <ion-delete-button class="ui-checkbox{{ (item.val)  ? '' : '-blank' }}" ng-click="item.val = !item.val; vm.checkboxClicked();" >
                    <i class="checkbox-icon"></i>
                </ion-delete-button>
                <input type="checkbox" ng-model="item.val" style="display:none;" />  
                {{ item.TrackingNumber  }} 
                <p>{{ item.CarrierName  }}</p>
            </ion-item>
        </ion-list>

    </ion-content>
    <!-- END View content --> 
</ion-view>