<ion-view hide-back-button="true">
  <ion-nav-bar class="bar {{setNavColor}}">
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="vm.goTo('app.dock-log','slideDown')">
        <mxi-icon icon="icon-nav-check"></mxi-icon>
      </button>
    </ion-nav-buttons>
    <!-- END Left header buttons -->

      <!-- START Title header -->
  	<ion-nav-title>
  		{{ 'lbl_dock_log_summary' | translate }}
  	</ion-nav-title>
  	<!-- END Title header --> 
  </ion-nav-bar>

    <ion-content>
      <div class="item text-center key">
        {{ 'lbl_dock_log_created' | translate }}
      </div>
      <div class="row">
          <h2>{{ vm.dockLogVendor }}</h2>
      </div>

      <div class="row">
        <div class="col col-25 col-left">
          <div class="text-center">
            <div class="ui-counter">
              {{ vm.dockLog.length }}
            </div>
            COUNT
          </div>
        </div> 
      </div>

      <div class="col">
        <div class="row">

          <div class="col col-33">
            {{ 'lbl_date' | translate }}
          </div> 
          <div class="col">
            {{ vm.date | date:'MM/dd/yyyy' }}
          </div> 
        </div>

        <div class="row">
          <div class="col col-33">
            {{ 'lbl_time' | translate }}
          </div> 
          <div class="col">
            {{ vm.date | date:'hh:mm:ss a' }}
          </div> 
        </div>
        <div class="row">
          <div class="col col-33">
            User ID
          </div> 
          <div class="col">
            {{ vm.userID }}
          </div>  
        </div>
      </div>
      
    </ion-content>
</ion-view>