<ion-view>
    <ion-nav-title>
		{{ 'lbl_select_carrier' | translate }}
	</ion-nav-title>
    <ion-content>
      <ion-refresher
          pulling-text='{{ "lbl_pull_to_refresh" | translate }}'
          on-refresh="vm.doRefresh()">
      </ion-refresher>
        <ion-list class="ui-radio-checkmark">
            <form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="vm.searchText" placeholder="{{'search_carrier' | translate}}">
                    </label>
                    <button type="reset" class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch()">{{ 'btn_cancel' | translate }}</button>
                </div>
            </for>

            <div class="item text-center key">{{"lbl_selected" | translate}}: {{ vm.selectedVendorCode }} - {{vm.selectedVendorName}}</div>
            <ion-radio ng-class="{true: 'ui-radio-checked'}[vm.selectedVendorID == item.VendorID]" ng-model="vm.selectedVendorID" ng-click="vm.saveVendor()" collection-repeat="item in vm.vendorList | filter:vm.searchText" value="{{ item.VendorID }}">
            {{ item.VendorCode }} - {{ item.VendorName }}
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>