/*******************************
    Navigational Drawer
 *******************************/
ion-list.list.dashboard div.list ion-item.item{	
	border:0;
	border-bottom:1px solid #bebebe;
	border-top:1px solid #bebebe;	
	font-size: 18px;
	padding:10px 16px;
}
.list.dashboard h2{
	padding:0 1rem 0 1rem;
}
.chart-total-time{
	line-height: 16px;
	padding:3px 10px 0 3px;
	font-weight: normal;
	font-size: 12px;
}
/*
	DROPDOWN
*/
.item-select.smalldropdown .dropdown {
	border: 0;
	padding:0 40px 0 5px;
}
/*.item.item-input.smalldropdown{
	max-width:120px;
	border:0;
	margin:5px 0 0 15px;
}
.item-select.smalldropdown:after{
	color: #000;
}
.item.item-input.smalldropdown select.dropdown{
	border:0;
	color: black;
}*/
/*
	TABS	
*/
.has-header.has-tabs{
	top: 105px;
}
.has-tabs,
.bar-footer.has-tabs {
  bottom: 0;
}
.tabs-top.tabs-striped{
	position: fixed;
	top: 12px;
	left: 0;
	right: 0;
	z-index: 500;
}
.tabs-top > .tabs,
.tabs.tabs-top{
	top:44px;
	/*position: fixed;*/
	background-color: #66A140;
}
.tabs-top.tabs-striped .tab-item{
	color:white;
	font-weight:bold;
	text-decoration:uppercase;
}
.tabs-striped .tab-item.tab-item-active,
.tabs-striped .tab-item.active,
.tabs-striped .tab-item.activated{
	  border-color:#C4FB58;
}
/*
    D3/NVD3 Charts
*/
.d3chart{
	position:relative;
	width:100%;
	/*min-height:300px;*/
	width: 100%;
	height: auto;
	padding:5px 0 10px 0;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	/*background:lightgray;*/
	margin:0 0 0 0;
}
.d3chart > svg{
	width:100%;
	min-height:225px;
}
/*	LINE MASKER */
.linemasker{
	fill:white;
	fill-opacity: 1;
	z-index:4000;
	border:0;
	stroke: none;
	
	-webkit-animation: linemaskeranimation 10s ease-out 1s 1 forwards;
	-moz-animation:    linemaskeranimation 10s ease-out 1s 1 forwards;
	animation:         linemaskeranimation 10s ease-out 1s 1 forwards;
	/*opacity:0;*/
}
@-webkit-keyframes linemaskeranimation {
        from {x:0;y:0;}
        to {x:1000;y:0;}
}
/*	DOTS	*/
.nv-point {
    stroke-opacity:1!important;
    stroke-width:10px!important;
    fill-opacity:1!important;
	fill: white;
	/*stroke: #61982F;*/
	fill-opacity: 1;
	/*shape-rendering: crispEdges;	*/
	stroke-linecap:butt;
	stroke-linejoin:bevel;
	-webkit-animation: nv-pointanimation 1s ease-out 3s 1 forwards;
	-moz-animation:    nv-pointanimation 1s ease-out 3s 1 forwards;
	animation:         nv-pointanimation 1s ease-out 3s 1 forwards;
	opacity:0;	
}
@-webkit-keyframes nv-pointanimation {
        from {opacity:0;}
        to {opacity:1;}
}
/*	FLOATING LABELS	*/
.nv-group text{
	fill:black;
	color:black;
	stroke-width:0.2px;
	stroke-opacity:1!important;
	stroke: #000;
	opacity:0;
	
	font-family: RobotoRegular;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    pointer-events: none;
	
	-webkit-animation: nv-textanimation 1s ease-out 3s 1 forwards;
	-moz-animation:    nv-textanimation 1s ease-out 3s 1 forwards;
	animation:         nv-textanimation 1s ease-out 3s 1 forwards;
}
.nv-group text.noanim{
	opacity:1;
	-webkit-animation:none;
	-moz-animation:none;
	animation:none;
}
@-webkit-keyframes nv-textanimation {
        from {opacity:0;}
        to {opacity:1;}
}
/*	LINE	*/
.nvd3 g.nv-groups path.nv-line {
  /*stroke-dasharray:5,5;*/
  stroke-width: 2px;
  fill: none;  
}

.nvd3 text{
	color:black;
}
.nv-legend-symbol{
	stroke-width:20px;
    fill: rgb(97, 152, 47);
    fill-opacity: 1;
    stroke: rgb(97, 152, 47);
}
.nv-legend-text{
	text-transform:capitalize;
	margin:0;
	dx:20;
}
.nv-axislabel{
	color:black;
	fill:black;
}
.nv-x .tick {
  /*display: none;*/
}
.nvd3 .nv-axis .nv-axisMaxMin text{
	font-weight:normal;
}
.tick:not(.zero) {
  /*opacity: 0;*/
  /*display: none;*/
}
.tick line {
  /*display: none;*/
}
.nvd3 .nv-axis path,
.nvd3 .nv-axis path.domain,
.nvd3 .nv-axis.nv-x path.domain {
    /*fill: none;
    stroke: #000;
    stroke-opacity: .3;
    shape-rendering: crispEdges;*/
}
.nvd3 .nv-axis path.domain{
	stroke-opacity: 0;
}
.nvd3 .nv-axis.nv-x path.domain {
    /*stroke-opacity: 0;*/
}
.tooltipcustom{
	padding:10px;
}
.tooltipcustom p{
	text-align:left !important;
	padding:0;
	margin:0;
	line-height:1.5;
}