<ion-view hide-back-button="true">
	
    <ion-nav-title ng-click="vm.optionParLocation($event)">
		{{"pick_for_par" | translate}} <div class="sub-title">{{vm.CurrentParLocation}}<div class="arrow-down"></div></div>   
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goTo('app.pick-for-par')">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
		<div class="ui-button-bar">
			<button class="button button-clear" ng-click="vm.goTo('app.pick-for-par')">{{ "btn_done" | translate }}</button>
			<button class="button button-icon left-space" ng-click="vm.goTo('app.downloaded-pick-for-par-details-list',vm.ParLocationID,vm.ParLocationDesc)">
				<mxi-icon icon="icon-nav-list"></mxi-icon>
			</button>
		</div>
    </ion-nav-buttons>
  
	<ion-content class="has-header">
		<div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
            {{ "enter_pulled_quantity" | translate }}
        </div>
        <div class="item text-center counter">{{ vm.currentSlideNumber }} of {{ vm.pickForPar.length }}</div>

		<ion-slide-box  show-pager="false" on-slide-changed="vm.slideHasChanged($index)">
			<ion-slide ng-repeat="item in vm.slidePickForPar" style="-webkit-transform: translate(320px, 0px) translateZ(0px);">
		        <ion-list>
		            <ion-item class="item-icon-left item-detail">
		                <i class="icon">
		                	<span class="no-image"></span>
		                </i>
		                <div class="ac-container2">
		                    <label>
		                        {{item.ItemNo}}
		                        <p>{{item.ItemDesc}}</p>
		                    </label>

		                    <div class="row">
		                        <div class="col">{{"par_location" | translate}}</div>
		                        <div class="col">{{item.LocationDesc}}</div>
		                    </div>
		                    <div class="row">
		                        <div class="col">{{"lbl_bin_no" | translate}}</div>
		                        <div class="col">
		                            <div class="ui-select">
		                                <select>
		                                    <option value="volvo">Volvo</option>
		                                    <option value="saab">Saab</option>
		                                    <option value="mercedes">Mercedes</option>
		                                    <option value="audi">Audi</option>
		                                </select>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col">{{"lbl_mfr_no" | translate}}</div>
		                        <div class="col">{{item.ManufacturerNumber}}</div>
		                    </div>
		                    <div class="row">
		                    	<div class="col">{{ "lbl_gtin" | translate }}/{{ "lbl_hibc" | translate }}</div>
		                    	<div class="col">{{(item.GTIN == "0")?"--":item.GTIN}}</div>
		                    </div>
		                </div>
		            </ion-item>
			            <div class="row">
		                    <div class="col col-25 text-center">
		                        <span class="ui-emerald-6 num">{{(item.PFPQuantity.length > 0) ? item.PFPQuantity : 0}}</span> <div class="label">{{"lbl_pick" | translate}}</div>
		                    </div>
		                    <div class="col text-center">
		                        <span class="num">{{(item.PFPQuantity.length > 0) ? item.PFPQuantity : 0}}</span> <div class="label">{{"lbl_remaining" | translate}}</div>
		                    </div>
		                    <div class="col">
		                        <label class="item item-input">
		                            <input type="number" placeholder='{{"qty" | translate}}' name="pulled-quantity-details" ng-click="vm.highlightField($event)" ng-blur="vm.saveValues(item,$event);" valid-number value="{{item.PickedQuantity}}">
		                        </label>
		                        <div class="label">{{"lbl_pulled" | translate}}</div>
		                    </div>
		                </div>
		        </ion-list>
			</ion-slide>
		</ion-slide-box>

	</ion-content>
	
    <ion-footer-bar align-title="left">
        <div class="buttons xi-nav">
            <button class="button button-icon icon-left" ng-click="vm.slidePrevious()" ng-disabled="vm.currentSlideNumber == 1">
                <mxi-icon icon="icon-previous"></mxi-icon>
                <span class="btn-text">{{"lbl_previous" | translate}}</span>
            </button>
        </div>
        <div class="buttons xi-nav pull-right">
            <button class="button button-icon icon-right" ng-click="vm.slideNext()">
                <span class="btn-text">{{"lbl_next" | translate}}</span>
                <mxi-icon icon="icon-next"></mxi-icon>
            </button>
        </div>
    </ion-footer-bar>
 </ion-view>
