<ion-view hide-back-button="true">
    <ion-nav-title ng-click="vm.optionParLocation($event)">
        {{"pick_for_par" | translate}} <div class="sub-title">{{vm.CurrentParLocation}}<div class="arrow-down"></div></div>   
    </ion-nav-title>
    
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goTo('app.pick-for-par')">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="ui-button-bar">
            <button class="button button-clear" ng-click="vm.goTo('app.pick-for-par')">{{ "btn_done" | translate }}</button>
            <button class="button button-icon left-space" ng-click="vm.goTo('app.downloaded-pick-for-par-details',vm.ParLocationID,vm.ParLocationDesc)">
                <mxi-icon icon="icon-nav-grid"></mxi-icon>
            </button>
        </div>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        <ion-list>
            <form>
                <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
                   <label class="item-input-wrapper">
                    <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{"search_item" | translate}}' ng-model="vm.searchText">
                    <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                        <mxi-icon icon="icon-search-close"></mxi-icon>
                    </button>
                   </label>
                    <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">{{ "btn_cancel" | translate }}</button>
                </div>
            </form>
            <div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
                {{"tap_item_enter_pull_quantity" | translate}}
            </div>
            <div class="item text-center counter">{{"lbl_total" | translate}} ({{ vm.pickForPar.length }})</div>
            <a class="item item-icon-left" href="#" collection-repeat="item in vm.pickForPar | filter:vm.searchText">
                <i class="icon index"><span>{{ $index+1 }}</span></i>
                {{ item.ItemDesc }}
                <p>{{item.ItemNo}}</p>
                <div class="row">
                    <div class="col">
                        <div class="wrap">
                            <div>   
                                {{(item.PFPQuantity.length > 0) ? item.PFPQuantity : 0}} <div class="label">{{"lbl_remaining" | translate}}</div>
                            </div>
                            <div>
                                <label class="item item-input">
                                    <input type="number" placeholder='{{"qty" | translate}}' name="pulled-quantity-list" ng-click="vm.highlightField($event)" valid-number ng-blur="vm.saveValues(item,$event);" value="{{item.PickedQuantity}}">
                                </label>
                                <div class="label">{{"lbl_pulled_qty" | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>  
            </a>
        </ion-list>
    </ion-content>
</ion-view>