<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="vm.goBack()">
            <mxi-icon icon="icon-nav-back"></mxi-icon>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
    	{{"title_change_stock_location" | translate}}
	</ion-nav-title>    

    <ion-content>
        <ion-list class="ui-radio-checkmark">
            <form>
                <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
                    <label class="item-input-wrapper">
                        <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="vm.searchText" placeholder="{{'search_a_location' | translate}}" maxlength="32">
                        <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                            <mxi-icon icon="icon-search-close"></mxi-icon>
                        </button>
                    </label>
                    <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch()">{{"btn_cancel" | translate}}</button>
                </div>
            </form>
            
            <div class="item text-center key">{{"lbl_selected" | translate}}: {{vm.inventoryLocationID }} - {{vm.inventoryLocationDesc }}</div>
            <ion-radio collection-repeat="item in vm.itemList | filter:vm.searchText" ng-click="vm.saveLocationSelected()" 
            ng-model="vm.inventoryLocationID" value="{{item.InventoryLocationID}}">
               {{ item.InventoryLocationID }} - {{item.InventoryLocationDesc}}
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>