<ion-list>
	<div class="ui-radio" >
		<ion-radio 
			ng-click="vm.saveCurrentLocation(item.ParLocationID,item.ParLocationDesc)"
			ng-repeat="item in vm.parLocations">{{item.ParLocationDesc}}</ion-radio>
	</div>
</ion-list>