
<ion-view hide-back-button="true">
    <!-- START Right header buttons -->
    <ion-nav-buttons side="right">
      <div class="ui-button-bar">
        <!--button class="button button-clear" ng-show="vm.showSendButton" ng-click="vm.SendFormToServer()">{{ "lbl_send_btn" | translate }}</button-->
        <button class="button button-icon" ng-click="vm.goToAddParCount()">
          <mxi-icon icon="icon-nav-plus"></mxi-icon>
        </button>
        <button class="button button-icon" ng-click="vm.pickForParOption($event);">
            <mxi-icon icon="icon-nav-more"></mxi-icon>
        </button>
      </div>
    </ion-nav-buttons>
    <!-- END Right header buttons -->
    <!-- START Left header buttons -->
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon">
        <mxi-icon icon="icon-nav-menu"></mxi-icon>
      </button>

      <ion-bar-header style="background-color:#317C73" class="bar bar-shadowed" ng-show="vm.showOptionToDelete || vm.showOptionSingleSweeping">
        <button side="left" class="button button-icon" ng-click="vm.clearAll(); vm.showOptionToDelete = false;vm.showOptionSingleSweeping = false;" id="closeOption">
            <mxi-icon icon="icon-nav-close"></mxi-icon>
        </button>
        <h1 class="title title-left" style="left: 52px; text-align:left;color:#fff;">{{ vm.selectedParCount() }} {{ "lbl_selected" | translate }}</h1>
        <div class="buttons pull-right">
            <button class="button button-clear" ng-click="vm.deleteParForms()" ng-disabled="!vm.selectedParCount()" ng-show="vm.showOptionToDelete">{{ "btn_delete" | translate }}</button>
            <button class="button button-clear" ng-click="vm.continueToSingleSweeping()" ng-disabled="!vm.selectedParCount()" ng-show="vm.showOptionSingleSweeping">{{ "lbl_pick" | translate }}</button>  
            <button class="button button-icon" ng-click="vm.optionMore($event,'add-par-form-settings');">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </div>
       </ion-bar-header>

    </ion-nav-buttons>
    <!-- END Left header buttons -->
    <!-- START Title header -->
   <ion-nav-title>
         {{"pick_for_par" | translate}}<div class="sub-title">{{vm.companyHeaderID }} - {{vm.companyHeader}}</div>
   </ion-nav-title> 

   <!-- END Title header --> 
   <!-- START View content --> 
  <ion-content class="has-header">
      <ion-list show-delete="vm.showOptionToDelete || vm.showOptionSingleSweeping">
          <form>
              <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
               <label class="item-input-wrapper">
                <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{"search_par_forms" | translate}}' ng-model="vm.searchText" maxlength="32">
                   <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                        <mxi-icon icon="icon-search-close"></mxi-icon>
                    </button>
               </label>
                <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">{{ "btn_cancel" | translate }}</button>
              </div>
          </form>
          
          <div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
             {{ "scan_parforms_and_perform_picking" | translate }}
          </div>
          <div class="item text-center counter">{{"lbl_total" | translate}} ({{vm.pickForPar.length}}) </div>
          
          <h3 class="header" ng-if="vm.pickForPar.length !== 0">{{vm.inventoryLocationDesc}}</h3>
          <span class="header" style="padding-left:16px;padding-top:0px;" ng-if="vm.pickForPar.length !== 0"> {{ "lbl_printer" | translate }} : {{ vm.pickForParSelectedPrinter }}</span>
          
          <ion-item collection-repeat="item in vm.pickForPar | filter:vm.searchText" class="item-icon-left item-icon-right with-date" href="#">
              <div class="wrap-normal" ng-click="vm.goToPickForParDetails(item.ParLocationID,item.ParLocationDesc)">
                  <ion-delete-button class="ui-checkbox{{ (item.val)  ? '' : '-blank' }}"  ng-click="item.val = !item.val;" >
                    <i class="checkbox-icon"></i>
                  </ion-delete-button>
                  <div class="icon scale notextwrap">
                        <item-loading item-param="{{item}}" my-directive="{{item.ParLocationID}}"  item-module="pick-for-par"></item-loading>
                  </div>
                  {{ item.ParLocationCode }}
                  <p>{{ item.ParLocationDesc }}</p>
              </div>
              <i class="icon ui-icon-left" ng-click="vm.SendFormToServer(item.ParLocationID);" ng-if="item.TotalItemCounted > 0">
                  <mxi-icon icon="icon-list-send"></mxi-icon>
              </i>
          </ion-item>


      </ion-list>
  </ion-content>
  <!-- END View content --> 
</ion-view>

 