<ion-view hide-back-button="true">
    <ion-nav-bar class="bar {{setNavColor}}">
        <ion-nav-title>
            {{ "add_par_forms" | translate }}<!--span class="sub-title">My ParForms <div class="arrow-down"></div></span-->
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon" ng-click="vm.goBackToPickforPar()" id="backBtn">
                <mxi-icon icon="icon-nav-close"></mxi-icon>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="vm.addSelectPar()" ng-disabled="!vm.pickForPar.length || vm.selectedPickForPar() == 0">{{ "btn_ok" | translate }}</button>
            <button class="button button-icon" ng-click="vm.optionMore($event,'add-par-form-settings');">
                <mxi-icon icon="icon-nav-more"></mxi-icon>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <form>
                <div class="item item-input-inset" ng-class="{'with-key': vm.localStorShowHelp != '0'}">
                    <label class="item-input-wrapper">
                        <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{"search_par_forms" | translate}}' ng-model="vm.searchText" maxlength="32">
                        <button type="reset" class="button button-icon input-btn" ng-show="vm.searchText.length">
                            <mxi-icon icon="icon-search-close"></mxi-icon>
                        </button>
                    </label>
                    <button class="button button-small" ng-show="vm.searchText.length" ng-click="vm.clearSearch();">{{ "btn_cancel" | translate }}</button>
                </div>
            </form>
            <div class="item text-center key" ng-if="vm.localStorShowHelp != '0'">
                {{ "text_tap_ok_to_add_or_x_to_cancel" | translate }}
            </div>
            <div class="item text-center counter">{{ "lbl_selected" | translate }} ({{vm.pickForPar.length}})</div>
            <ion-checkbox ng-repeat="item in vm.pickForPar" ng-model="item.val" ng-change="vm.checkboxClicked()">
                {{ item.ParLocationCode }}
                <p>{{ item.ParLocationDesc }}</p>
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>